{% extends "app/layout_page.html" %}

{% block css %}
<style>
.back_current {background: #ffffff;}
.back_past {background: #808080;}
.back_future {background: #f8d2cb;}
.back_error {background: #ff0000;}
</style>
{% endblock %}

{% block content %}

<div class="content_wrap">

    <section >

        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="BOM">BOM</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>

        <div class="table_box search">
            <div class="row">
                <div class="col-6 col-md-3 col-lg-3 col-xl-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="BOM구분">BOM구분</span>
                        </div>
                        <select class="form-control2" id="cboBOMType" name="cboBOMType"></select>
                    </div>
                </div>

                <div class="col-6 col-md-3 col-lg-3 col-xl-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="품목구분">품목구분</span>
                        </div>
                        <select class="form-control2" id="cboMaterialType" name="cboMaterialType"></select>
                    </div>
                </div>

                <div class="col-6 col-md-3 col-lg-3 col-xl-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="품목그룹">품목그룹</span>
                        </div>
                        <select class="form-control2" id="cboMaterialGroup" name="cboMaterialGroup"></select>
                    </div>
                </div>

                <div class="col-5 col-md-3 col-lg-3 col-xl-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text fit_box_md" data-labelCd="제품명">제품명</span>
                        </div>
                        <input class="form-control2" id="txtMatName" name="txtMatName"/>
                    </div>
                </div>

                <div class="col-5 col-md-3 col-xl-2 mt-5 tac" >
                    <input class="form-control2" type="checkbox" id="not_past_flag" name="not_past_flag" value="Y" checked />
                    최종
                </div>

                <div class="col-1">
                    <button type="button" class="btn-default" id="btnSearch"><i class="fas fa-search"></i></button>
                </div>

            </div>
        </div>
    </section>

    <section>

        <div class="grid_box">
            <div class="title_box">
                    <span class="right_align rpt" data-labelCd="BOM">BOM</span>
                <button type="button" class="btn-default" id="btnBomNew"><i class="fas fa-plus"></i></button>
                <button type="button" class="btn-danger y_write_auth" id="btnBomDelete"><i class="fas fa-trash"></i></button>
                <button type="button" class="btn-default" id="btnBomEdit"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn-default y_write_auth" id="btnBomReplicate" data-labelCd="복제">복제</button>
                <button type="button" class="btn-default y_write_auth" id="btnBomRevision" data-labelCd="개정">개정</button>
                <button type="button" class="btn-default" id="btnExcel"><i class="fas fa-file-excel"></i>BOM전체출력</button>
                <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
            </div>
            <div class="h-280" data-ax5grid="bom-grid" ></div>  
        </div>

    </section>

    <section>
        <div class="tabs" data-tab="tabWrap">
            <div class="title_box">
                <div class="left_align">
                    <ul class="tab_links">
                        <li><a href="#" data-tablink="#tab_basic" name="tab_basic" class="tab" data-labelCd="1레벨">1레벨</a></li>
                        <li><a href="#" data-tablink="#tab_tree" name="tab_tree" class="tab" data-labelCd="전체레벨">전체레벨</a></li>
                        <li><a href="#" data-tablink="#tab_copy_text" name="tab_copy_text" class="tab" data-labelCd="텍스트입력">텍스트입력</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab" id="tab_basic">
                <div class="title_box">
                        <span class="right_align rpt" data-labelCd="BOM 구성정보">BOM 구성정보</span>
                    <button type="button" class="btn-default" id="btnBomCompNew"><i class="fas fa-plus"></i></button>
                    <button type="button" class="btn-danger y_write_auth" id="btnBomCompDelete"><i class="fas fa-trash"></i></button>
                    <button type="button" class="btn-default" id="btnBomCompEdit"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn-default" id="btnCompUp" title="순서 조정-위로"><i class="fas fa-arrow-up"></i></button>
                    <button type="button" class="btn-default" id="btnCompDown" title="순서 조정-아래로"><i class="fas fa-arrow-down"></i></button>
                    <button type="button" class="btn-default y_write_auth" id="btnCompOrderSave"><span data-labelCd="순서 저장">순서 저장</span></button>

                    <button type="button" class="btn-default" id="btnBomCompGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>

                </div>
                <div class="h-600" data-ax5grid="bomcomp-grid" ></div>  
            </div>
            <div class="tab" id="tab_copy_text">
                 <div class="title_box">
                    <button type="button" class="btn-default y_write_auth" id="btnSaveBomText" style="float:none"><i class="fas fa-save"></i></button>
                     <span class="right_align lpt" >품목코드,수량,비고 순으로 엑셀에서 작성 후 붙여넣기 하세요. 기존 BOM구성은 모두 삭제되고 저장되니 주의해야 합니다.&nbsp;&nbsp;&nbsp;&nbsp;</span>
                 </div>
                 <textarea id="txtCopyText" rows="15"></textarea>
            </div>
            <div class="tab" id="tab_tree">
                <div class="title_box">

                   <span class="right_align rpt" data-labelCd="BOM 전체레벨">BOM 전체레벨</span>
                    <button type="button" class="btn-default" id="btnBomTreeView"><i class="fas fa-search"  ></i></button>
                    <button type="button" class="btn-default" id="btnTreeGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
                </div>
                <div class="h-600" data-ax5grid="bomtree-grid" ></div>  
            </div>
        </div>
    </section>

</div>

<!--verbatim 블럭은 template에서 사용하는 기호와 Django Template의 기호가 겹치기 때문에 Django Template 기호를 무시하는 블럭이다.-->
{% verbatim %}
<script type="text/x-tmpl" id="bomCreateTemplate">
<div class="content_wrap popup">
    <!--<header>
        <h4 id="popTitle">
        {% if (o.id!='') { %}
          BOM 수정({%=o.Name%})
          {% } else { %}
          BOM 등록
          {% } %}
        </h4>
        <div class="popup_close_box"><button class="btn_popup_close" id="modal-close-x"><i class="fas fa-times"></i></button></div>
    </header>-->

    <section class="pt-2">
        <form id="bomForm">
            <input type="hidden" id="id" name="id" value="{%=o.id%}">
            <div class="table_box search">
                <div class="row">

                        <div class="col-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t4" data-labelCd="품목구분">품목구분</span>
                                </div>
                                    <select class="form-control2" id='popMaterialType' name="popMaterialType" ></select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t4" data-labelCd="품목그룹">품목그룹</span>
                                </div>
                                    <select class="form-control2" id="popMaterialGroup" name="popMaterialGroup"></select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t4" data-labelCd="품목명">품목명</span>
                                </div>
                                <input class="form-control2" type="text" id="keyword" name="keyword" />
                            </div>
                        </div>

                        <div class="col-1" >
                                <button type="button" class="btn-default" id="btnMatSearch" title="조회"><i class="fas fa-search"></i></button>
                        </div> 
                </div> 
             </div>
            <div class="grid_box">
                    <div class="h-250" data-ax5grid="material-search-grid" ></div>
            </div>

             <div class="table_box sub">
               <div class="row">

                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="*(반)제품명">*(반)제품명</span>
                            </div>
                            <input class="form-control2" type="hidden" id="Material_id" name="Material_id" value="{%=o.Material_id%}" />
                            <input class="form-control2" type="text" id="MaterialName" name="MaterialName"  readonly="readonly" value="{%=o.MaterialName%}" />
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="*BOM명">*BOM명</span>
                            </div>
                             <input class="form-control2" type="text" id="Name" name="Name" value="{%=o.Name%}" />
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="*기준수량">*기준수량</span>
                            </div>
                             <input class="form-control2 tar" type="number" id="OutputAmount" name="OutputAmount" value="{%=o.OutputAmount%}" />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="*BOM종류">*BOM종류</span>
                            </div>
                             <select class="form-control2" id="BOMType" name="BOMType" ></select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="버전">버전</span>
                            </div>
                             <input class="form-control2 tar" id="Version" name="Version" value="{%=o.Version%}" />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="input-group" data-ax5picker="basic" id="popSrchDt1">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="*적용시작일">*적용시작일</span>
                            </div>
                            <input class="form-control2 tac" type="text" id="StartDate" name="StartDate" value="{%=o.StartDate%}">
                            <span class="input-group-text fs-xl"><i class="fas fa-calendar-alt calendar_color" ></i></span>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="input-group" data-ax5picker="basic" id="popSrchDt2">
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_md" data-labelCd="*적용종료일">*적용종료일</span>
                            </div>
                            <input class="form-control2 tac" type="text" id="EndDate" name="EndDate" value="{%=o.EndDate%}">
                            <span class="input-group-text fs-xl"><i class="fas fa-calendar-alt calendar_color" ></i></span>
                        </div>
                    </div>
                 </div>
             </div>
        </form>
    </section>

    <section class="popupcontent" >
        <div class="align_left">
            <button type="button" class="btn-popup y_write_auth" id="btnBomSave" ><span data-labelCd="저장">저장</span></button>
            <button type="button" class="btn-popup" id="modal-close-button"><span data-labelCd="닫기">닫기</span></button>
            <button type="button" class="btn-popup" id="btnTest"><span data-labelCd="새로고침">새로고침</span></button>
        </div>
    </section>

</div>

</script>

<script type="text/x-tmpl" id="bomMaterialTemplate">
<div class="content_wrap popup">
    <!--<header>
        <h4 id="popTitle">
        {% if (o.id!='') { %}
          구성품목 수정({%=o.ParentMaterialName%})
          {% } else { %}
          구성품목 등록
          {% } %}
        </h4>
        <div class="popup_close_box"><button class="btn_popup_close" id="modal-close"><i class="fas fa-times"></i></button></div>
    </header>-->

    <section class="pt-2">
        <form id="materialForm">
            <input type="hidden" id="BOM_id" name="BOM_id" value="{%=o.BOM_id%}">
            <input type="hidden" id="id" name="id" value="{%=o.id%}">
            <div class="table_box search">
                <div class="row">
                        <div class="col-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t4" data-labelCd="품목구분">품목구분</span>
                                </div>
                                    <select class="form-control2" id='popMaterialType' name="popMaterialType" ></select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t4" data-labelCd="품목그룹">품목그룹</span>
                                </div>
                                    <select class="form-control2" id="popMaterialGroup" name="popMaterialGroup"></select>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t4" 품목명>품목명</span>
                                </div>
                                <input class="form-control2" type="text" id="keyword" name="keyword" />
                            </div>
                        </div>

                        <div class="col-1" >
                                <button type="button" class="btn-default" id="btnMatSearch" title="조회"><i class="fas fa-search"></i></button>
                        </div> 

                </div>
            </div>

            <div class="grid_box">
                    <div class="h-250" data-ax5grid="material-search-grid" ></div>
            </div>

            <div class="table_box sub">
                <div class="row">

                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t4" data-labelCd="*품목명">*품목명</span>
                                </div>
                                <input class="form-control2" type="hidden" id="Material_id" name="Material_id" value="{%=o.Material_id%}"  />
                                <input class="form-control2" type="text" id="MaterialName" name="MaterialName" readonly="readonly" value="{%=o.MaterialName%}" />
                            
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t4" data-labelCd="*필요수량">*필요수량</span>
                                </div>
                                 <input class="form-control2 tar" type="number" id="Amount" name="Amount" value="{%=o.Amount%}" />
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t4" data-labelCd="순서">순서</span>
                                </div>
                                 <input class="form-control2" type="number" id="_order" name="_order" value="{%=o._order%}" />
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fit_box_t4_area" data-labelCd="비고">비고</span>
                                </div>
                                 <textarea class="form-control2" id="Description" name="Description">{%=o.Description%}</textarea>
                            </div>
                        </div>

                </div>
            </div>
        </form>
    </section>

    <section class="popupcontent" >
        <div class="popup_button_group bottom">
            <div class="align_left">
            <button type="button" class="btn-popup y_write_auth" id="btnBomMaterialSave" ><span data-labelCd="저장">저장</span></button>
            <button type="button" class="btn-popup" id="modal-close-button"><span data-labelCd="닫기">닫기</span></button>
            <button type="button" class="btn-popup" id="btnTest"><span data-labelCd="새로고침">새로고침</span></button>
            </div>
        </div>
    </section>

</div>
</script>
{% endverbatim %}


<!--
BOM생성화면에서 사용할 template
-->
{% include '../common/columns_setting.html' %} 
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/grid.js"></script>
<script type="text/javascript">
    
    class BOMPage {
        constructor() {
            this.gridBom = null;
            this.gridBomComp = null;
            this.init();
        }

        init() {
            let _this = this;
            let configBom = {
                target: $('[data-ax5grid="bom-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: true, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 30  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        //e.colIndex
                        //e.dindex
                        //c.value
                        //e.column
                        //e.item
                        //e.list
                        _this.gridBom.select(this.dindex);
                        _this.showBomCompList(e.item.id);
                        //_this.showBomCompTreeList(e.item.id);
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'id', label: '번호', width: 50, align: 'left' },
                    { key: 'mat_type', label: '품목구분', width: 110, align: 'center' },
                    { key: 'mat_group_name', label: '품목그룹', width: 110, align: 'left' },
                    { key: 'mat_code', label: '(반)제품코드', width: 110, align: 'center' },
                    { key: 'mat_name', label: '(반)제품명', width: 200, align: 'left' },
                    { key: 'bom_type_name', label: 'BOM종류', width: 120, align: 'center' },
                    {
                        key: 'Name', label: 'BOM명', width: 200, align: 'left',
                        styleClass: function () {
                            if (this.item.current_flag == 'current')
                                return 'back_current'; 
                            if (this.item.current_flag == 'past')
                                return 'back_past'; 
                            if (this.item.current_flag == 'future')
                                return 'back_future'; 
                            if (this.item.current_flag == 'error')
                                return 'back_error'; 
                            //return 'background-white';
                        }
                    },
                    { key: 'OutputAmount', label: '기준수량', width: 110, align: 'right' },
                    { key: 'unit', label: '단위', width: 110, align: 'center' },
                    { key: 'Version', label: 'Ver.', width: 110, align: 'center' },
                    { key: 'StartDate', label: '적용시작일', width: 130, align: 'center' },
                    { key: 'EndDate', label: '적용종료일', width: 130, align: 'center' },
                    //{ key: 'Description', label: '설명', width: 250, align: 'center' },
                ]

            };

            let configBomComp = {
                target: $('[data-ax5grid="bomcomp-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: true, // 열의 번호 보이기 여부
                showRowSelector: true,  // checkbox(선택) 보이기 여부
                multipleSelect: true, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 30  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        //console.log(e);
                        //this.self.selectAll({ selected: false });
                        this.self.select(this.dindex, {__selected__: true});
                        //e.self.select(this.dindex, {selected: true});
                        //_this.gridBomComp.select(this.dindex);
                        //this.self.select(this.dindex, {__selected__: true});
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: '_order', label: '순서', width: 120, align: 'center' },
                    { key: 'mat_type', label: '품목구분', width: 120, align: 'center' },
                    { key: 'mat_code', label: '품목코드', width: 150, align: 'center' },
                    { key: 'mat_name', label: '품목명', width: 350, align: 'left' },
                    { key: 'Amount', label: '필요수량', width: 80, align: 'right' },
                    { key: 'unit', label: '단위', width: 100, align: 'center' },
                    {
                        key: 'Description', label: '비고', width: 300, align: 'left',
                        editor: {type:'textarea'}
                    },
                ],
            };
        let configBomTree = {
                target: $('[data-ax5grid="bomtree-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: true, // 열의 번호 보이기 여부
                showRowSelector: true,  // checkbox(선택) 보이기 여부
                multipleSelect: true, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: false, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: false, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 30  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        //console.log(e);
                        //this.self.selectAll({ selected: false });
                        this.self.select(this.dindex, {__selected__: true});
                        //e.self.select(this.dindex, {selected: true});
                        //_this.gridBomComp.select(this.dindex);
                        //this.self.select(this.dindex, {__selected__: true});
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'mat_type', label: '품목구분', width: 120, align: 'center' },
                    { key: 'mat_code', label: '품목코드', width: 150, align: 'center' },
                    { key: 'lvl', label: '레벨', width: 100, align: 'right' },
                    { key: 'mat_name', label: '품목명', width: 350, align: 'left', treeControl: true },
                    { key: 'bom_ratio', label: '투입비(최종생산품기준)', width: 80, align: 'right' },
                    { key: 'bom_qty', label: '필요량(중간생산품기준)', width: 80, align: 'right' },
                    { key: 'unit', label: '단위', width: 100, align: 'center' },
                    {
                        key: 'Description', label: '비고', width: 300, align: 'left',
                        editor: {type:'textarea'}
                    },
                ],
                tree: {
                    use: true,
                    indentWidth: 15,
                    arrowWidth: 15,
                    iconWidth: 18,
                    icons: {
                      openedArrow: '<i class="fa fa-caret-down" aria-hidden="true"></i>',
                      collapsedArrow: '<i class="fa fa-caret-right" aria-hidden="true"></i>',
                      groupIcon: '<i class="fa fa-minus-square" aria-hidden="true"></i>',
                      collapsedGroupIcon: '<i class="fa fa-plus-square" aria-hidden="true"></i>',
                      //itemIcon: '-'
                    },
                    columnKeys: {
                      parentKey: 'parent_key',
                      selfKey: 'my_key'
                    }
                },
            };

            this.gridBom = new ax5.ui.grid(configBom);
            this.gridBomComp = new ax5.ui.grid(configBomComp);
            this.gridBomCompTree = new ax5.ui.grid(configBomTree);
            this.grid_config1 = configBom;
            this.grid_config2 = configBomComp;
            this.grid_config_tree = configBomTree;

            AjaxUtil.fillSelectOptions($('#cboMaterialType'), 'system_code', 'all', false, 'mat_type');
            AjaxUtil.fillSelectOptions($('#cboMaterialGroup'), 'material_group', 'all', false);
            AjaxUtil.fillSelectOptions($('#cboBOMType'), 'system_code', 'all', false, 'bom_type');

            $('#cboMaterialType').on('change', function (e) {
                let mat_type = $('#cboMaterialType').val();
                AjaxUtil.fillSelectOptions($('#cboMaterialGroup'), 'material_group', 'all', false, mat_type);
            });

            $('#txtMatName').on('keypress', function (e) {
                if (event.keyCode == 13) {
                    _this.searchBomList();
                }
            });

        }

        showBomEdit(data) {
            let _this = this;
            let content = tmpl('bomCreateTemplate', data);
            let $content = $(content);
            
            let modalContainer = null;
            if (!data.id) {
                modalContainer = new PopupDraggable('BOM 등록');
            } else {
                modalContainer = new PopupDraggable('BOM 수정');
            }
            modalContainer.open({ width: 600, height: 650, $content });
            $('#popSrchDt1').ax5DatePicker({ direction: 'top' });
            $('#popSrchDt2').ax5DatePicker({ direction: 'top' });

            let $MaterialName = $content.find('#MaterialName');
            let $Material_id = $content.find('#Material_id');
            let $BomName = $content.find('#Name');

            let $matSearchGrid = null;
            let selectedItem = null;
            let target = $content.find('[data-ax5grid="material-search-grid"]');
            let config = {
                target: target,
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 30  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function () {
                        $matSearchGrid.select(this.dindex);
                    },
                    onDBLClick: function () {
                        $matSearchGrid.select(this.dindex);
                        //_this.selectData(this.item);
                        selectedItem = this.item;
                        $Material_id.val(selectedItem.id);
                        $MaterialName.val(selectedItem.Name);
                        $BomName.val(selectedItem.Name);
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'MaterialTypeName', label: '품목구분', width: 100, align: 'left', sortable: false },
                    { key: 'group_name', label: '품목그룹', width: 100, align: 'left', sortable: false },
                    { key: 'Code', label: '품목코드', width: 100, align: 'center', sortable: false },
                    { key: 'Name', label: '품목명', width: 200, align: 'left', sortable: false },
                    
                    //{ key: 'Description', label: '설명', width: 250, align: 'center', sortable: false },
                ]
            };

            $matSearchGrid = new ax5.ui.grid(config);
            $content.find('#btnBomSave').on('click', function () {
                let $form = $content.find('#bomForm');
                Alert.confirm('', 
                    '저장하시겠습니까?',
                    function () { _this.saveBOMData($form); },
                    function () { }
                );
            });

            let $popMaterialType = $content.find('#popMaterialType');
            let $popMaterialGroup = $content.find('#popMaterialGroup');
            let $keyword = $content.find('#keyword');

            $popMaterialType.append('<option value="product">제품</option>');
            $popMaterialType.append('<option value="semi">반제품</option>');

            AjaxUtil.fillSelectOptions($popMaterialGroup, 'material_group', 'all', '','product');

            $popMaterialType.change(function (e) {
                AjaxUtil.fillSelectOptions($popMaterialGroup, 'material_group', 'all','', $popMaterialType.val());
            });

            let $bomType = $content.find('#BOMType');
            AjaxUtil.fillSelectOptions($bomType, 'system_code', "", data.BOMType, 'bom_type');


            // 검색버튼 클릭
            $content.find('#btnMatSearch').click(function (e) {

                let matType = $popMaterialType.val();
                let matGroup = $popMaterialGroup.val();
                let keyword = $keyword.val();
                let url = '/api/popup/search_material';
                let data = {
                    'material_type': matType,
                    'material_group': matGroup,
                    'keyword': keyword,
                };

                let fncallback = function (result) {
                    if (result != null) {
                        let recordsTotal = result.length;
                        $matSearchGrid.setData({
                            list: result,
                            page: {
                                display: true,
                                totalElements: recordsTotal,
                            }
                        });
                    }
                };
                AjaxUtil.getAsyncData(url, data, fncallback);

                //검색버튼을 누르고 초기화한다
                selectedItem = null;

            });

			//새로고침
            let $btnTest = $content.find('#btnTest');

            $btnTest.click(function (e) {
                $matSearchGrid.init().repaint();  
            });

        }

        showBomCompEdit(data) {
            console.log('showBomCompEdit');
            let _this = this;
            let content = tmpl('bomMaterialTemplate', data);
            let $content = $(content);
            
            let modalContainer = null;
            if (!data.id) {
                modalContainer = new PopupDraggable('구성 품목 등록');
            } else {
                modalContainer = new PopupDraggable('구성 품목 수정');
            }

            modalContainer.open({ width: 600, height: 540, $content });

            let $MaterialName = $content.find('#MaterialName');
            let $Material_id = $content.find('#Material_id');
            
            let $matSearchGrid = null;
            let selectedItem = null;
            let target = $content.find('[data-ax5grid="material-search-grid"]');
            let config = {
                target: target,
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 30  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function () {
                        $matSearchGrid.select(this.dindex);
                    },
                    onDBLClick: function () {
                        $matSearchGrid.select(this.dindex);
                        //_this.selectData(this.item);
                        selectedItem = this.item;
                        $Material_id.val(selectedItem.id);
                        $MaterialName.val(selectedItem.Name);
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'MaterialTypeName', label: '품목구분', width: 100, align: 'left', sortable: false },
                    { key: 'group_name', label: '품목그룹', width: 100, align: 'left', sortable: false },
                    { key: 'Code', label: '품목코드', width: 100, align: 'center', sortable: false },
                    { key: 'Name', label: '품목명', width: 200, align: 'left', sortable: false },
                    
                    //{ key: 'Description', label: '설명', width: 250, align: 'center', sortable: false },
                ]
            };
            $matSearchGrid = new ax5.ui.grid(config);

            let $popMaterialType = $content.find('#popMaterialType');
            let $popMaterialGroup = $content.find('#popMaterialGroup');
            let $keyword = $content.find('#keyword');
            let $btnMatSearch = $content.find('#btnMatSearch');

            $popMaterialType.append('<option value="">all</option>');
            $popMaterialType.append('<option value="semi">반제품</option>');
            $popMaterialType.append('<option value="raw_mat">원재료</option>');
            $popMaterialType.append('<option value="sub_mat">부자재</option>');
            AjaxUtil.fillSelectOptions($popMaterialGroup, 'material_group', 'all', '', $popMaterialType.val());
            $popMaterialType.change(function (e) {
                AjaxUtil.fillSelectOptions($popMaterialGroup, 'material_group', 'all','', $popMaterialType.val());
            });

            // 검색버튼 클릭
            $btnMatSearch.click(function (e) {
                let matType = $popMaterialType.val();
                let matGroup = $popMaterialGroup.val();
                let keyword = $keyword.val();
                let url = '/api/popup/search_material';
                let data = {
                    'material_type': matType,
                    'material_group': matGroup,
                    'keyword': keyword,
                };
                let fncallback = function (result) {
                    if (result != null) {
                        let count = result.length;
                        $matSearchGrid.setData({
                            list: result,
                            page: {
                                display: true,
                                totalElements: count,
                            }
                        });
                    }
                };
                AjaxUtil.getAsyncData(url, data, fncallback);

                //검색버튼을 누르고 초기화한다
                selectedItem = null;

            });

            $keyword.keydown(function (e) {
                if (e.key === 'Enter') {
                    //alert('enter');
                    $btnMatSearch.trigger('click');
                }
             });

            $content.find('#btnBomMaterialSave').on('click', function () {
                let $form = $content.find('#materialForm');
                Alert.confirm('', 
                    '저장하시겠습니까?',
                    function () {
                        _this.saveMaterialData($form);
                    },
                    function () { }
                );
            });

            if (data.action === 'edit') {
                $btnMatSearch.attr('disabled', true);
            }

			//새로고침
            let $btnTest = $content.find('#btnTest');

            $btnTest.click(function (e) {
                $matSearchGrid.init().repaint();  
            });
        }

        showBomCompList(bom_id) {
            let _this = this;

            let param = {
                'id': bom_id,
                "action": 'bom_comp_list'
            };
            let url = '/api/definition/bom';
            let result = AjaxUtil.getSyncData(url, param);
            console.log('showBomCompList', result);
            if (result != null) {
                let count = result.length;
                _this.gridBomComp.setData([]);
                try {
                    _this.gridBomComp.setData({
                        list: result,
                        page: {
                            display: true,
                            totalElements: count,
                        }
                    });
                    let text = '';
                    result.forEach(function (item, index) {
                        text += item.mat_code + '\t' + item.Amount + '\t' + item.Description + '\n';
                    });
                    //console.log('text', text);
                    $('#txtCopyText').val(text);
                }
                catch (ex) {
                    Notify.error('에러가 발생했습니다.' + ex);
                    throw ex;
                }


            }
        }

        showBomCompTreeList(bom_id) {
            let _this = this;

            let param = {
                'id': bom_id,
                "action": 'material_list'
            };
            let url = '/api/definition/bom';
            let result = AjaxUtil.getSyncData(url, param);
            console.log('showBomCompTreeList', result);
            if (result != null) {
                let count = result.length;
                _this.gridBomCompTree.setData([]);
                try {
                    _this.gridBomCompTree.setData({
                        list: result,
                        page: {
                            display: true,
                            totalElements: count,
                        }
                    });
                }
                catch (ex) {
                    Notify.error('에러가 발생했습니다.' + ex);
                    throw ex;
                }


            }
        }

        searchBomList() {
            let _this = this;

            let url = '/api/definition/bom';
            let data = {
                'mat_type': $('#cboMaterialType').val(),
                'mat_group': $('#cboMaterialGroup').val(),
                'bom_type' : $('#cboBOMType').val(),
                'mat_name': $('#txtMatName').val(),
                'not_past_flag': $('#not_past_flag').is(':checked') ? 'Y':'',
                'action' : 'read'
            };

            let result = AjaxUtil.getSyncData(url, data);
            if (result != null) {
                let recordsTotal = result.length;
                _this.gridBom.setData({
                    list: result,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });
                _this.gridBomComp.setData([]);
                _this.gridBomCompTree.setData([]);

            }
        }//searchBomList

        saveBOMData($form) {
            let _this = this;
            let url = '/api/definition/bom?action=save';
            //데이터입력체크루틴 누락
            //let data = $('#equipmentForm').serialize();

            let data = FormUtil.extractForm($form);
            if (data.Material_id == '') {
                Alert.alert('', '(반)제품을 선택하세요!!');
                return;
            }

            if (!data.StartDate || !data.EndDate) {
                Alert.alert('', '적용시작일과 적용종료일을 입력해주세요.');
                return;
            }

            if (data.StartDate > data.EndDate) {
                Alert.alert('', '적용시작일과 적용종료일을 확인해주세요.');
                return;
            }

            let fnSuccess = function (result) {
                if (result.success) {
                    Notify.success('저장되었습니다');
                    _this.searchBomList();
                }
                else {
                    Notify.error(result.message);
                }
            };
           AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        saveMaterialData($form) {
            let _this = this;
            let url = '/api/definition/bom?action=material_save';

            //데이터입력체크루틴 누락
            let data = FormUtil.extractForm($form);
            console.log(data);

            if (data.Material_id == '') {
                Alert.alert('', '품목을 선택하세요.');
                return;
            }

            let fnSuccess = function (res) {
                if (res.success)
                    Notify.success('저장되었습니다.');
                else {
                    Alert.alert('', '저장에 실패했습니다. \n' + res.message);
                    return;
                }

                let items = page.gridBom.getList("selected");
                if (items.length > 0) {
                    _this.showBomCompList(items[0].id);
                }

            };
            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        replicateBOM(bom_id) {
            let _this = this;
            let url = '/api/definition/bom?action=bom_replicate';

            let data = { id: bom_id };
            let fnSuccess = function (res) {
                Notify.success('복제되었습니다.');
                _this.searchBomList();
            };

            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        revisionBOM(bom_id) {
            let _this = this;
            let url = '/api/definition/bom?action=bom_revision';

            let data = { id: bom_id };
            let fnSuccess = function (res) {
                Notify.success('개정되었습니다.');
                _this.searchBomList();
            };

            AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        deleteMaterialData(id) {
            let _this = this;
            let url = '/api/definition/bom?action=material_delete';
            let fnsuccess = function (res) {
                if (res.success) {
                    Notify.success('삭제되었습니다');
                    let items = page.gridBom.getList("selected");
                    if (items.length > 0) {
                        _this.showBomCompList(items[0].id);
                    }
                } else {
                    Alert.alert('', res.message);
                }
            };
            AjaxUtil.postAsyncData(url, { id: id }, fnsuccess);
        }


        deleteBOM(id) {
            let _this = this;

            let url = '/api/definition/bom?action=bom_delete';
            let data = { 'id': id };
            let fnDeleteSuccessCallback = function (res) {
                if (res.success) {
                    Notify.success('삭제되었습니다.');
                    _this.searchBomList();
                } else {
                    Alert.alert('', res.message);
                }
            };
            AjaxUtil.postAsyncData(url, data, fnDeleteSuccessCallback);
        }
                
        saveAllBomComp(bom_id) {
            let _this = this;
            let txtbox = $('#txtCopyText').val();
            console.log('txtbox', txtbox);
            let lines = txtbox.split('\n');
            console.log('lines', lines);
            let bErr = false;
            lines.forEach(function (line, index) {
                let cols = line.split('\t');
                console.log('cols', cols.length, cols);
                let count = cols.length;
                if (cols != '' && count < 2)
                    bErr = true;
            });
            if (bErr) {
                Alert.alert('', '데이터가 적합하지 않습니다. 다시 확인하십시오.');
                return;
            }

            let url = '/api/definition/bom?action=save_bom_comp_all';
            let data = {
                'bom_id': bom_id,
                //'lines':lines,
                'lines':txtbox,
            };
            let fnDeleteSuccessCallback = function (res) {
                Notify.success('저장되었습니다.');
                //_this.searchBomList();
            };

            AjaxUtil.postAsyncData(url, data, fnDeleteSuccessCallback);
        }

        saveBomCompOrder() {
            let _this = this;
            let items = [];
            $.each(_this.gridBomComp.list, function (idx, item) {
                //console.log(item);
                items.push({id: item.id});
            });
            
            let url = '/api/definition/bom?action=save_bom_comp_order';
            let strData = JSON.stringify(items);
            let data = { Q: strData };
            let fnsuccess = function (result) {
                if (result.success) {
                    Notify.success('저장했습니다.');
                    _this.showBomCompEdit();
                }
            };

            AjaxUtil.postAsyncData(url, data, fnsuccess);
        }
    }

    let page = null;

    $(document).ready(function (e) {
        page = new BOMPage();
		//그리드 컬럼 설정

        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility','visible');  
            $('#btnBomCompGridSetting').css('visibility','visible');  
        }		
	
		//그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns1 = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid1',  page.gridBom);
        let columns2 = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid2',  page.gridBomComp);
	
        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config1.frozenColumnIndex;
            console.log('fix_cols', fix_cols);
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid1', page.grid_config1.columns, page.gridBom, { 'order_fix':false,  'fix_cols' : fix_cols });
        });		
        $('#btnBomCompGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config2.frozenColumnIndex;
            console.log('fix_cols', fix_cols);
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid2', page.grid_config2.columns, page.gridBomComp, { 'order_fix':false,  'fix_cols' : fix_cols });
        });	

        //page.searchBomList();

        $('#btnSearch').click(function (ex) {
            page.searchBomList();
        });

        $('#btnBomNew').click(function (e) {

            let start_date = CommonUtil.getYYYYMMDD();
            let end_date = '2100-12-31'
            let data = {
                'id': '',
                'Material_id': '',
                'MaterialName': '',
                'Name': '',
                'BOMType':'',
                'StartDate': start_date,
                'EndDate': end_date,
                'OutputAmount': 1,
            };

            page.showBomEdit(data);

        });
        
        $('#btnBomReplicate').click(function () {
            let items = page.gridBom.getList("selected");
            if (items.length > 0) {
                Alert.confirm('', "선택한 BOM을 가지고 새 BOM을 복제하시겠습니까?",
                    function () {
                        let id = items[0].id;
                        page.replicateBOM(id);
                    },
                    function () { }
                );  
            }
        });
        
        $('#btnBomRevision').click(function () {
            let items = page.gridBom.getList("selected");

            if (items.length > 0) {
                Alert.confirm('', "선택한 BOM을 개정하시겠습니까? 개정 후 복제된 내용을 수정하십시오.",
                    function () {
                        let id = items[0].id;
                        page.revisionBOM(id);
                    },
                    function () { }
                );  
            }
        });

        $('#btnBomCompNew').click(function (e) {

            let items = page.gridBom.getList("selected");

            if (items.length > 0) {
                
                let data = {
                    id: '',
                    BOM_id: items[0].id,
                    Amount: 1,
                    Description: '',
                    action:'new',
                };
                page.showBomCompEdit(data);
            } else {
                Alert.alert('', '선택된 BOM이 없습니다');
            }
        });

        $('#btnBomCompEdit').click(function (e) {
            let items = page.gridBomComp.getList("selected");
            if (items.length == 0) {
                Alert.alert('', '선택된 품목이 없습니다');
                return;
            }
            let row = items[0];
            //if (row.parent_mat_id > 0) {
            //    Alert.alert('', '1레벨의 구성품만 수정할 수 있습니다.');
            //    return;
            //}

            if (items.length > 0) {
                let url = '/api/definition/bom?action=material_detail';
                let data = AjaxUtil.getSyncData(url, { id: row.id })
                data.action = 'edit';
                console.log(data);
                page.showBomCompEdit(data);
            } else {
                Alert.alert('', '선택된 품목이 없습니다');
            }

        });

        $('#btnBomCompDelete').click(function (e) {
            let items = page.gridBomComp.getList("selected");
            if (items.length == 0) {
                Alert.alert('', '선택된 품목이 없습니다');
                return;
            }
            let row = items[0];
            if (row.parent_mat_id > 0) {
                Alert.alert('', '1레벨의 구성품만 삭제할 수 있습니다.');
                return;
            }
            Alert.confirm('', "삭제하시겠습니까?", function (e) {
                page.deleteMaterialData(row.id);
            });
        });


        $('#btnBomEdit').click(function (e) {
            let items = page.gridBom.getList("selected");
            if (items.length > 0) {
                let id = items[0].id;
                //데이터는 그리드에서 가져오는것이 아니라 서버에서 가져온다
                let url = '/api/definition/bom?action=detail';
                data = AjaxUtil.getSyncData(url, {id:id})
                page.showBomEdit(data);
            }
        });

        $('#btnBomDelete').click(function (e) {

            let items = page.gridBom.getList("selected");
            if (items.length > 0) {
                Alert.confirm('', "삭제하시겠습니까?",
                    function () {
                        let id = items[0].id;
                        page.deleteBOM(id);
                    },
                    function () { }
                );  
            }
        });
        
        $('#btnSaveBomText').click(function (e) {
            let items = page.gridBom.getList("selected");
            if (items.length == 0) {
                Alert.alert('제품이 선택되지 않았습니다.');
                return;
            }
            let bom_id = items[0].id;

            Alert.confirm('', "현 BOM 구성을 모두 삭제하고 한꺼번에 새로 저장하시겠습니까?",
                    function () {
                        page.saveAllBomComp(bom_id);
                    },
                    function () { }
                );  

        });

        $('#btnCompUp').click(function (e) {
            GridUtil.changeOrder('U', page.gridBomComp);
        });

        $('#btnCompDown').click(function (e) {
            GridUtil.changeOrder('D', page.gridBomComp);
        });

        $('#btnCompOrderSave').click(function (e) {
            let count = page.gridBomComp.list.length;
            if (count == 0 || count == 1) {
                return;
            }
            Alert.confirm('', '순서를 저장하시겠습니까?', function () {
                page.saveBomCompOrder();
            });
                
        });

        $('#btnBomTreeView').click(function (e) {
            let items = page.gridBom.getList("selected");
            if (items.length == 0) {
                return;
            }
            let bom_id = items[0].id;
            page.showBomCompTreeList(bom_id);
        });
        // 엑셀 다운로드
        $('#btnExcel').click(function (e) {
            //page.gridBom.exportExcel('BOM.xls');
            let bom_type = $('#cboBOMType').val();
            console.log('bom_type', bom_type);
            if (bom_type == '') {
                Alert.alert('경고', '"BOM구분"을 선택하고 출력하십시오.');
                return;
            }
            let url = '/api/files/bom_download?';
            url += 'bom_type=' + bom_type;
            AjaxUtil.downloadFile(url, 'bom-all.xlsx');
        });

        //page.searchBomList();

    });
</script>


{% endblock %}