{% extends "app/layout.html" %}
{% block css %}
{% endblock %}

{% block content %}
<div class="content-wrap">
    <div class="content-ui-row">
        <form class="search-form" id="searchForm">
            <div class="card-content search">
                <!-- 개발자 수동 적용, grid-template-columns:1fr 1fr 1fr auto  -->
                <div class="form-ui">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" >
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_equ_line" data-labelCd="라인">라인</label>
                            <div class="field-wrapper">
                                <select id="srch_equ_line" name="srch_equ_line"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_equ_grp" data-labelCd="설비그룹">설비그룹</label>
                            <div class="field-wrapper">
                                <select id="srch_equ_grp" name="srch_equ_grp"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_equ_name" data-labelCd="설비명">설비명</label>
                            <div class="field-wrapper">
                                <input id="srch_equ_name" name="srch_equ_name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card-group-btn search">
                            <button id="btnSearch" class="btn-search">조회</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="content-ui-row connect">
            <div class="card-content grid">
                <div class="card-group-btn">
                    <span class="info-text">
                        <i class="material-symbols-outlined">list_alt</i>
                        <label data-labelCd="설비정보">설비정보</label>
                    </span>
                    <span>
                    </span>
                    <span>
                        <!-- 오른쪽 버튼 영역-->
                        <button id="btnExcel">Excel</button>
                    </span>
                </div>
                <div id="equipment_grid" style="height:540px;"></div>
            </div>
        </div>
        <div class="content-ui-row connect">
            <div class="card-content edit">
                <div class="card-group-btn">
                    <span class="info-text"><i class="material-symbols-outlined">edit_square</i>상세정보</span>
                    <span>
                        <button id="btnSave"><i class="material-symbols-outlined">save</i>저장</button>
                    </span>
                </div>

                <form id="equipmentForm">
                    <div class="edit-form-ui">
                        <!-- id -->
                        <input type="hidden" id="id" name="id" />
                        <!-- 기본 정보 -->
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="Line_id" data-labelCd="라인">라인</label>
                                <div class="field-wrapper">
                                    <select id="Line_id" name="Line_id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="EquipmentGroup_id" data-labelCd="설비그룹">설비그룹</label>
                                <div class="field-wrapper">
                                    <select id="EquipmentGroup_id" name="EquipmentGroup_id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label essential" for="Code" data-labelCd="설비코드">설비코드</label>
                                <div class="field-wrapper">
                                    <input id="Code" name="Code" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label essential" for="Name" data-labelCd="설비명">설비명</label>
                                <div class="field-wrapper">
                                    <input id="Name" name="Name" readonly />
                                </div>
                            </div>
                        </div>            
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="MESCode" data-labelCd="MES설비코드">MES설비코드</label>
                                <div class="field-wrapper">
                                    <input id="MESCode" name="MESCode" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="SAPCode" data-labelCd="SAP설비코드">SAP설비코드</label>
                                <div class="field-wrapper">
                                    <input id="SAPCode" name="SAPCode" />
                                </div>
                            </div>
                        </div>

                        <!-- 제조 정보 -->
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="Maker" data-labelCd="제조사">제조사</label>
                                <div class="field-wrapper">
                                    <input id="Maker" name="Maker" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="Model" data-labelCd="모델명">모델명</label>
                                <div class="field-wrapper">
                                    <input id="Model" name="Model" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="Standard" data-labelCd="규격">규격</label>
                                <div class="field-wrapper">
                                    <input id="Standard" name="Standard" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="SerialNumber" data-labelCd="시리얼넘버">시리얼넘버</label>
                                <div class="field-wrapper">
                                    <input id="SerialNumber" name="SerialNumber" />
                                </div>
                            </div>
                        </div>
                  

                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="SupplierName" data-labelCd="공급업체">공급업체</label>
                                <div class="field-wrapper">
                                    <input id="SupplierName" name="SupplierName" />
                                </div>
                            </div>
                        </div>
  

                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="PowerWatt" data-labelCd="소비전력(W)">소비전력(W)</label>
                                <div class="field-wrapper">
                                    <input id="PowerWatt" name="PowerWatt" type="number" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="Voltage" data-labelCd="사용전압">사용전압</label>
                                <div class="field-wrapper">
                                    <input id="Voltage" name="Voltage" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label essential" for="Status" data-labelCd="설비상태">설비상태</label>
                                <div class="field-wrapper">
                                    <select id="Status" name="Status">
                                    </select>
                                </div>
                            </div>
                        </div>


                        <!-- 폐기 정보 -->
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="DisposalDate" data-labelCd="폐기일">폐기일</label>
                                <div class="field-wrapper">
                                    <input id="DisposalDate" name="DisposalDate" type="date" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-item full-width" style="width:100%;">
                                <label class="k-label k-form-label" for="DiscardReason">폐기사유</label>
                                <textarea id="DiscardReason" name="DiscardReason"></textarea>
                            </div>
                        </div>

                        <!-- 설명란 -->
                        <div class="col-12">
                            <div class="form-item full-width">
                                <label class="k-label k-form-label" for="Description">설명</label>
                                <textarea id="Description" name="Description"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="file_area" data-labelCd="첨부파일">첨부파일</label>
                                <div class="field-wrapper">
                                    <div id="file_area" name="file_area"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% verbatim %}
{% endverbatim %}
{% endblock %}

{% block scripts %}
{% include 'common/file_upload.html' %}
{% include '../popup/modalEquDeptHist.html' %}

<script type="text/javascript">
    class EquipmentPage {
        constructor() {
            this.grid = null;
            this.upload = null;
            this.baseUrl = '/api/definition/equipment';

            this.init();
        }

        init() {
            let _this = this;
            
            let $srch_equ_name = $('#srch_equ_name').kendoTextBox();
            $srch_equ_name.keypress(function (e) {
                // Enter(=13)키가 눌렸을 때, 기본 동작 방지 후 searchMainData 호출
                if (e.keyCode === 13) {
                    e.preventDefault();
                    _this.searchMainData();
                }
            });
            //search form
            //combo 데이터 가져와서 요소에 바로 채우기(선택자, combo_type, null_option, selected_value)
            AjaxUtil.fillDropDownOptions($('#srch_equ_line'), 'line', 'all', null);
            AjaxUtil.fillDropDownOptions($('#srch_equ_grp'), 'equipment_group', 'all', null);

            let equipmentGridOption = {
                autoBind: false,
                toolbar: [
                    "columns"
                ],
                columnMenu: {
                    componentType: "classic",
                    clearAllFilters: true,
                    columns: {
                        sort: "asc",
                    }
                },
                columns: [
                    // 기본 정보
                    { field: 'line_name', title: '라인', width: 150 },
                    { field: 'group_name', title: '설비그룹', width: 150 },
                    { field: 'Code', title: '설비코드', width: 150 },
                    { field: 'Name', title: '설비명', width: 200 },

                    { field: 'MESCode', title: 'MES코드', width: 150 },
                    { field: 'SAPCode', title: 'SAP코드', width: 150 },
                    { field: 'Description', title: '설명', width: 250 },
                    // 제조 정보
                    { field: 'Maker', title: '제조사', width: 150 },
                    { field: 'Model', title: '모델명', width: 150 },
                    { field: 'Standard', title: '규격', width: 150 },
                    { field: 'SerialNumber', title: '시리얼넘버', width: 150 },

                    // 구매 및 설치 정보
                    { field: 'SupplierName', title: '공급업체', width: 150 },
                    // 운영 및 관리 정보                    
                    { field: 'PowerWatt', title: '소비전력(W)', width: 150 },
                    { field: 'Voltage', title: '사용전압', width: 150 },
                    { field: 'StatusNm', title: '설비상태', width: 150 },
                    { field: 'depart_Name', title: '관리부서', width: 150 },

                    // 폐기 정보
                    { field: 'DisposalDate', title: '폐기일', width: 150 },
                    { field: 'DisposalReason', title: '폐기사유', width: 200 },
                ],

                change: function (e) {
                    _this.showDetail();
                },
                dataBound: function (e) {
                    // grid 데이터 개수 표시
                    kendoUtil.showGridRowCount(this.element);
                },
                height: "540px"
            };
            _this.grid = new Grid($("#equipment_grid"), equipmentGridOption);


            //detail form
            AjaxUtil.fillDropDownOptions($('#Line_id'), 'line', 'choose', null);
            AjaxUtil.fillDropDownOptions($('#EquipmentGroup_id'), 'equipment_group', 'choose', null);
            $('#Code').kendoTextBox();
            $('#Name').kendoTextBox();
            $('#MESCode').kendoTextBox();
            $('#SAPCode').kendoTextBox();
            
            //AjaxUtil.fillDropDownOptions($('#WorkCenter_id'), 'workcenter', 'choose', null);
            $('#Model').kendoTextBox();
            $('#Maker').kendoTextBox();
            $('#SerialNumber').kendoTextBox();
            $('#SupplierName').kendoTextBox();
            $('#DisposalDate').kendoDatePicker({ format: 'yyyy-MM-dd' });
            $('#Standard').kendoTextBox(); // 규격
            $('#PowerWatt').kendoNumericTextBox({
                format: 'n2',
            });
            $('#Voltage').kendoTextBox(); // 사용전압
            AjaxUtil.fillDropDownOptions($('#Status'), 'code', 'choose', null, 'EQU_STATUS'); //설비상태


            $('#DiscardReason').kendoTextArea({
                rows: 3,
                autosize: true,
                maxLength: 500,
            });
            
            $('#Description').kendoTextArea({
                rows: 3,
                autosize: true,
                maxLength: 500,
            });

            //form button
            $('#btnSearch').kendoButton({
                icon: "search",
                themeColor: "base",
                click: function () {
                    _this.searchMainData();
                }
            });

            $('#btnExcel').kendoButton({
                icon: "file-excel",
                themeColor: "success",
                click: function () {
                    page.exportExcel();
                }
            });

            $('#btnSave').kendoButton({
                themeColor: "info",
                click: function () {
                    _this.saveData();
                }
            });

            $("#btnModalOpenDept").kendoButton({
                icon: "search",
                themeColor: "base",
                size: "small",
                click: (e) => {
                    e.preventDefault();
                    $("#modalWindowDept").fadeIn();
                }
            });

        }

        searchMainData() {
            let _this = this;

            let param = {
                action: 'read',
                line: $('#srch_equ_line').val(),
                group: $('#srch_equ_grp').val(),
                equipment: $('#srch_equ_name').val(),
            };

            let result = AjaxUtil.getSyncData(_this.baseUrl, param);

            // ✅ Kendo Grid에 데이터 설정
            let grid = $("#equipment_grid").data("kendoGrid");
            if (grid) {
                grid.dataSource.data(result); // ✅ 데이터를 직접 설정
                grid.refresh(); // ✅ UI 갱신
            }
        }


        showDetail() {
            let _this = this;
            let data = _this.grid.getSelect();
            if (data.length > 0) {
                let selectData = data[0];
                FormUtil.BindDataForm(selectData, $('#equipmentForm'));
                console.log("selectData:\n", selectData);
            }
        }

        saveData() {
            let _this = this;
            let data = FormUtil.extractForm($('#equipmentForm'));
            data.OperationRateYN = $("#OperationRateYN").data("kendoSwitch").check() ? 'Y' : 'N';


            let Code = $('#Code').val();
            let Name = $('#Name').val();


            let Status = $('#Status').val();
    
            let Depart_id = data.Depart_id;
            let funcSucc = function (resp) {
                if (resp.success) {
                    Notify.success('저장되었습니다.');
                    _this.searchMainData();
                    _this.resetData();
                } else {
                    Alert.alert('error', resp.message);
                }
            };

            AjaxUtil.postAsyncData(_this.baseUrl + '?action=save', data, funcSucc);
        }


        // 엑셀 다운로드
        exportExcel() {
            let gridData = $('#equipment_grid').data("kendoGrid");
            gridData.bind("excelExport", function (e) {
                e.workbook.fileName = "equipment.xlsx";
            });
            gridData.saveAsExcel();
        }
    };

    let page = new EquipmentPage();
    $(document).ready(function () {
        //page.searchMainData();
    });

</script>

{% endblock %}
