{% extends "app/layout.html" %}
{% block css %}
{% endblock %}

{% block content %}
<div class="content-wrap">
    <div class="content-ui-row">
        <form class="search-form" id="searchForm">
            <div class="card-content search">
                <!-- 개발자 수동 적용, grid-template-columns:1fr 1fr 1fr auto  -->
                <div class="form-ui">
                    <div class="col-auto">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_factory" data-labelCd="공장">공장</label>
                            <div class="field-wrapper">
                                <select id="srch_factory" name="srch_factory"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="keyword" data-labelCd="검색어">검색어</label>
                            <div class="field-wrapper">
                                <input id="keyword" name="keyword" placeholder="품목명, 품목코드, 자재그룹, 자재유형 "/>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card-group-btn search">
                            <button id="btnSearch" class="btn-search">조회</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
        <div class="content-ui-row connect">
            <div class="card-content grid">
                <div class="card-group-btn">
                    <span class="info-text"><i class="material-symbols-outlined">list_alt</i><label data-labelCd="품목 정보">품목 정보</label></span>
                    <span>
                    </span>
                    <span>
                        <!-- 오른쪽 버튼 영역-->
                        <button id="btnExcel">Excel</button>
                    </span>
                </div>
                <div id="material_grid"></div>
            </div>
        </div>
        <div class="content-ui-row connect">
            <div class="card-content edit">
                <div class="card-group-btn">
                    <span class="info-text"><i class="material-symbols-outlined">edit_square</i>입력</span>
                    <span>
                        <button id="btnClear"><i class="material-symbols-outlined">refresh</i>초기화</button>
                        <button id="btnSave"><i class="material-symbols-outlined">save</i>저장</button>
                        <button id="btnDelete"><i class="material-symbols-outlined">delete</i>삭제</button>
                    </span>
                </div>

                <form id="materialForm">
                    <input type="hidden" id="material_id" name="material_id" />
                    <div class="edit-form-ui">
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="factory_id" data-labelCd="공장">공장</label>
                                <div class="field-wrapper">
                                    <select id="factory_id" name="factory_id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label essential" for="material_name" data-labelCd="품목명">품목명</label>
                                <div class="field-wrapper">
                                    <input id="material_name" name="material_name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label essential" for="material_code" data-labelCd="품목코드">품목코드</label>
                                <div class="field-wrapper">
                                    <input id="material_code" name="material_code" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="standard" data-labelCd="규격">규격</label>
                                <div class="field-wrapper">
                                    <input id="standard" name="standard" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="item_group" data-labelCd="자재그룹">자재그룹</label>
                                <div class="field-wrapper">
                                    <input id="item_group" name="item_group" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="item_type" data-labelCd="자재유형">자재유형</label>
                                <div class="field-wrapper">
                                    <input id="item_type" name="item_type" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="basic_unit" data-labelCd="기본단위">기본단위</label>
                                <div class="field-wrapper">
                                    <input id="basic_unit" name="basic_unit" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="cycle_time" data-labelCd="c/t">c/t</label>
                                <div class="field-wrapper">
                                    <input id="cycle_time" name="cycle_time" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="in_price" data-labelCd="입고금액">입고금액</label>
                                <div class="field-wrapper">
                                    <input id="in_price" name="in_price" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="out_price" data-labelCd="출고금액">출고금액</label>
                                <div class="field-wrapper">
                                    <input id="out_price" name="out_price" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% verbatim %}
{% endverbatim %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    class MaterialPage {
        constructor() {
            this.grid = null;
            this.baseUrl = '/api/definition/material';

            this.init();
        }

        init() {
            let _this = this;

            kendo.culture("ko-KR")

            let materialGridOption = {
                columns: [
                    { field: "factory_name", title: "공장", width: 100 },
                    { field: "factory_code", title: "공장코드", width: 100, hidden:true },
                    { field: "material_name", title: "품목명", width: 100 },
                    { field: "material_code", title: "품목코드", width: 100 },
                    { field: "standard", title: "규격", width: 100 },
                    { field: "item_group", title: "자재그룹", width: 100 },
                    { field: "item_type", title: "자재유형", width: 100 },
                    { field: "basic_unit", title: "기본단위", width: 100 },
                    { field: "cycle_time", title: "c/t", width: 100 },
                    { field: "in_price", title: "입고금액", width: 100, format: "{0:c}",type: "number" },
                    { field: "out_price", title: "출고금액", width: 100, format: "{0:c}", type: "number" },
                ],
                // 클릭 이벤트
                change: function (e) {
                    _this.showDetail();
                },
                // 데이터 바인딩 이벤트
                dataBound: function (e) {
                    for (var i = 0; i < this.columns.length; i++) {
                        // 데이터 길이로 자동 컬럼 사이즈 조절
                        this.autoFitColumn(i);
                    };
                    // grid 데이터 개수 표시
                    kendoUtil.showGridRowCount(this.element);
                },
                height: "540px"
            };
            _this.grid = new Grid($("#material_grid"), materialGridOption);

            //search form
            AjaxUtil.fillDropDownOptions($('#srch_factory'), 'factory', 'choose', null);
            $('#keyword').kendoTextBox();
            $('#keyword').keypress(function (e) {
                // Enter(=13)키가 눌렸을 때, 기본 동작 방지 후 searchMainData 호출
                if (e.keyCode === 13) {
                    e.preventDefault();
                    _this.searchMainData();
                }
            });

            //detail form
            AjaxUtil.fillDropDownOptions($('#factory_id'), 'factory', 'choose', null);
            $('#material_name').kendoTextBox();
            $('#material_code').kendoTextBox();
            $('#standard').kendoTextBox();
            $('#item_group').kendoTextBox();
            
            AjaxUtil.fillDropDownOptions($('#item_type'), 'user_code', 'choose', null, 'MTRL_TYPE');
            $('#basic_unit').kendoTextBox();
            $('#cycle_time').kendoNumericTextBox({
                //format: 'n0'
            });
            $('#in_price').kendoNumericTextBox({
                format: 'c' //통화형식
            });
            $('#out_price').kendoNumericTextBox({
                format: 'c' //통화형식
            });

            //form button
            $('#btnSearch').kendoButton({
                icon: "search",
                themeColor: "base",
                click: function () {
                    _this.searchMainData();
                }
            });

            $('#btnExcel').kendoButton({
                icon: "file-excel",
                themeColor: "success",
                click: function () {
                    page.exportExcel();
                }
            });

            $('#btnClear').kendoButton({
                themeColor: "base", click: function () {
                    _this.resetData();
                }
            });
            $('#btnSave').kendoButton({
                themeColor: "info",
                click: function () {
                    _this.saveData();
                }
            });
            $('#btnDelete').kendoButton({
                themeColor: "error",
                click: function () {
                    _this.deleteData();
                }
            });

        }

        searchMainData() {
            let _this = this;

            let param = {
                action: 'read',
                srch_factory: $('#srch_factory').val(),
                keyword: $('#keyword').val(),
            };

            let result = AjaxUtil.getSyncData(_this.baseUrl, param);
            _this.grid.setData(result);

        }

        resetData() {
            let _this = this;
            $("#material_grid").data('kendoGrid').refresh();
            FormUtil.resetForm($('#materialForm'));
        }

        showDetail() {
            let _this = this;
            let data = _this.grid.getSelect();
            if (data.length > 0) {
                let selectData = data[0];
                FormUtil.BindDataForm(selectData, $('#materialForm'));            
            }
        }

        saveData() {
            let _this = this;
            let data = FormUtil.extractForm($('#materialForm'));

            //if (checkForm($('#materialForm')) === false) return;
            let Code = $('#material_code').val();
            let Name = $('#material_name').val();

            if (!Code) {
                Alert.alert('', '품목코드를 입력해주세요.');
                return;
            } else if (!Name) {
                Alert.alert('', '품목명을 입력해주세요.');
                return;
            }

            let funcSucc = function (resp) {
                if (resp.success) {
                    Notify.success('저장되었습니다.');
                    _this.resetData();
                    _this.searchMainData();
                } else {
                    Alert.alert('error', resp.message);
                }
            };

            AjaxUtil.postAsyncData(_this.baseUrl+'?action=save', data, funcSucc);
        }

        deleteData() {
            let _this = this;
            let data = _this.grid.getSelect();
            if (data.length > 0) {
                let selectData = data[0];
                selectData = { material_id: selectData.material_id };
                let funcSucc = function (resp) {
                    if (resp.success) {
                        Notify.success('삭제되었습니다.');
                        _this.resetData();
                        _this.searchMainData();
                    } else {
                        Alert.alert('error', resp.message);
                    }
                };
                AjaxUtil.postAsyncData(_this.baseUrl + '?action=delete', selectData, funcSucc);
            }
        }

        // 엑셀 다운로드
        exportExcel() {
            let gridData = $('#material_grid').data("kendoGrid");
            gridData.bind("excelExport", function (e) {
                e.workbook.fileName = "material.xlsx";
            });
            gridData.saveAsExcel();
        }
    };

    let page = null;

    page = new MaterialPage();
    $(document).ready(function () {
        page.searchMainData();
    });

</script>

{% endblock %}