{% extends "app/layout.html" %}
{% block css %}
{% endblock %}
{% block content %}
<div class="content-wrap">
    <div class="content-ui-row">
        <form class="search-form" id="searchForm">
            <div class="card-content search">
                <div class="form-ui">
                    <div class="col-12 col-md-4 col-xl-3">
                        <div class="form-item align-h L-align-h">
                            <label class="k-label k-form-label" for="srch_tag_group" data-labelCd="태그그룹 코드">태그그룹 코드</label>
                            <div class="field-wrapper">
                                <select id="srch_tag_group" name="srch_tag_group"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="sch_keyword" data-labelCd="검색어">검색어</label>
                            <div class="field-wrapper">
                                <input id="sch_keyword" name="sch_keyword" />
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card-group-btn search">
                            <button id="btnSearch" class="btn-search">조회</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="content-ui-row connect">
            <div class="card-content grid">
                <div class="card-group-btn">
                    <span class="info-text">
                        <i class="material-symbols-outlined">list_alt</i>
                        <label data-labelCd="태그그룹">태그그룹</label>
                    </span>
                    <span>
                        <!-- 오른쪽 버튼 영역-->
                        <button id="btnExcel">Excel</button>
                    </span>
                </div>
                <div id="tag_group_grid"></div>
            </div>
        </div>
        <div class="content-ui-row connect">
            <div class="card-content edit">
                <div class="card-group-btn">
                    <span class="info-text"><i class="material-symbols-outlined">edit_square</i>입력</span>
                    <span>
                        <button id="btnClear"><i class="material-symbols-outlined">refresh</i>초기화</button>
                        <button id="btnSave"><i class="material-symbols-outlined">save</i>저장</button>
                        <button id="btnDelete"><i class="material-symbols-outlined">delete</i>삭제</button>
                    </span>
                </div>

                <form id="tagGroupForm">
                    <input type="hidden" id="tag_group_id" name="tag_group_id" />
                    <div class="edit-form-ui">
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label essential" for="tag_group_code" data-labelCd="태그그룹코드">태그그룹코드</label>
                                <div class="field-wrapper">
                                    <input id="tag_group_code" name="tag_group_code" data-msg="태그그룹코드를"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label essential" for="tag_group_name" data-labelCd="태그그룹명">태그그룹명</label>
                                <div class="field-wrapper">
                                    <input id="tag_group_name" name="tag_group_name" data-msg="태그그룹명을"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="description" data-labelCd="비고">비고</label>
                                <div class="field-wrapper">
                                    <input id="description" name="description" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% verbatim %}
{% endverbatim %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    class TagGroupPage {
        constructor() {
            this.grid = null;
            this.baseUrl = '/api/definition/tag_group';

            this.init();
        }

        init() {
            let _this = this;
            let tagGroupGridOption = {
                toolbar: [
                    "columns"
                ],
                columnMenu: {
                    componentType: "classic",
                    autoSize: true,
                    clearAllFilters: true,
                    columns: {
                        sort: "asc",
                    }
                },
                columns: [
                    { title: 'No', template: (dataItem) => `<div>${dataItem.index + 1}</div>`, width: 50, attributes: { style: 'text-align: center' } },
                    { field: "tag_group_code", title: "태그그룹코드", width: 100 },
                    { field: "tag_group_name", title: "태그그룹명", width: 100 },
                    { field: "description", title: "비고", width: 100 },
                ],
                change: function (e) {
                    _this.showDetail();
                },
                dataBound: function (e) {

                    // No. set
                    let items = this.items();
                    items.each(function (index) {
                        $(this).find("td:first").html(index+1);
                    });

                    this.autoFitColumns();

                    // grid 데이터 개수 표시
                    kendoUtil.showGridRowCount(this.element); 
                },
                height: "540px"
            };
            _this.grid = new Grid($("#tag_group_grid"), tagGroupGridOption);

            //search form
            //combo 데이터 가져와서 요소에 바로 채우기(선택자, combo_type, null_option, selected_value)
            AjaxUtil.fillDropDownOptions($('#srch_tag_group'), 'tag_group', 'all', null);
            $('#sch_keyword').kendoTextBox();
            $('#sch_keyword').keypress(function(e) {
                // Enter(=13)키가 눌렸을 때, 기본 동작 방지 후 searchMainData 호출
                if (e.keyCode === 13) {     
                    e.preventDefault(); 
                    _this.searchMainData();
                }
            });

            //detail form
            $('#tag_group_code').kendoTextBox(); //새로 추가되는 태그도 있을 수 있어서 텍스트박스로
            $('#tag_group_name').kendoTextBox();
            $('#description').kendoTextArea({
                rows: 4,
                autosize: true,
                maxLength: 500,
                size: "large"   // 칸 높이 때문에 추가해봄
            });

            //form button
            $('#btnSearch').kendoButton({
                icon: "search",
                themeColor: "base",
                click: function () {
                    _this.searchMainData();
                }
            });

            $('#btnExcel').kendoButton({
                icon: "file-excel",
                themeColor: "success",
                click: function () {
                    _this.exportExcel();
                }
            });

            $('#btnClear').kendoButton({
                themeColor: "base", click: function () {
                    _this.resetData();
                }
            });
            $('#btnSave').kendoButton({
                themeColor: "info",
                click: function () {
                    _this.saveData();
                }
            });
            $('#btnDelete').kendoButton({
                themeColor: "error",
                click: function () {
                    _this.deleteData();
                }
            });

        }

        searchMainData() {
            let _this = this;

            let param = {
                action: 'read',
                srch_tag_group: $('#srch_tag_group').val(),
                sch_keyword: $('#sch_keyword').val(),
            };

            let result = AjaxUtil.getSyncData(_this.baseUrl, param);
            _this.grid.setData(result);
        }

        resetData() {
            let _this = this;
            $("#tag_group_grid").data('kendoGrid').refresh();
            FormUtil.resetForm($('#tagGroupForm'));
        }

        showDetail() {
            let _this = this;
            let data = _this.grid.getSelect();
            if (data.length > 0) {
                let selectData = data[0];
                FormUtil.BindDataForm(selectData, $('#tagGroupForm')); 
             }
        }

        saveData() {
            let _this = this;
            let data = FormUtil.extractForm($('#tagGroupForm'));

            if (checkForm($('#tagGroupForm')) === false) return;

            let funcSucc = function (resp) {
                if (resp.success) {
                    $('#tag_group_id').val(resp.tag_group_id);
                    Notify.success('저장되었습니다.');
                    _this.searchMainData();
                } else {
                    Alert.alert('error', resp.message);
                }
            };

            AjaxUtil.postAsyncData(_this.baseUrl + '?action=save', data, funcSucc);
        }

        deleteData() {
            let _this = this;
            let data = _this.grid.getSelect();
            if (data.length > 0) {
                let selectData = data[0];
                let param = { 
                    tag_group_id: selectData.tag_group_id 
                };

                let funcSucc = function (resp) {
                    if (resp.success) {
                        Notify.success('삭제되었습니다.');
                        _this.resetData();
                        _this.searchMainData();
                    } else {
                        Alert.alert('error', resp.message);
                    }
                };
                AjaxUtil.postAsyncData(_this.baseUrl + '?action=delete', param, funcSucc);
            }
        }

        // 엑셀 다운로드
        exportExcel() {
            let gridData = $('#tag_group_grid').data("kendoGrid");
            gridData.bind("excelExport", function (e) {
                e.workbook.fileName = "tag_group.xlsx";
            });
            gridData.saveAsExcel();
        }
    };

    let page = null;

    $(document).ready(function () {
        page = new TagGroupPage();

        page.searchMainData();
    });

</script>

{% endblock %}