/plant_i/Properties
/plant_i/obj
/plant_i/static
/plant_i/domain/migrations/__pycache__
/plant_i/domain/migrations
/.vs
/plant_i/configurations/__pycache__
/plant_i/app/views/definition/__pycache__
/plant_i/app/views/__pycache__
/plant_i/domain/models/__pycache__
/plant_i/domain/__pycache__
/plant_i/domain/services/__pycache__
/plant_i/app/__pycache__
