{% extends "app/layout.html" %}

{% block content %}
<div class="content-wrap">
    <div class="content-ui-row">
        <form class="search-form" id="searchForm">
            <div class="card-content search">
                <div class="form-ui">
                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="keyword" data-labelCd="검색어">검색어</label>
                            <div class="field-wrapper">
                                <input id="keyword" name="keyword" placeholder="작업번호, 작업제목, 작업내역, 설비코드, 설비명" />
                            </div>
                            <button type="button" class="zoombutton" id="equKeword" name="equKeword"></button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="dept_pk" data-labelCd="작업부서">작업부서</label>
                            <div class="field-wrapper">
                                <select id="dept_pk" name="dept_pk"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_date_range" data-labelCd="요청기간">요청기간</label>
                            <div class="field-wrapper">
                                <div id="srch_date_range"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="maint_code" data-labelCd="보전유형">보전유형</label>
                            <div class="field-wrapper">
                                <select id="maint_code" name="maint_code"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_environ_equip_only">법정관리설비</label>
                            <input id="srch_environ_equip_only" name="srch_environ_equip_only">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="content-ui-row connect">
            <div class="card-content grid">
                <div class="card-group-btn">
                    <span class="info-text">
                        <i class="material-symbols-outlined">list_alt</i>
                        <label data-labelCd="작업요청">작업요청</label>
                    </span>
                    <span>
                    </span>
                    <span>
                        <!-- 오른쪽 버튼 영역-->
                        <button id="btnSearch" class="btn-search">조회</button>
                        <button id="btnExcel">Excel</button>
                    </span>
                </div>
                <div id="work_order_cancel_list_grid"></div>
            </div>
        </div>
    </div>
</div>


{% verbatim %}
{% endverbatim %}
{% endblock %}

{% block scripts %}

{% include '../../popup/modalWoDetail.html'%}
{% include '../../popup/modalEquSel.html'%}
{% include '../../popup/modalWoStatHist.html'%}


<script type="text/javascript">
    class WorkOrderCancelListPage {
        constructor() {
            this.grid = null;
            this.upload = null;
            this.baseUrl = '/api/kmms/work_order';

            this.comboDept = [];

            this.init();
        }

        init() {
            let _this = this;
            let woGridOption = {
                toolbar: [
                    "columns"
                ],
                columnMenu: {
                    componentType: "classic",
                    autoSize: true,
                    clearAllFilters: true,
                    columns: {
                        sort: "asc",
                    }
                },
                columns: [
                    { field: 'work_order_pk', title: 'WOPK', width: 0, hidden: true },
                    { field: 'wo_type_nm', title: '유형', width: 80, attributes: { style: "text-align: center;" }, template: "#= rqst_insp_yn == 'Y' ? '<span class=\"my-grid-btn my-grid-btn--mini my-grid-btn--insp\">점검</span>' : (rqst_dpr_yn == 'Y' ? '<span class=\"my-grid-btn my-grid-btn--mini my-grid-btn--dpr\">사후</span>' : (wo_type == 'PM' ? '<span class=\"my-grid-btn my-grid-btn--mini my-grid-btn--pm\">PM</span>' : (wo_start_type == 'RQ' ? '<span class=\"my-grid-btn my-grid-btn--mini my-grid-btn--wor\">WO</span>' : '<span class=\"my-grid-btn my-grid-btn--mini my-grid-btn--wo\">WO</span>'))) #" },
                    { field: 'work_order_no', title: '작업지시번호', width: 120, template: '<a href="javascript:void(0);" class="grid-column-link" data-wo-no-pk="#=work_order_pk#">#=work_order_no#</a>' },
                    { field: 'work_title', title: '작업제목' },
                    { field: 'equip_cd', title: '설비코드', width: 150 },
                    { field: 'equip_nm', title: '설비명', width: 150 },
                    { field: 'loc_nm', title: '설비위치', width: 150 },
                    { field: 'start_end_period', title: '작업기간', width: 200, hidden: true },
                    { field: 'rqst_dt', title: '요청일', width: 200 },
                    { field: 'req_dept_nm', title: '요청부서', width: 100, hidden: true },
                    { field: 'cancel_user_nm', title: '취소자', width: 100 },
                    { field: 'maint_type_nm', title: '보전유형', width: 100 },
                    { field: 'wo_status_nm', title: '상태', width: 100, template: '<a href="javascript:void(0);" class="grid-column-link" data-wo-status-pk="#=work_order_pk#">#=wo_status_nm#</a>' },
                    { field: 'cancel_reason', title: '취소사유', width: 150 }
                ],
                dataBound: function (e) {
                    for (var i = 0; i < this.columns.length; i++) {
                        this.autoFitColumn(i);
                    };

                    // grid 데이터 개수 표시
                    kendoUtil.showGridRowCount(this.element);
                },
                height: "540px"
            };
            _this.grid = new Grid($("#work_order_cancel_list_grid"), woGridOption);

            // 그리드 클릭 이벤트를 document.ready에서 한 번만 바인딩
            // 임시 저장일 경우에만 클릭이 가능하고 클릭할 경우 편집 팝업 기능 필요
            $(document).on("click", ".grid-column-link", async function (e) {
                e.preventDefault();

                let woNoPk = $(this).data("wo-no-pk");
                let woTitlePk = $(this).data("wo-title-pk");
                let woStatusPk = $(this).data("wo-status-pk");

                if (woNoPk) {
                    woDetailPage.show(woNoPk, 1);
                } else if (woTitlePk) {
                    myWorkReqPage.show(woTitlePk);
                } else if (woStatusPk) {
                    woStatHistPage.show();
                }
            });

            //search form
            $("#equKeword").kendoButton({
                icon: "k-i-zoom-in",
                rounded: "full",
                click: function (e) {
                    e.preventDefault();
                    setModalPosition('#modalEqu', { width: '70%', height: '70%' });
                    equipSelectPage.show(function (data) {
                        $("#keyword").val(data.equip_cd);
                    });
                }
            });
            $('#keyword').kendoTextBox();
            $('#keyword').keypress(function (e) {
                // Enter(=13)키가 눌렸을 때, 기본 동작 방지 후 searchMainData 호출
                if (e.keyCode === 13) {
                    e.preventDefault();
                    _this.searchMainData();
                }
            });
			AjaxUtil.fillDropDownTreeOptions($('#dept_pk'), 'depart', 'all');
            let today = new Date();
            let threeMonthsAgo = new Date(today);
            threeMonthsAgo.setMonth(today.getMonth() - 3);
            let oneMonthLater = new Date(today);
            oneMonthLater.setMonth(today.getMonth() + 1);
            $("#srch_date_range").kendoDateRangePicker({
                range: {
                    start: threeMonthsAgo,
                    end: oneMonthLater
                },
                change: function (e) {

                },
                format: "yyyy-MM-dd",
                labels: false,
                startField: "start_dt",
                endField: "end_dt"
            });
            AjaxUtil.fillDropDownOptions($('#maint_code'), 'cm_code', 'all', null, 'MAINT_TYPE');

            $('#srch_environ_equip_only').kendoSwitch({ checked: false });

            //form button
            $('#btnSearch').kendoButton({
                icon: "search",
                themeColor: "base",
                click: function () {
                    _this.searchMainData();
                }
            });

            $('#btnExcel').kendoButton({
                icon: "file-excel",
                themeColor: "success",
                click: function () {
                    page.exportExcel();
                }
            });

        }

        searchMainData() {
            let _this = this;

            // 날짜 데이터 처리
            let startDate = '';
            let endDate = '';
            let dateRangePicker = $("#srch_date_range").data("kendoDateRangePicker");

            if (dateRangePicker) {
                let range = dateRangePicker.range();
                if (range) {
                    startDate = range.start ? kendo.toString(range.start, 'yyyy-MM-dd') : '';
                    endDate = range.end ? kendo.toString(range.end, 'yyyy-MM-dd') : '';
                }
            }

            let param = {
                action: 'work_order_cancel_list_read',
                keyword: $('#keyword').val(),
                dept_pk: $("#dept_pk").data("kendoDropDownTree").value(),
                start_dt: startDate,
                end_dt: endDate,
                maint_type_cd: $('#maint_code').val(),

                srch_environ_equip_only: $('#srch_environ_equip_only').data("kendoSwitch").check() ? 'Y' : 'N'
            };

            let result = AjaxUtil.getSyncData(_this.baseUrl, param);
            _this.grid.setData(result);
        }

        // 엑셀 다운로드
        exportExcel() {
            let gridData = $('#work_order_cancel_list_grid').data("kendoGrid");
            gridData.bind("excelExport", function (e) {
                e.workbook.fileName = "work_order_cancel_list.xlsx";
            });
            gridData.saveAsExcel();
        }
    };

    let page = null;
    page = new WorkOrderCancelListPage();

    $(document).ready(function () {
        page.searchMainData();
    });

</script>

{% endblock %}
