{% extends "app/layout.html" %}
{% block css %}
{% endblock %}

{% block content %}

<div class="content_wrap">
    <div class="content-ui-row">
        <div class="card-content search">
            <div class="form-ui">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-item align-h">
                        <label class="k-label k-form-label" for="cboDASServer" data-labelCd="서버">서버</label>
                        <div class="field-wrapper">
                            <select id="cboDASServer" name="cboDASServer"></select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-item align-h">
                        <label class="k-label k-form-label" for="cboEquipment" data-labelCd="설비">설비</label>
                        <div class="field-wrapper">
                            <select id="cboEquipment" name="cboEquipment"></select>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="card-group-btn search">
                        <button id="btnSearch" class="btn-search">조회</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-ui-row connect">
            <div class="card-content grid">
                <div class="card-group-btn">
                    <span class="info-text">
                        <i class="material-symbols-outlined">list_alt</i>
                        <label data-labelCd="설비연계설정">설비연계설정</label>
                    </span>
                    <span>
                        <button id="btnExcel">Excel</button>
                    </span>
                </div>
                <div id="config_grid"></div>
            </div>
        </div>
        <div class="content-ui-row connect">
            <div class="card-content edit">
                <div class="card-group-btn">
                    <span class="info-text"><i class="material-symbols-outlined">list_alt</i> <label data-labelCd="설정 상세 정보">설정 상세 정보</label></span>
                    <span>
                        <button id="btnNew"><i class="material-symbols-outlined">refresh</i>신규</button>
                        <button id="btnSave"><i class="material-symbols-outlined">save</i>저장</button>
                        <button id="btnDelete"><i class="material-symbols-outlined">delete</i>삭제</button>
                    </span>
                </div>
                <form id="configForm">
                    <div class="edit-form-ui">
                        <input type="hidden" id="id" name="id" />
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label essential" for="Server_id" data-labelCd="서버">서버</label>
                                <div class="field-wrapper">
                                    <select id="Server_id" name="Server_id"></select>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label essential" for="Equipment_id" data-labelCd="설비">설비</label>
                                <div class="field-wrapper">
                                    <select id="Equipment_id" name="Equipment_id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label essential" for="Name" data-labelCd="설정명">설정명</label>
                                <div class="field-wrapper">
                                    <input type="text" id="Name" name="Name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="ConfigFileName" data-labelCd="설정파일명">설정파일명</label>
                                <div class="field-wrapper">
                                    <input type="text" id="ConfigFileName" name="ConfigFileName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="Handler" data-labelCd="처리모듈명">처리모듈명</label>
                                <div class="field-wrapper">
                                    <input type="text" id="Handler" name="Handler" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="DeviceType" data-labelCd="장치구분">장치구분</label>
                                <div class="field-wrapper">
                                    <select id="DeviceType" name="DeviceType"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="Topic" data-labelCd="TOPIC">TOPIC</label>
                                <div class="field-wrapper">
                                    <input id="Topic" name="Topic" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label " for="is_active" data-labelCd="수집활성화">수집활성화</label>
                                <div class="field-wrapper">
                                    <input id="is_active" name="is_active" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="Description" data-labelCd="설명">설명</label>
                            <div class="field-wrapper">
                                <textarea id="Description" name="Description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label essential" for="Configuration" data-labelCd="설정(JSON)">설정(JSON)</label>
                            <div class="field-wrapper">
                                <textarea id="Configuration" name="Configuration"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">


    class DASConfigPage {
        constructor() {
            this.grid = null;
            this.init();
        }

        init() {
            let _this = this;


            let gridOption = {
                toolbar: [
                    "columns"
                ],
                columnMenu: {
                    componentType: "classic",
                    autoSize: true,
                    clearAllFilters: true,
                    columns: {
                        sort: "asc",
                    }
                },
                columns: [
                    // 차후 수정
                    { field: "server_name", title: "서버", width: 100 },
                    { field: "equipment_name", title: "설비", width: 150 },
                    { field: "Name", title: "설정명", width: 200 },
                    { field: "DeviceType", title: "수집구분", width: 100 },
                    { field: "is_active", title: "활성화", width: 100 },
                    { field: "Description", title: "설명", width: 200 },
                    { field: "created", title: "생성일", width: 120 },
                ],
                change: function (e) {
                    _this.showDetail();
                },
                dataBound: function (e) {
                    for (var i = 0; i < this.columns.length; i++) {
                        this.autoFitColumn(i);
                    };
                },
                height: 400
            };
            _this.grid = new Grid($("#config_grid"), gridOption);

            AjaxUtil.fillDropDownOptions($('#cboDASServer'), 'das_server', 'all', null);            
            AjaxUtil.fillDropDownOptions($('#cboEquipment'), 'equipment', 'all', false);

            this.initForm();
        }

        initForm() {

            AjaxUtil.fillDropDownOptions($('#Server_id'), 'das_server', 'all', false);
            AjaxUtil.fillDropDownOptions($('#Equipment_id'), 'equipment', 'all', false);
            AjaxUtil.fillDropDownOptions($('#DeviceType'), 'device_type', 'all', false);         


            $('#Name').kendoTextBox();
            $('#Topic').kendoTextBox();
            $('#Handler').kendoTextBox();
            $('#ConfigFileName').kendoTextBox();

            $('#is_active').kendoSwitch();


            $('#Description').kendoTextArea({
                rows: 4,
                maxLength: 200,
                placeholder: ""
            });

            
            $('#Configuration').kendoTextArea({
                rows: 20,
                placeholder: ""
            });
        }

        setButtonDisable(_boolnew, _boolsave, _booldel) {
            $('[id=btnNew]').prop('disabled', _boolnew);
            $('[id=btnSave]').prop('disabled', _boolsave);
            $('[id=btnDelete]').prop('disabled', _booldel);
        }

        showDetail() {
            let _this = this;
            let datas = _this.grid.getSelect();

            let idx = datas[0].id;
            //console.log(idx);

            let param = { 'id': idx, "action": 'detail' };
            let url = '/api/system/das_config';
            let result = AjaxUtil.getSyncData(url, param);
            if (result != null) {
                //FormUtil.BindDataForm(result, $('#configForm'));
                //console.log(result);

                $('#id').val(result.id);
                $('#Server_id').data("kendoDropDownList").value(result.Server_id);
                $('#Equipment_id').data("kendoDropDownList").value(result.Equipment_id);

                $('#Name').val(result.Name);
                $('#ConfigFileName').val(result.ConfigFileName);
                $('#Handler').val(result.Handler);

                $('#DeviceType').data("kendoDropDownList").value(result.DeviceType);

                $('#Topic').val( result.Topic);


                let switchInstance = $("#is_active").data("kendoSwitch");

                if (result.is_active == 'Y') {
                    switchInstance.check(true);
                } else {
                    switchInstance.check(false);
                }

                let j = "{}";
                if (result.Configuration) {
                    let configObj = JSON.parse(result.Configuration);
                    j = _this.jsonValuePretty(configObj);
                };
                $('#Configuration').text(j);
                $('#Description').val(result.Description);
            }

            this.setButtonDisable(false, false, false);
        }

        searchMainData() {
            let _this = this;
            let url = '/api/system/das_config';

            let data = {
                'server': $('#cboDASServer').val(),
                'equipment': $('#cboEquipment').val(),
                'action' : 'read'
            };

            let result = AjaxUtil.getSyncData(url, data);
            if (result != null) {
                _this.grid.setData(result);
            }

            this.resetForm();
            this.setButtonDisable(false, true, true);
        }//searchMainData

        saveData() {
            let _this = this;
            let url = '/api/system/das_config?action=save';

            $('#Equipment_id').val();
            let Name = $('#Name').val();

            if (!$('#Server_id').val()) {
                Alert.alert('', '서버를 입력해주세요.');
                return;
            } else if (!$('#Equipment_id').val()) {
                Alert.alert('', '설비를 입력해주세요.');
                return;
            } else if (!$('#Name').val()) {
                Alert.alert('', '설정명을 입력해주세요.');
                return;
            }

            let $Configuration = $('#configForm').find('#Configuration');
            let config = $Configuration.val();
            try {
                let config_object = JSON.parse(config);
                config = JSON.stringify(config_object);
                $Configuration.val(config);
            } catch (e) {
                console.log(e);
                Alert.alert('', '설정값에 오류가 있습니다.');
                return;
            } 

            //let data = $('#configForm').serialize();
            let data = FormUtil.extractForm($('#configForm'));

            data.is_active = $("#is_active").data("kendoSwitch").check() ? "Y" : "N";

            let fnSuccess = function (res) {
                Notify.success('저장되었습니다'); // Notification
                _this.searchMainData();
            };
           AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        deleteData() {
            let _this = this;
            let url = '/api/system/das_config?action=delete';
            let id = $('#configForm').find('#id').val()
            let data = { id: id };
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('삭제되었습니다'); // Notification
                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }
            };
            let result = AjaxUtil.postAsyncData(url, data, fnSuccess);

        }

        resetForm() {

            $('#configForm')[0].reset();
            $('#id').val(null);
            $('#Description').text('');
            $('#Configuration').text('');

            $('#configForm #code').attr('readonly', false);
            $('#configForm input').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });

            $('#configForm textarea').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });

            $('#configForm').find('#Topic').val(gui.device_topic);
        }

        jsonValuePretty(value) {
            let json = value;
            if (json) {
                json = JSON.stringify(json, null, 4);
                //json = json.replace(/\"([^"]+)\":/g, "$1:").replace(/\uFFFF/g, "\\\"");
            }
            return json;
        }

        // 엑셀 다운로드
        exportExcel() {
            let gridData = $('#config_grid').data("kendoGrid");
            gridData.bind("excelExport", function (e) {
                e.workbook.fileName = "das_config.xlsx";
            });
            gridData.saveAsExcel();
        }
    }

     
    let page = new DASConfigPage();

    $(document).ready(function (e) {  

        $('#btnSearch').click(function (ex) {
            page.searchMainData();
        });


        $('#btnNew').kendoButton({
            themeColor: "base", click: function () {
                page.resetForm();
                page.setButtonDisable(true, false, true);
            }
        });
        $('#btnSave').kendoButton({
            themeColor: "info",
            click: function () {
                Alert.confirm("저장확인", "저장하시겠습니까?", function () { page.saveData(); });                
            }
        });
        $('#btnDelete').kendoButton({
            themeColor: "error",
            click: function () {
                page.deleteData();
            }
        });

        $('#Configuration').on('keydown', function (e) {
            if (event.keyCode === 9) {
                var v = this.value, s = this.selectionStart, e = this.selectionEnd;
                this.value = v.substring(0, s) + '\t' + v.substring(e);
                this.selectionStart = this.selectionEnd = s + 1; return false;
            }
        });

        // 엑셀 다운로드
        $('#btnExcel').kendoButton({
            icon: "file-excel",
            themeColor: "success",
            click: function () {
                page.exportExcel();
            }
        });

        /*
		//그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid', page.grid);
		
        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility','visible');  
        }		
	
        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config.frozenColumnIndex;
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
        });	
        */

        page.searchMainData();
        $('#configForm').find('#Topic').val(gui.device_topic);

    });
</script>


{% endblock %}