{% extends "app/layout_page.html" %}
{% block css %}
{% endblock %}

{% block content %}
<div class="content_wrap">

    <section class="section">

        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="데이터 수집 설정">데이터 수집 설정</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>

        <div class="table_box search">
            <form id="searchForm" autocomplete="off">
                <div class="row">
                    <div class="col-6 col-lg-3 col-xl-2" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_sm" data-labelCd="서버">서버</span>
                            </div>
                            <select class="form-control2" id="cboDASServer" name="cboDASServer" ></select>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-xl-2" >
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text fit_box_sm" data-labelCd="설비">설비</span>
                            </div>
                            <select class="form-control2" id="cboEquipment" name="cboEquipment" ></select>
                        </div>
                    </div>
                    <div class="col-1" >
                        <button type="button" class="btn-default" id="btnSearch" title="조회"><i class="fas fa-search"></i></button>
                    </div> 
                </div>
            </form>
        </div>
    </section>

    <div class="row">
        <div class="col-12 col-xl-8 col-lg-8 col-md-12 ">
            <section >
                <div class="grid_box" >
                    <div class="title_box">
                        <span class="right_align rpt" data-labelCd="데이터 수집 설정">데이터 수집 설정</span>
                        <button type="button" class="btn-default" id="btnExcel" title="엑셀 다운로드"><i class="fas fa-file-excel"></i></button>
                        <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
                    </div>
                    <div class="h-620" data-ax5grid="dasconfig-grid" ></div>
                </div>
            </section>
        </div>

        <div class="col-12 col-xl-4 col-lg-4 col-md-12">
            <section >
                <div class="title_box mb-2">
                    <span class="right_align rpt"data-labelCd="설정 상세 정보">설정 상세 정보</span>
                    <button type="button" class="btn-default" id="btnNew" name="btnNew"><i class="fas fa-plus"></i></button>
                    <button type="button" class="btn-danger y_write_auth" id="btnDelete" style="float:none"><i class="fas fa-trash"></i></button>
                    <button type="button" class="btn-default y_write_auth" id="btnSave" style="float:none"><i class="fas fa-save"></i></button>
                </div>
                <form id="configForm">
                    <input type="hidden" id="id" name="id" />
                    <div class="table_box sub">
                        <div class="row">
                            <div class="col-6" >
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_md" data-labelCd="서버">서버</span>
                                    </div>
                                    <select class="form-control2" id="Server_id" name="Server_id" ></select>
                                </div>
                            </div>

                            <div class="col-6" >
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_md" data-labelCd="설비">설비</span>
                                    </div>
                                    <select class="form-control2" id="Equipment_id" name="Equipment_id" ></select>
                                </div>
                            </div>

                            <div class="col-6" >
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_md" data-labelCd="설정명">설정명</span>
                                    </div>
                                    <input class="form-control2" id="Name" name="Name" />
                                </div>
                            </div>

                            <div class="col-6" >
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_md" data-labelCd="설정파일명">설정파일명</span>
                                    </div>
                                    <input class="form-control2" id="ConfigFileName" name="ConfigFileName" />
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_md" data-labelCd="처리모듈명">처리모듈명</span>
                                    </div>
                                    <input class="form-control2" id="Handler" name="Handler" />
                                </div>
                            </div>

                            <div class="col-6" >
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_md" data-labelCd="장치구분">장치구분</span>
                                    </div>
                                    <select class="form-control2" id="DeviceType" name="DeviceType" ></select>
                                </div>
                            </div>

                            <div class="col-6" >
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_md" data-labelCd="TOPIC명">TOPIC명</span>
                                    </div>
                                    <input class="form-control2" id="Topic" name="Topic" />
                                </div>
                            </div>
                            <div class="col-6" >
                                    <input type="checkbox" id="is_active" name="is_active" value="Y" />
                               수집 활성화
                            </div>

                            <div class="col-12" >
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_area" data-labelCd="설명">설명</span>
                                    </div>
                                    <textarea  class="form-control2 " id="Description" name="Description" ></textarea>

                                </div>
                            </div>
                            <div class="col-12" >
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fit_box_config" data-labelCd="설정(JSON)">설정(JSON)</span>
                                        
                                    </div>
                                    <textarea class="form-control2" id="Configuration" name="Configuration" style="height:390px;" ></textarea>
                                </div>
                            </div>


                        </div>


                    </div>

                </form>


                
            </section>
        </div>


    </div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">


    class DASConfigPage {
        constructor() {
            this.grid = null;
            this.init();
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="dasconfig-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        //e.colIndex
                        //e.dindex
                        //c.value
                        //e.column
                        //e.item
                        //e.list
                        _this.grid.select(this.dindex);
                        _this.showDetail(e.item.id);
                    },
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'server_name', label: '서버', width: 100, align: 'center', sortable: false },
                    { key: 'equipment_name', label: '설비', width: 150, align: 'left', sortable: false },
                    { key: 'Name', label: '설정명', width: 180, align: 'left', sortable: false },
                    { key: 'DeviceType', label: '수집구분', width: 100, align: 'left', sortable: false },
                    {
                        key: 'is_active', label: '활성화', width: 100, align: 'center', sortable: false,
                        formatter: function () {
                            if (this.value=='Y') {
                                return '<span>수집중</span>';
                            } else {
                                return '<span>비활성</span>';
                            }
                        }
                    },
                    { key: 'Description', label: '설명', width: 220, align: 'left', sortable: false },
                    { key: 'created', label: '생성일', width: 150, align: 'center', sortable: false },
                ]
            };

            this.grid = new ax5.ui.grid(config);
            this.grid_config = config; 

            AjaxUtil.fillSelectOptions($('#cboDASServer'), 'das_server', 'all', false);
            AjaxUtil.fillSelectOptions($('#cboEquipment'), 'equipment', 'all', false);

            this.initForm();
        }

        initForm() {

            AjaxUtil.fillSelectOptions($('#Server_id'), 'das_server', '', false);
            AjaxUtil.fillSelectOptions($('#Equipment_id'), 'equipment', 'choose', false);
            AjaxUtil.fillSelectOptions($('#DeviceType'), 'device_type', '', false);           

        }

        setButtonDisable(_boolnew, _boolsave, _booldel) {
            $('[id=btnNew]').prop('disabled', _boolnew);
            $('[id=btnSave]').prop('disabled', _boolsave);
            $('[id=btnDelete]').prop('disabled', _booldel);
        }

        showDetail(idx) {
            let _this = this;
            let param = { 'id': idx, "action": 'detail' };
            let url = '/api/system/das_config';
            let result = AjaxUtil.getSyncData(url, param);
            if (result != null) {
                //FormUtil.BindDataForm(result, $('#configForm'));
                $('#id').val(result.id)
                $('#Server_id').val(result.Server_id)
                $('#Equipment_id').val(result.Equipment_id)
                $('#Name').val(result.Name)
                $('#ConfigFileName').val(result.ConfigFileName)
                $('#Handler').val(result.Handler)
                $('#DeviceType').val(result.DeviceType)
                $('#Topic').val(result.Topic)


                if (result.is_active=='Y') {
                    $('#is_active').prop('checked', 'true');
                } else {
                    $('#is_active').removeProp('checked');
                }

                let j = "{}";
                if (result.Configuration) {
                    let configObj = JSON.parse(result.Configuration);
                    j = _this.jsonValuePretty(configObj);
                };
                $('#Configuration').text(j);
                $('#Description').val(result.Description);
            }

            page.setButtonDisable(false, false, false);
        }

        searchMainData() {
            let _this = this;

            let url = '/api/system/das_config';

            let data = {
                'server': $('#cboDASServer').val(),
                'equipment': $('#cboEquipment').val(),
                //'equipment': $('#keyword').val(),
                'action' : 'read'
            };

            let result = AjaxUtil.getSyncData(url, data);
            if (result != null) {
                let recordsTotal = result.length;
                _this.grid.setData({
                    list: result,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });
            }

            this.resetForm();
            page.setButtonDisable(false, true, true);
        }//searchMainData

        saveData() {
            let _this = this;
            let url = '/api/system/das_config?action=save';
            //데이터입력체크루틴 누락

            let $Configuration = $('#configForm').find('#Configuration');
            let config = $Configuration.val();
            try {
                let config_object = JSON.parse(config);
                config = JSON.stringify(config_object);
                $Configuration.val(config);
            } catch (e) {
                console.log(e);
                Alert.alert('', '설정값에 오류가 있습니다.');
                return;
            } 

            //let data = $('#configForm').serialize();
            let data = FormUtil.extractForm($('#configForm'));

            let fnSuccess = function (res) {
                Notify.success('저장되었습니다'); // Notification
                _this.searchMainData();
            };
           AjaxUtil.postAsyncData(url, data, fnSuccess);
        }

        deleteData() {
            let _this = this;
            let url = '/api/system/das_config?action=delete';
            let id = $('#configForm').find('#id').val()
            let data = { id: id };
            let fnSuccess = function (res) {
                if (res.success) {
                    Notify.success('삭제되었습니다'); // Notification
                    _this.searchMainData();
                } else {
                    Alert.alert('', res.message);
                }
            };
            let result = AjaxUtil.postAsyncData(url, data, fnSuccess);

        }

        resetForm() {

            $('#configForm')[0].reset();
            $('#id').val(null);
            $('#Description').text('');
            $('#Configuration').text('');

            $('#configForm #code').attr('readonly', false);
            $('#configForm input').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });

            $('#configForm textarea').each(function () {
                if ($(this).is(':disabled')) {
                    $(this).removeAttr('disabled');
                }
            });

            $('#configForm').find('#Topic').val(gui.device_topic);
        }

        jsonValuePretty(value) {
            let json = value;
            if (json) {
                json = JSON.stringify(json, null, 4);
                //json = json.replace(/\"([^"]+)\":/g, "$1:").replace(/\uFFFF/g, "\\\"");
            }
            return json;
        }

        // 엑셀 다운로드
        exportExcel() {
            var targetview = this.grid;
            targetview.exportExcel('데이터수집설정내역.xls');
        }
    }

    let page = null;

    $(document).ready(function (e) {
        page = new DASConfigPage();
        $('#btnSearch').click(function (ex) {
            page.searchMainData();
        });


        $('#btnNew').click(function (e) {
            page.resetForm();
            page.setButtonDisable(true, false, true);


            //$('#configForm').reset();

        });

        $('#btnSave').click(function (e) {
            Alert.confirm('', 
                '저장하시겠습니까?',
                function () { page.saveData() },
                function () { }
            );
        });

        $('#btnDelete').click(function (e) {
            Alert.confirm('', 
                '삭제하시겠습니까?',
                function () { page.deleteData() },
                function () { }
            );
        });

        $('#Configuration').on('keydown', function (e) {
            if (event.keyCode === 9) {
                var v = this.value, s = this.selectionStart, e = this.selectionEnd;
                this.value = v.substring(0, s) + '\t' + v.substring(e);
                this.selectionStart = this.selectionEnd = s + 1; return false;
            }
        });

        // 엑셀 다운로드
        $('#btnExcel').on('click', function () {
            page.exportExcel();
        });

		//그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid',  page.grid);
		
        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility','visible');  
        }		
	
        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config.frozenColumnIndex;
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
        });	
        page.searchMainData();

        $('#configForm').find('#Topic').val(gui.device_topic);

    });
</script>


{% endblock %}