{% extends "app/layout.html" %}

{% block css %}
<style>
    .k-daterange-picker .k-dateinput, .k-daterangepicker .k-dateinput {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="content-wrap">
    <div class="content-ui-row">
        <form class="search-form" id="searchForm" onsubmit="return false;">
            <div class="card-content search">
                <div class="form-ui">
                    <div class="col-auto">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_date_range" data-labelCd="생성일">생성일</label>
                            <div class="field-wrapper">
                                <div id="srch_date_range"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_menu" data-labelCd="메뉴">메뉴</label>
                            <div class="field-wrapper">
                                <select id="srch_menu" name="srch_menu"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_user" data-labelCd="사용자">사용자</label>
                            <div class="field-wrapper">
                                <select id="srch_user" name="srch_user"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card-group-btn search">
                            <button id="btnSearch" class="btn-search">조회</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="content-ui-row connect">
            <div class="card-content grid">
                <div class="card-group-btn">
                    <span class="info-text"><i class="material-symbols-outlined">list_alt</i><label data-labelCd="메뉴 접근 내역">메뉴 접근 내역</label></span>
                    <span>
                    </span>
                    <span>
                        <!-- 오른쪽 버튼 영역-->
                        <button id="btnExcel">Excel</button>
                    </span>
                </div>
                <div id="menu_log_grid"></div>
            </div>
        </div>      
    </div>
</div>
{% verbatim %}
{% endverbatim %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    class MenuLogPage {
        constructor() {
            this.grid = null;
            this.baseUrl = '/api/system/menu_log';
            this.init();
        }

        init() {
            let _this = this;
            let systemLogGridOption = {
                toolbar: [
                    "columns"
                ],
                columnMenu: {
                    componentType: "classic",
                    autoSize: false,
                    clearAllFilters: true,
                    columns: {
                        sort: "asc",
                    }
                },
                columns: [
                    // 차후 수정
                    { field: "folder_name", title: "메뉴폴더", width: 150 },
                    { field: "menu_code", title: "메뉴코드", width: 200 },
                    { field: "menu_name", title: "메뉴명", width: 250 },
                    { field: "user_name", title: "사용자", width: 100 },
                    { field: "click_date", title: "생성일", width: 150 },
                ],
                change: function (e) {
                    //_this.showDetail();
                },
                dataBound: function (e) {
                    for (var i = 0; i < this.columns.length; i++) {
                        this.autoFitColumn(i);
                    };
                },
                height: 680
            };
            _this.grid = new Grid($("#menu_log_grid"), systemLogGridOption);

            //search form
            $("#srch_date_range").kendoDateRangePicker({
                range: {
                    start: new Date(),
                    end: new Date()
                },
                change: function (e) {

                },
                format: "yyyy-MM-dd",
                labels: false,
                startField: "start_date",
                endField: "end_date"
            });
            AjaxUtil.fillDropDownOptions($('#srch_user'), 'menu_user', 'all', null);
            AjaxUtil.fillDropDownOptions($('#srch_menu'), 'menu', 'all', null);
            
            
            $('#keyword').kendoTextBox();
            $('#keyword').keypress(function (e) {
                if (e.keyCode == 13) {
                    _this.searchMainData();
                }
            })

            $('#btnSearch').kendoButton({
                icon: "search",
                themeColor: "base",
                click: function () {
                    _this.searchMainData();
                }
            });

            //detail form
            // combo.py에서 정의해서 사용. value = Type, text = Type
            // AjaxUtil.fillDropDownOptions --> 데이터 가져와서 요소에 바로 채우기(선택자, combo_type, null_option, selected_value)
            AjaxUtil.fillDropDownOptions($('#log_type'), 'log_type', 'choose', null);
            $('#source').kendoTextBox();
            $('#created').kendoTextBox();
            $('#message').kendoTextArea({
                rows: 4,
                autosize: true,
                maxLength: 500,
                size: "large"   // 칸 높이 때문에 추가해봄
            });

            $('#btnExcel').kendoButton({
                icon: "file-excel",
                themeColor: "success",
                click: function () {
                    _this.exportExcel();
                }
            });

        }

        searchMainData() {
            let _this = this;

            const startDate = new Date($("#srch_date_range").data("kendoDateRangePicker").range().start);
            const endDate = new Date($("#srch_date_range").data("kendoDateRangePicker").range().end);

            // 9시간 추가(date객체가 UTC 기준이라 서버로 넘어갈 때 9시간 빠져서 넘어감)
            startDate.setHours(startDate.getHours() + 9);
            endDate.setHours(endDate.getHours() + 9);

            let param = {
                action: 'read',
                // 날짜를 YYYY-MM-DD 형태로 변환 & 시간 제외해서 넘기기
                date_from: startDate.toISOString().split("T")[0],
                date_to: endDate.toISOString().split("T")[0],
                keyword: $('#keyword').val(),
            };

            _this.grid.setData([]);
            let gg = $('#menu_log_grid');
            kendo.ui.progress(gg, true);

            let fnSuccess = function (result) {
                if (result.success) {

                    _this.grid.setData(result.items);
                } else {

                }
                kendo.ui.progress(gg, false);
            };

            AjaxUtil.getAsyncData(_this.baseUrl, param, fnSuccess);
        }

        // 엑셀 다운로드
        exportExcel() {
            let gridData = $('#menu_log_grid').data("kendoGrid");
            gridData.bind("excelExport", function (e) {
                e.workbook.fileName = "menu_log.xlsx";
            });
            gridData.saveAsExcel();
        }
    };

    let page = null;

    $(document).ready(function () {
        page = new MenuLogPage();

        page.searchMainData();
    });

</script>

{% endblock %}