/* 좌단 메뉴 영역 */
.menu_area {
  background-color: #fff !important;
}
.menu_wrap .tab_links li.on button {border-color: #242529;}
.menu_wrap .tab_links li.on button > span {background-color: #242529}
.menu_wrap .tab_links li.on h {color: #242529;}
.gnb  { padding-bottom:4em;}
.gnb > li > a:hover,
.gnb ul li a:hover {color: #2e323a; }
.gnb > li.has_sub.open > a,
.gnb .documents > li a.on {color: #2e323a; background: #eeeef0;}
.gnb > li.has_sub.open > a i.star_icon {background:#44474e url(/img/icon/star_white_icon.png)center center no-repeat;}
.gnb > li > a:hover i:after,
.gnb > li.has_sub.open > a i:after {background-color: #44474e;}
.gnb > li.has_sub > a:hover:before,
.gnb > li.has_sub > a:hover:after {background-color: #2e323a}
.gnb > li.has_sub.open > a:after,
.gnb > li.has_sub.open > a:before {background: #2e323a;}
li.has_sub2.open > a{color: #2e323a; font-weight: bold; border-radius: 4px; background: #eeeef0;}
.nav-menu li a { padding: 0.5em;}

.gnb > li a {padding: 0px 0px 0px 0px; }

.gnb ul li a { padding: 0px 2px 2px 30px; }
.gnb ul li a:hover { padding: 2px 2px 0px 30px; }
