@charset "utf-8";

:root {
    --html-font-family: 'pretendard', 'Malgun Gothic', 'Dotum', 'Arial', 'Verdana', 'Tahoma','Helvetica','Gill Sans';
    --page-background: #001a4c;
    --nav-top-item-height: 48px;
    --nav-top-aside-width: 230px;
    --nav-top-background: #40c0f1;
    --nav-aside-width: 230px;
    --body-header-tab-height: 48px;
    --minimized-aside-width: 56px;
    --main-color: #001a4c;
    --sub-color: #4172b3;
    --point-color: #40c0f1;
    --aside-menu-font-color: #abb8d1;
    --aside-menu-font-color-active: #fff;
    --aside-menu-font-color-2depth: #4acdff;
    --aside-menu-icon-color: #889bbf;
    --aside-menu-icon-color-active: #54d0ff;
    --shadow-small: 0 0 5px rgba(0,26,76,.12);
    --shadow-medium: 0 0 8px rgba(0,26,76,.36);
    --shadow-card: 0 1px 3px rgba(0,26,76,.09);
}

html {
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: normal;
    overflow: hidden;
    font-family: var( --html-font-family);
}

* {
    box-sizing: border-box;
}

ul, li, ol, dl, dd, dt {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:hover, a:visited, a:active {
    text-decoration: none
}
/* input 기본 스타일 초기화 */
input, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form {
    margin: 0;
    padding: 0;
    outline: 0;
}
/* 상단 UI 디자인 */
.header-fixed {
    position: absolute;
    width: 100%;
    height: var(--nav-top-item-height);
    top: 0;
    left: 0;
    right: 0;
    z-index: 10600;
}

.ux-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--nav-top-item-height);
    background-color: #1f2935;
}

    .ux-top > a {
        background: #1F2935;
        display: inline-flex;
        align-items: center;
        height: inherit;
        padding: 0 1rem;
        color: #fff;
    }

        .ux-top > a span {
            display: none
        }

.minimized .ux-top > a span {
    display: inline-block
}
.minimized .ux-top > a span > img {
    display: inline-block
}
.minimized .ux-top > a img {
    display: none
}

.ux-top-item {
    /* display:inline-flex; */
    position: absolute;
    right: 0;
    top: 0;
}

    .ux-top-item > li {
        padding-right: 1rem;
        height: var(--body-header-tab-height);
    }

    .ux-top-item li .k-menu-link-text {
        display: inline-flex;
        align-items: center;
        height: inherit;
        font-weight: 600;
    }

    .ux-top-item li .k-icon {
        color: #858585;
    }

    .ux-top-item .k-link {
        color: #454545;
    }

    .ux-top-item .k-menu-popup {
        padding: 15px;
    }
/* ASide 메뉴 영역 */
.menu-scrollbar {
    height: calc(100vh - var(--body-header-tab-height));
    background: #1F2935;
}

.scrollbar-inner > .scroll-element .scroll-element_track {
    background-color: transparent
}

.scrollbar-inner > .scroll-element .scroll-bar {
    opacity: 0;
    transition: opacity .2s;
}

.ux-aside:hover .scrollbar-inner .scroll-bar {
    opacity: .3;
}

.ux-aside {
    position: fixed;
    left: 0;
    width: var(--nav-aside-width);
    height: 100vh;
    padding-top: var(--nav-top-item-height);
    background: var(--page-background);
    z-index: 10599;
    overflow: hidden;
}

    .ux-aside::-webkit-scrollbar {
        display: none;
    }

    .ux-aside .k-tabstrip-items-wrapper {
        border-bottom: 0;
    }

.menuTab-header {
    margin: 3px;
    height: var(--body-header-tab-height)
}

    .menuTab-header li {
        margin: 0 3px 0 0 !important;
        border: 1px solid transparent !important;
        height: 32px;
    }

        .menuTab-header li.k-active {
            border-radius: 3px !important;
            border: 1px solid #0061c6 !important;
        }

    .menuTab-header .k-focus {
        box-shadow: none !important
    }

    .menuTab-header li i {
        font-size: 22px;
    }

.menuTab-content {
    margin: 0;
}

    .menuTab-content .menu-list {
        margin: 0;
    }

.menu-list li a {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    width: 100%;
    padding: 6px 0;
    color: var(--aside-menu-font-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -.5px;
    cursor: pointer;
    white-space: nowrap;
}

    .menu-list li a:hover {
        color: #fff;
        background-color: rgba(0,0,0,.65);
    }

    .menu-list li a.active {
        color: var(--aside-menu-font-color-active);
        font-weight: 600;
    }

    .menu-list li a i {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 4px;
        width: 28px;
        height: 28px;
        color: var(--aside-menu-icon-color);
        font-size: 20px;
        text-align: center;
        line-height: normal;
        font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
        position: relative;
        border-radius: 14px;
        overflow: hidden;
    }

.menu-list.level-01.bookmark {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255,255,255,.18);
}

.menu-list.level-01 > li > a {
    padding: 0;
    font-weight: 600;
    font-size: 15px;
}

    .menu-list.level-01 > li > a.active {
        background-color: transparent;
    }

        .menu-list.level-01 > li > a.active i, .level-02 > li > a.active i {
            color: var(--aside-menu-icon-color-active);
        }

.menu-list .level-02 {
    transition: opacity 0.2s;
}

    .menu-list .level-02 li a i, .menu-list .level-03 li a i {
        width: 14px;
        height: 14px;
        font-size: 18px;
    }

        .menu-list .level-02 li a i:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-image: url(../img/menuIcon-Lv2.svg);
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute
        }

    .menu-list .level-02 .submenu > a > i:before, .menu-list .level-03 .submenu > a > i:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(../img/menuIcon-Lv2-submenu.svg);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute
    }

    .menu-list .level-02 li > a.active > i:before, .menu-list .level-03 li > a.active > i:before {
        background-image: url(../img/menuIcon-Lv2-active.svg);
    }

    .menu-list .level-02 .submenu.open > a {
        color: var(--aside-menu-font-color-active);
        font-weight: 600;
    }

        .menu-list .level-02 .submenu.open > a > i:before {
            transform: rotate(90deg)
        }

.menu-list.level-01 {
    margin: 10px;
}

    .menu-list.level-01 > li.open > a {
    }

.menu-list .level-02 > li {
}

    .menu-list .level-02 > li > a {
        padding-left: 28px;
    }

.menu-list .level-03 > li {
}

    .menu-list .level-03 > li > a {
        padding-left: 45px;
    }

        .menu-list .level-03 > li > a.active {
            color: var(--aside-menu-font-color-active);
            background-color: rgb(227,247,255,.1);
        }

.menu-list ul {
    /*display:none*/
}

.menu-list .open > ul {
    display: block
}

.menu-onoff {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 48px;
    height: var(--body-header-tab-height);
    z-index: 98;
}

    .menu-onoff button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        color: #747577;
        border: 0;
        background-color: transparent;
        border-radius: 5px;
    }

        .menu-onoff button i {
            font-size: 22px;
        }

        .menu-onoff button:hover {
            color: #000;
            border-color: #b3b4b7;
        }
/* body. Contents */
.ux-contents {
    padding-left: var(--nav-aside-width);
    height: 100%;
}

.body-contents {
    height: 100%;
}

    .body-contents > .nth-tabs {
        height: 100%;
    }

.markup-menu {
    height: var(--nav-top-item-height);
    background-color: #fff;
    box-shadow: var(--shadow-small);
    padding-left: 48px;
    padding-right: 98px;
    position: relative;
}

    .markup-menu .navTop-tabs-ui {
        width: 100%;
        height: var(--body-header-tab-height);
        overflow: hidden;
    }

        .markup-menu .navTop-tabs-ui ul {
            display: flex;
            align-items: center;
            height: var(--body-header-tab-height);
            white-space: nowrap;
            gap: 4px;
        }

            .markup-menu .navTop-tabs-ui ul > li {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 0 12px;
                color: #6a6b6f;
                font-size: 13px;
                height: 32px;
                border: 1px solid #dfe4ea;
                letter-spacing: -.75px;
                cursor: pointer;
                position: relative;
                transition: all .2s ease-out;
                border-radius: 3px;
                line-height: 1;
            }

                .markup-menu .navTop-tabs-ui ul > li:hover {
                    padding-right: 30px;
                    color: #000;
                    border-color: #bfc0c7;
                }

                .markup-menu .navTop-tabs-ui ul > li.active {
                    padding-right: 30px;
                    border-color: #40c0f1;
                    font-weight: 500;
                    background-color: #fff;
                    color: #000;
                    box-shadow: 0 1px 3px rgba(0,0,0,.1);
                }

                    .markup-menu .navTop-tabs-ui ul > li.active::before {
                        content: '';
                        display: inline-block;
                        width: 24px;
                        height: 3px;
                        background-color: #1db6ef;
                        position: absolute;
                        left: calc(50% - 12px);
                        bottom: -9px;
                    }

                .markup-menu .navTop-tabs-ui ul > li.home {
                    padding: 3px 6px;
                }

                    .markup-menu .navTop-tabs-ui ul > li.home i {
                        font-size: 22px;
                    }

                .markup-menu .navTop-tabs-ui ul > li button {
                    display: none;
                    margin: 0;
                    padding: 5px;
                    border: 0;
                    line-height: normal;
                    background-color: transparent;
                    position: absolute;
                    right: 0;
                }

                .markup-menu .navTop-tabs-ui ul > li.active button {
                    display: inline-block
                }

                .markup-menu .navTop-tabs-ui ul > li:hover button {
                    display: inline-block;
                    color: #000;
                }

                .markup-menu .navTop-tabs-ui ul > li button:hover i {
                    color: #000;
                }

                .markup-menu .navTop-tabs-ui ul > li button i {
                    font-size: 16px;
                    color: #ced0d6;
                    line-height: normal;
                }

.body-contents .tab-content.auto-height {
    height: calc(100% - var(--body-header-tab-height));
}

    .body-contents .tab-content.auto-height * {
        margin: 0;
        padding: 0;
        border: 0;
        height: 100%;
    }
/* footer */
.footer {
    position: fixed;
    padding-left: var(--nav-aside-width);
    bottom: 0;
}
/* ui.contents */
.iframe-ui {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: var( --html-font-family);
    font-size: 16px;
    overflow: hidden;
}

    .iframe-ui body {
        padding: 15px;
        overflow: auto;
        background-color: #EBF0F4;
        /*background-color:#f2f3f5;*/
    }
/* 로그인 */
.login-ui {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/login-backimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.loginForm-wrap {
    min-width: 420px;
    backdrop-filter: blur(7px);
    padding: 50px;
    border: 0;
    box-shadow: 0 0 12px rgba(0,0,0,.3);
    color: #747282;
    border: 5px solid rgba(255,255,255,.12)
}

    .loginForm-wrap h2 {
        color: #40c0f1;
        margin-top: 0;
    }

        .loginForm-wrap h2 em {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #40c0f1;
            margin-right: 15px;
            font-style: normal;
            border-radius: 25px;
            letter-spacing: -1px;
            position: relative
        }

            .loginForm-wrap h2 em::before {
                content: '';
                position: absolute;
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background-color: rgba(255,255,255,.5);
                right: -11px;
                top: 18px;
            }

    .loginForm-wrap h5 {
        margin-bottom: 35px;
    }

    .loginForm-wrap hr {
        border-top: 1px solid rgba(255,255,255,.25);
    }

    .loginForm-wrap label {
        margin-bottom: 10px;
    }

    .loginForm-wrap .ui-form {
        margin-bottom: 20px;
    }

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 1000px #010a2e !important;
    -webkit-text-fill-color: #40c0f1;
}

.loginForm-wrap .ui-form input {
    padding: 12px 10px;
    color: #fff !important;
    background-color: rgba(255,255,255,.1);
    box-shadow: none;
    font-weight: 600 !important;
    height: auto !important;
    border: 0 !important;
    border-radius: 0 !important
}

.loginForm-wrap .ui-buttom input {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    border: 0;
    padding: 12px;
    color: #001a4c;
    background-color: #40c0f1;
    font-weight: 600;
}

    .loginForm-wrap .ui-buttom input::placeholder {
        color: #fff !important
    }

.copyright-text {
    position: absolute;
    right: 20px;
    bottom: 15px;
    color: rgba(255,255,255,.45)
}
/* 업무화면 */
.iframe-ui {
    width: 100%;
    height: 100%;
}

    .iframe-ui .content-wrap {
        height: auto;
    }

.content-ui-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    row-gap: 10px;
}

.content-ui-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    row-gap: 10px;
    flex-direction: column;
}

.content-ui-row .search-form {
    width: 100%;
}

/* .content-ui-row .connect:last-child {
    margin-bottom: 15px;
} */

.card-content {
    /* display:grid; */
    background-color: transparent;
    padding: 12px;
    box-shadow: var(--shadow-card);
    /* height:100%; */
    width: 100%;
    overflow: auto;
    border-radius: 6px;
}


    .card-content.search {
        padding: 12px 12px 12px 16px;
        background-color: #fff;
        gap: 8px 25px;
        overflow: hidden;
        position: relative;
    }

        .card-content.search:before {
            content: '';
            display: block;
            width: 4px;
            height: 100%;
            background-color: #40c0f1;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
        }

        .card-content.search .btn-search {
            background-color: #008bcf;
            border-color: #008bcf;
            color: #fff;
        }

    .card-content.grid {
        display: block;
        background-color: #fff;
        height: 100%;
        max-width: 100%;
        min-width: 1px;
    }

        .card-content.grid .k-grid, .tab-contents .k-grid {
            height: 100%;
        }

    .card-content.edit {
        background-color: #fff;
    }

    .card-content .form-ui {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 0;
    }

    .card-content .edit-form-ui {
        display: flex;
        flex-wrap: wrap;
        /*        row-gap: 10px;*/
        row-gap: 2px;
        column-gap: 0;
        padding-top: 10px;
    }

    .card-content.vertical {
        display: flex;
        flex-direction: column;
    }

        .card-content.vertical .card-group-btn + form {
            padding-top: 15px;
            border-top: 1px solid #c4c6c9
        }

        .card-content.vertical .form-ui {
            gap: 10px;
        }

/* 버튼 */
.card-group-btn {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .card-group-btn.search {
        margin-bottom: 0;
    }

    .card-group-btn .info-text {
        display: inline-flex;
        align-items: center;
        font-size: 13px;
        font-weight: 700;
    }

        .card-group-btn .info-text i {
            margin-right: 4px;
            color: #40c0f1;
            font-size: 18px;
            font-weight: 700;
        }

.k-button .material-symbols-outlined {
    font-size: 20px;
    font-weight: 400;
}

.k-input-solid {
    transition: all .2s ease-in-out;
}

    .k-input-solid:focus, .k-input-solid.k-focus {
        border-color: #007ebd;
        box-shadow: 0 0 0 2px #007ebd;
    }
/* 정열 */
.form-item {
    display: inline-flex;
    width: 100%;
    /* 25.01.23 김하늘 추가 - label과 content 사이 간격 조정 */
    gap: 10px;
}

    .form-item .k-label.k-form-label {
        margin-bottom: 0;
        line-height: 100%;
        min-width: 30px;
        white-space: pre;
    }

.k-label.essential:after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #eb545c;
    margin-left: 3px;
    margin-bottom: 3px;
}

.align-h {
    align-items: center;
}

.align-v {
    flex-direction: column;
}

.form-item.align-v {
    margin-bottom: 10px;
}

.align-v .k-label.k-form-label {
    margin-bottom: 5px;
}
/* 공간 */
.k-switch-md {
    height: 28px;
}

    .k-switch-md .k-switch-track {
        height: 28px;
    }

    .k-switch-md .k-switch-thumb {
        width: 20px;
        height: 20px;
    }

    .k-switch-md.k-switch-off .k-switch-thumb-wrap {
        left: calc(14px + 0px);
    }

    .k-switch-md.k-switch-on .k-switch-thumb-wrap {
        left: calc( 100% - 14px - 0px)
    }
/* 부트스트랩 */
.btn {
    padding: 3px 12px;
}
/* material 아이콘 */
.label-icon {
    margin-right: 3px;
    color: #00c37d;
}

    .label-icon.small {
        font-size: 16px;
    }
/* Menu Mode */
.menu-mode {
    transition: all .3s;
}

    .menu-mode.expand .menu-list span {
        display: visible;
        opacity: 1;
    }

    .menu-mode.minimized {
        width: var(--minimized-aside-width);
    }

.minimized + .ux-contents {
    padding-left: var(--minimized-aside-width);
}

.minimized .header-fixed .ux-top .d-logo {
    display: none;
}

.minimized .menu-list span {
    visibility: hidden;
    opacity: 0;
}

.minimized .menu-list .level-02 {
    display: none;
}

.minimized.expand {
    width: 230px;
    box-shadow: var(--shadow-medium);
}

    .minimized.expand .menu-list span, .minimized.expand .menu-list .level-02 {
        visibility: visible;
        opacity: 1;
    }
/* active 공통  */
.d-none {
    display: none !important
}

.form-item label {
    width: 150px;
    /* 25.01.23 김하늘 추가 - label width를 동적으로 활용하기 위한 변수 지정 */
    --form-item-label: 120px;
}

.form-item .label-wrapper {
    width: 10%;
    padding-inline: 10px;
}

.form-item div.field-wrapper {
    width: 100%;
}

.content-ui-row [class*="col-"] {
    padding: 5px;
    /* 25.01.23 김하늘 추가 - 컨텐츠 간 간격 조정  */
    padding-inline: 10px;       /* 컨텐츠 사이 */
    padding-inline-end: 20px;   /* 컨텐츠 끝 */
}


.col-left, .col-right {
    flex: 1;
    height: 100%;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.col-center {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    max-width: 80px; /* 가운데 버튼의 가로 크기 */
}

.btn-arrow {
    width: 100%;
    height: 120px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

/* 작은 화면에서 버튼 하단으로 이동 */
@media (max-width: 768px) {
    .content-ui-row {
        flex-direction: column;
    }

    .col-center {
        max-width: 100%;
        width: 100%;
        height: auto; /* 높이 자동 설정 */
    }

    .button-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: auto;
        padding-inline: 30px !important;
    }

    .btn-arrow {
        width: 100%;
        height: 100%;
    }

    .col-center .btn-arrow i {
        transform: rotate(90deg); /* 버튼 회전 */
    }

    /* 25.01.23 김하늘 추가 - 미디어 크기에 따라 label 너비 동적 할당 */
    .form-item .k-label.k-form-label {
        width: calc(var(--form-item-label) * 0.75);
    }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: auto;
    width: auto;
    max-width: 100%;
}

.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}


@media (min-width: 576px) {
    .col-sm-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-sm-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-sm-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-sm-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-sm-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* 25.01.23 김하늘 추가 - 미디어 크기에 따라 label 너비 동적 할당 */
    .form-item .k-label.k-form-label {
        width: calc(var(--form-item-label) * 0.75);
    }
}

@media (min-width: 768px) {
    .col-md-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* 25.01.23 김하늘 추가 - 미디어 크기에 따라 label 너비 동적 할당 */
    .form-item .k-label.k-form-label {
        width: calc(var(--form-item-label) * 0.8);
    }
}


@media (min-width: 992px) {
    .col-lg-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-lg-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-lg-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* 25.01.23 김하늘 추가 - 미디어 크기에 따라 label 너비 동적 할당 */
    .form-item .k-label.k-form-label {
        width: calc(var(--form-item-label) * 0.9);
    }
}


@media (min-width: 1399px) {

    .col-xl-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-xl-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-xl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-xl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-xl-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-xl-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-xl-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-xl-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-xl-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-xl-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* 25.01.23 김하늘 추가 - 미디어 크기에 따라 label 너비 동적 할당 */
    .form-item .k-label.k-form-label {
        width: calc(var(--form-item-label) * 1);
    }
}


/*이가영 Css 추가*/
.k-menu-popup .k-group .k-menu-item i.material-symbols-outlined {
    transform: scale(0.9) !important;
}
.work-content > .work-section > .edit-form-ui {
    margin-bottom: 10px;
}
.d-logo {
    scale: 0.9;
}
.k-grid-md .k-table-th > .k-cell-inner > .k-link {
    background: #e8f9ff !important;
}
.bg-box {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px 10px 10px 10px;
}
.mb--2 {
    margin-bottom: -2px !important;
}
.modal > .modal-content > h3 {
    margin-left: 20px;
}
.modal-footer > .btn > .btn-close {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #f0f0f0;
}
.btn-close, .btn-close, .modal-footer > .btn-close {
    border-color: #e5e5e5;
    color: #000000;
    background-color: #f0f0f0;
}
    .btn-close:hover, .btn-close:hover, .modal-footer > .btn-close:hover {
        border-color: #e5e5e5;
        color: #424242;
        background-color: #ececec;
    }
.btn-primary:focus, .btn-primary:active, .btn-primary:hover {
    border-color: #40c0f1;
    color: #fff;
    background-color: #27b9f1;
}
.btn-primary {
    border-color: #40c0f1;
    color: #40c0f1;
    background-color: #fff;
    padding: 7px 23px;
}
.k-switch-off:focus .k-switch-track, .k-switch-off.k-focus .k-switch-track {
    box-shadow: 0 0 0 1px #40c0f1 !important;
}
.k-switch-on:focus .k-switch-track, .k-switch-on.k-focus .k-switch-track {
    box-shadow: 0 0 0 1px #40c0f1 !important;
}
.k-switch-on .k-switch-track {
    border-color: #40c0f1;
    color: var(--kendo-color-on-primary, white);
    background-color: #40c0f1 !important;
}
.k-switch-on .k-switch-track:active {
    border-color: #40c0f1;
}

.field-wrapper > field-wrapper > .k-datepicker .k-input .k-input-solid .k-input-md .k-rounded-md > .k-input-inner {
    width: 215px !important;
}
/*샘플페이지 시작*/
.k-picker-solid {
    border-color: #d7d9de;
    background-color: #f5f5f5;
    color: #424242;
}
.k-form .k-form-field > .k-label {
    color:#333333
}
span.k-input.k-textbox.k-input-solid.k-input-md.k-rounded-md {
    border-color: #e0e2e7;
    background: #fff;
}
span.k-switch-track.k-rounded-full {
    color: #545754;
    background: #fff;
}
.k-switch-on:focus .k-switch-track {
    background:
}
.k-switch-on:focus .k-switch-track {
    border-color: #40c0f1;
    color: #fff;
    background-color: #40c0f1;
    box-shadow: 0 0 0 1px #40c0f1;
}
 /*샘플페이지 끝*/

 /*alert 페이지 수정*/

.alert-container .k-dialog-titlebar {
    background-color: #fff !important;
}
.alert-container span.k-window-title.k-dialog-title::before {
    content: "check_circle";
    /* 25.03.31 김하늘 수정 */
    /*font-family: 'Material Icons';*/ /* url 외부에서 참조하므로 사용X */
    font-family: 'Material Symbols Outlined'; /* 올바른 icon font-famaily (local) */
    font-style: normal;
    font-weight: normal;
    font-size: 20px; /* 원하는 크기로 조정 */
    vertical-align: middle;
    margin-right: 6px; /* 아이콘과 텍스트 사이 간격 */
    color: #39C25E; /* 아이콘 색상 (원하는 색으로 변경 가능) */
}
.k-dialog-wrapper.alert-container > .k-window.k-dialog {
    width: 300px;
}
/*에러일 때*/
.alert-container.error span.k-window-title.k-dialog-title::before {
    content: "cancel";
    color: #FF4E3E; /* 아이콘 색상 (원하는 색으로 변경 가능) */
}
.alert-container > .k-window.k-dialog {
    border-radius: 5px;
    border-left: solid 4px #39C25E;
}
/*에러일 때*/
.alert-container.error > .k-window.k-dialog {
    border-left: solid 4px #FF4E3E;
}
.alert-container.error button.k-button.k-button-md.k-rounded-md.k-button-solid.k-button-solid-base {
    background-color: #FEE4E3 !important;
    color: #f56c6c;
    border: 1px solid #f56c6c !important;
}
.alert-container span.k-window-title.k-dialog-title {
    color: #39C25E !important;
}
/*에러일 때*/
.alert-container.error span.k-window-title.k-dialog-title {
    color: #FF4E3E !important;
}
button.k-button.k-button-md.k-rounded-md.k-button-solid.k-button-solid-primary {
    background-color: #E5F9F2;
    color: #39C25E;
    border: solid 1px #39C25E;
}
button.k-button.k-button-md.k-rounded-md.k-button-solid.k-button-solid-base {
    background-color: #F4F4F4;
    border: 1px soid #D6D8DD;
    color: #545754;
}
.k-dialog-actions {
    border-top: none;
}

/*라벨 정렬*/
.card-group-btn .info-text > label {
    margin-bottom: 0px;
}
.L-info-txt {
    color: #9599a1;
}

.menu-list li a {
    padding: 5px 0;
}

.L-info_03 {
    color: #333333;
}

.L-info_01, .L-info_02, .L-info_03 {
    padding-right: 5px;
    font-weight: 500;
}

.L-symbols {
    color: #9599a1;
    scale: 0.65;
    margin-top: -5px;
}

.card-group-btn .L-card-group-btn {
    display: flex;
    justify-content: flex-start !important;
}

.L-card-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
}

.k-grid .k-grid-md .k-table-th > .k-cell-inner > .k-link, .k-grid-md .k-table-th > .k-cell-inner > .k-link {
    background: #ecf7ff;
}

.k-button-solid-success {
    color: #67c23a !important;
    background: #f0f9eb !important;
    border-color: #c2e7b0 !important;
}

    .k-button-solid-success:hover {
        background: #67c23a;
        border-color: #67c23a;
        color: #fff;
    }

.card-content.search .btn-search {
    background-color: #fff;
    border-color: #40c0f1;
    color: #40c0f1;
}

.k-button-solid-error {
    color: #f56c6c;
    background: #fef0f0;
    border-color: #fbc4c4;
}

.k-button-solid-info:hover, .k-button-solid-info.k-hover {
    background-color: #c2dfff;
}
/*
.k-button-solid-base:hover {
    background-color: #fff;
}
*/
.k-button-solid-info {
    color: #409eff;
    background: #ecf5ff;
    border-color: #b3d8ff;
}

.k-button-solid-error:hover {
    background-color: #ffdbdb;
}

.markup-menu .navTop-tabs-ui ul > li.active {
    font-weight: 500;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    background-color: #e8f9ff;
    border-color: #40c0f1;
    color: #40c0f1;
}

.markup-menu .navTop-tabs-ui ul > li button i {
    font-size: 16px;
    color: #40c0f1;
    line-height: normal;
}
/*인풋박스 사이즈*/
.form-control {
    height: 30px;
}
/*인풋체크박스*/
input[type="radio"], input[type="checkbox"] {
    margin:0;
}
.checkbox-item label {
    margin-bottom: 0;
}
/*미적용*/
.k-grid .k-grid-filter, .k-grid .k-header-column-menu, .k-grid .k-grid-header-menu, .k-grid .k-hierarchy-cell .k-icon {
    color: var(--kendo-color-on-app-surface, #424242);
    background-color: #e8f9ff !important;
}

.form-item .k-label.k-form-label {
    line-height: 100%;
    min-width: 30px;
    /* 25.01.23 김하늘 추가 - content가 label 침범하지 못하도록 수정 */
    flex-shrink: 0;
}

/* 25.04.17 김하늘 추가 - kendo 자동 생성 form(form-dynamic) 스타일 정의*/
.form-item .form-dynamic .k-label.k-form-label {
    /* label과 input box 간 간격 조정 */
    margin-left: 1px;
    margin-bottom: 5px;
    /* label font 색상 부여 & 얇게(세부 설정이므로) */
    color: #409effd9;
    font-weight: normal;
}

.k-form.form-dynamic {
    /* border로 묶어서 group 상태 강조  */
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e2e7;
}

.k-form-md.form-dynamic .k-form-field,
.k-form-md.form-dynamic .k-form-buttons {
    margin-top: 5px;    /* input box 간 간격 조정*/
}

/* 여기까지 */

.L-btn-star {
    border-color: #fdce3e;
    color: #c9c9c9;
    background-color: #ffffff;
}

.k-button-solid-base .L-btn-star {
    border-color: #fdce3e !important;
}

.k-button-solid-base {
    background-color: #fff;
}

.menu-list li a:hover {
    background-color: rgb(64 192 241 / 50%);
}
.modal-footer > .btn {
    padding: 10px 40px !important;
}

/*AAS 화면*/
.panel-container {
    display: flex; /* 좌우 배치를 위해 flex 사용 */
    height: 100vh; /* 화면 전체 높이 */
    gap: 16px; /* 좌우 패널 간격 */
    padding: 16px;
}
.btn-add {
    color: #40c0f1;
    background-color: #fff;
    border: 1px solid #40c0f1;
    width: 50%;
    border-radius: 5px;
    height: 30px;
}
.col-12.aas-col {
    padding: 5px 0 5px 0 !important;
    padding-inline: 0px !important;
    padding-inline-end: 0px !important;
}
.k-grid .k-grid-md {
    padding-top:10px;
}
.mb-10 {
    margin-bottom:10px;
}
.aas-col > .form-item .k-label.k-form-label {
    width:120px;
}

/* 왼쪽 패널 (트리 구조) */
.right-panel {
    height: 100vh; /* 또는 height: 800px; 등 고정값도 가능 */
    overflow-y: auto; /* 내부 스크롤이 필요한 경우 */
}
.left-panel {
    height: 100vh; /* 또는 height: 800px; 등 고정값도 가능 */
    overflow-y: auto; /* 내부 스크롤이 필요한 경우 */
}
i.material-symbols-outlined.k-button-text.add {
    scale: 0.8;
}
.left-panel {
    flex: 1;
    background: #fff;
    border-radius: 5px; /* 모서리 둥글게 */
    padding: 16px;
    overflow: auto; /* 내용이 많아지면 스크롤 */
    border: 1px solid #e6ebf0;
}
.tree {
    list-style: none;
    padding: 10px;
}

    .tree ul {
        list-style: none;
        padding-left: 20px;
    }

.tree-node {
    display: flex;
    align-items: center; /* 요소들 중앙 정렬 */
    font-size: 16px;
    margin: 5px 0;
}
    .tree-node {
        cursor: pointer;
    }
.toggle-btn {
    width: 12px; /* 크기 일정하게 */
    height: 12px; /* 크기 일정하게 */
    border-radius: 15%;
    background-color: #f8f8f8;
    color: #888888;
    text-align: center;
    margin-right: 8px; /* 버튼과 텍스트 간격 */
    display: inline-block;
    font-size: 12px; /* 폰트 크기 조절 */
    border: 1px solid #888;
    flex-shrink: 0; /* 크기가 변하지 않도록 설정 */
    line-height: 10px; /* 높이와 동일하게 설정하여 수직 중앙 정렬 */
}
.hidden {
    display: none;
}
/*호버됐을떄*/
.tree-node {
    padding: 2px 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

    /* 마우스 올렸을 때 */
    .tree-node:hover {
        background-color: #e9f1ff; /* 연한 파란색 */
        color: #1a73e8; /* 강조 텍스트 색상 */
    }

    /* 활성화(클릭)된 항목 */
    .tree-node.active {
        background-color: #d0e2ff; /* 더 진한 파란색 배경 */
        font-weight: bold;
        border-left: 4px solid #1a73e8;
    }

/*아이콘*/
i.material-symbols-outlined.folder {
    color: #0270FF !important;
    font-size: 19px;
}
i.material-symbols-outlined.folder-open {
    color: #2b95ff !important;
    font-size: 19px;
}
/*file 아이콘 컬러 수정*/
i.material-symbols-outlined.folder-save {
    color: #79DBFF !important;
    font-size: 19px;
}
i.material-symbols-outlined.draft {
    color: #00BBFF !important;
    font-size: 19px;
}

/*텍스트*/
.aas-title {
    color: #0270FF;
    font-weight: bold;
    margin-right: 10px;
}
.prop-title::before {
    content: "";
    width: 12px; /* 동그라미 크기 */
    height: 12px;
    background-color: #D3D3D3; /* 연한 회색 */
    border-radius: 50%; /* 원형 */
    display: inline-block;
    margin-right: 8px; /* 텍스트와 간격 조정 */
    font-size: 16px;
}
.sub-title {
    color: #0295FF;
    font-weight: bold;
    margin-right: 10px;
}
.coll-title {
    color: #00BBFF;
    font-weight: bold;
    margin-right: 10px;
}
.aas-time {
    color: #c5c5c5;
    font-size: 14px;
}
/*file 텍스트 컬러 및 정렬 수정*/
.prop-title, .file-title {
    color: #00baff;
    font-weight: bold;
    margin-right: 10px;
}
li.aas-save {
    display: flex;
}
/* 오른쪽 패널 (상세 정보) */
.right-panel {
    flex: 1;
    background: #ffffff;
    border-radius: 5px;
    padding: 16px;
    overflow: auto;
    border: 1px solid #e6ebf0;
}
.aas-info {
    padding:10px 0;
}
.aas-form-control.form-control {
    padding: 4px 12px;
}
/*슬라이드 추가*/
.slide-panel {
    position: fixed;
    top: 0;
    height: 100%;
    background-color: #f1f1f1;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.5s ease; /* 슬라이드 애니메이션 */
    padding: 20px;
    z-index: 1000;
    right: -100%; /* 기본적으로 화면 밖으로 설정 */
}

    /* 패널이 열렸을 때의 공통 상태 */
    .slide-panel.open {
        right: 0;
    }

.slide-panel-w80 {
    width: 80%;
    right: -80%;
}

.slide-panel-w30 {
    width: 40%;
    right: -40%;
}
/*AAS 관리*/
@media (max-width: 768px) {
    .slide-panel-w80 {
        width: 100%;
        right: -100%;
    }

    .slide-panel-w30 {
        width: 100%;
        right: -100%;
    }
}
@media (max-width: 768px) { /* 예: 태블릿 이하 */
    .container {
        flex-direction: column; /* 세로 레이아웃으로 변경 */
        gap: 0px; /* 패널 사이 간격 없애기 */
    }

    .right-panel {
        margin-left: 0 !important; /* 아래로 떨어지면 왼쪽 여백 제거 */
    }
}
.panel-container {
    display: flex;
}
/* 오른쪽 패널 스타일 */

/* 입력 필드 스타일 */
.right-panel input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: #f9f9f9;
    padding: 4px 12px;
}

/* URL 필드 */
.right-panel a {
    color: #007bff;
    text-decoration: none;
    word-break: break-all; /* 긴 URL이 깨지지 않도록 */
}
.right-panel {
    margin-left: 10px; /* 기본 간격 */
}

    .right-panel a:hover {
        text-decoration: underline;
    }

/* Timestamp 버튼 */
.timestamp-button {
    background: #40c0f1;
    color: white;
    border: none;
    padding: 6px 35px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

    .timestamp-button:hover {
        background: #35b6e8;
    }

/* Timestamp 텍스트 */
.timestamp-text {
    font-size: 12px;
    color: #666;
    margin-top: 8px;
}

/* QR 코드 스타일 */
.qrcode {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    background: #fff;
}
    .qrcode img {
        width: 70px;
        height: 70px;
        object-fit: contain;
    }
.aas-input-group {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}
/* Timestamp 영역 */
.timestamp-content {
    display: flex;
    flex-direction: column;
}
    .aas-input-group label {
        font-weight: bold;
        width: 120px; /* 라벨 넓이를 일정하게 설정 */
        flex-shrink: 0;
        font-weight:500;
    }
/* Timestamp & QR 코드 컨테이너 */
.timestamp-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
/*그리드 상태 컬럼 stateBar 시작*/
.smp_state_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

div[class^='smp_state_div_'] {
    width: 100%;
    height: 15px;
    display: inline-block;
    margin-right: 2px;
}

.smp_state_div_gray {
    background-color: rgb(226, 226, 226);
}

.smp_state_div_green {
    background-color: rgb(46, 155, 60);
}

.smp_state_div_blue {
    background-color: rgb(53, 132, 235);
}

.smp_state_div_orange {
    background-color: rgb(255, 127, 22);
}

.smp_state_div_red {
    background-color: rgb(177, 34, 34);
}
/*그리드 상태 컬럼 stateBar 끝*/


.k-grid .grid-column-link {
    color: #007bff !important; /* 기본 파란색 */
    font-weight: bold !important;
    cursor: pointer;
}

.k-grid .grid-column-link:hover {
    color: #ff5722 !important; /* hover 시 색상 변경 */
    text-decoration: none !important;
}






