{% extends "app/layout.html" %}
{% block css %}
<style>
</style>
{% endblock %}

{% block content %}
<div class="content-wrap">
    <div class="content-ui-row">
        <form class="search-form" id="searchForm">
            <div class="card-content search">
                <div class="form-ui">
                    <div class="col-auto">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="keyword" data-labelCd="검색키워드">검색키워드</label>
                            <div class="field-wrapper">
                                <input id="keyword" name="keyword" placeholder="점검일정번호,점검번호,점검명,설비코드,설비명" />
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_state" data-labelCd="점검상태">점검상태</label>
                            <div class="field-wrapper">
                                <select id="srch_state" name="srch_state"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_dept" data-labelCd="점검부서">점검부서</label>
                            <div class="field-wrapper">
                                <select id="srch_dept" name="srch_dept"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label">점검계획일</label>
                            <div id="srch_date_range"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="chk_my_task">나의 담당건</label>
                            <input id="chk_my_task" name="chk_my_task">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="chk_legal">법정관리설비</label>
                            <input id="chk_legal" name="chk_legal">
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="content-ui-row connect">
            <div class="card-content grid">
                <div class="card-group-btn">
                    <span class="info-text">
                        <i class="material-symbols-outlined">list_alt</i>
                        <label data-labelCd="점검일정">점검일정</label>
                    </span>
                    <span>
                    </span>
                    <span>
                        <!-- 오른쪽 버튼 영역-->
                        <button id="btnAdd">등록</button>
                        <button id="btnSearch" class="btn-search">조회</button>
                        <button id="btnExcel">Excel</button>
                    </span>
                </div>
                <div id="pi_schedule_grid"></div>
            </div>
        </div>

    </div>
</div>

{% verbatim %}
{% endverbatim %}
{% endblock %}

{% block scripts %}

{% include '../../popup/modalPiMaster.html'%}
{% include '../../popup/modalEqus.html'%}
{% include '../../popup/modalItems.html'%}
{% include '../../popup/modalResultEdit.html'%}

<script type="text/javascript">
    class PiSchedulePage {
        constructor() {
            this.grid = null;
            this.upload = null;
            this.baseUrl = '/api/kmms/equip_chk_sche';

            this.comboDept = [];

            this.init();
        }

        init() {
            let _this = this;
            let piScheduleGridOption = {
                toolbar: [
                    "columns"
                ],
                columnMenu: {
                    componentType: "classic",
                    autoSize: true,
                    clearAllFilters: true,
                    columns: {
                        sort: "asc",
                    }
                },
                columns: [
                    {
                        field: 'chk_sche_no',
                        title: '점검일정 번호',
                        width: 100,
                        template: '<a href="javascript:void(0);" class="grid-column-link" data-pk1="#=chk_sche_no#">#=chk_sche_no#</a>'
                    },
                    {
                        field: 'chk_mast_no',
                        title: '점검번호',
                        width: 100,
                        template: '<a href="javascript:void(0);" class="grid-column-link" data-pk2="#=chk_mast_pk#">#=chk_mast_no#</a>'
                    },
                    {
                        field: "chk_mast_nm",
                        title: "점검명",
                        width: 150,
                        template: '<a href="javascript:void(0);" class="grid-column-link" data-pk3="#=chk_sche_pk#">#=chk_mast_nm#</a>'
                    },
                    { field: 'chk_sche_dt', title: '점검계획일', width: 80 },
                    { field: 'chk_dt', title: '점검완료일', width: 80 },
                    { field: 'equip_cnt', title: '점검설비수', width: 80 },
                    { field: 'item_cnt', title: '점검항목수', width: 80 },
                    { field: 'dept_nm', title: '점검부서', width: 80 },
                    { field: 'chk_user_nm', title: '점검담당자', width: 80 },
                    { field: 'chk_status_nm', title: '점검상태', width: 80 },
                    { field: 'chk_status_nm', title: '점검결과', width: 200 }
                ],

                //결과는 데이터를 가지고 만들어야 한다
                //        "template": "# if (chkStatusNm !== '미점검') { # 총 #=equipCnt#건 / 정상 #=normalCount# , <span class='my-kendo-cell-off'>이상 #=failCount#</span> , <span class='label-text-orange'>점검불가 #=unableCheckCount#</span> # } else  { # 총 #=equipCnt#건 / 정상 #=normalCount# , 이상 #=failCount# , 점검불가 #=unableCheckCount# # } #"
                change: function (e) {
                    //_this.showDetail();
                },
                //dataBound: function (e) {
                //    $(".grid-column-link").off("click").on("click", function (e) {
                //        e.preventDefault();
                //        let mastpk = $(this).data("mast-pk");
                //        console.log("mastpk=", mastpk);

                //        if (mastpk) {
                //            piMasterPage.getPiMasterModal(mastpk);
                //        }
                //    });
                //},
                height: "540px"
            };
            _this.grid = new Grid($("#pi_schedule_grid"), piScheduleGridOption);

            $('#keyword').kendoTextBox();

            AjaxUtil.fillDropDownOptions($('#srch_state'), 'cm_code', 'all', null, 'CHK_STATUS');
            AjaxUtil.fillDropDownTreeOptions($("#srch_dept"), "cm_depart", "select");


            $('#btnExcel').kendoButton({
                icon: "file-excel",
                themeColor: "success",
                click: function () {
                    page.exportExcel();
                }
            });

            $('#chk_my_task').kendoSwitch({
                checked: false
            });

            $('#chk_legal').kendoSwitch({
                checked: false
            });

            //search form
            const today = new Date();
            const threeMonthsLater = new Date();
            threeMonthsLater.setMonth(today.getMonth() + 3);

            $("#srch_date_range").kendoDateRangePicker({
                range: {
                    start: new Date(),
                    end: threeMonthsLater
                },
                change: function (e) {

                },
                format: "yyyy-MM-dd",
                labels: false,
                startField: "start_date",
                endField: "end_date"
            });


            $('#btnAdd').kendoButton({
                icon: "k-i-pencil",
                themeColor: "info",     // info 테마 사용
                fillMode: "outline",    // outline 스타일로 변경
                click: function (e) {
                    e.preventDefault();
                    //page.resetModalInputs();  // 초기화 함수 호출
                    $("#modalPmMaster").fadeIn();
                }
            }).css('visibility', 'visible');

            //form button
            $('#btnSearch').kendoButton({
                icon: "search",
                themeColor: "info",     // info 테마 사용
                fillMode: "outline",    // outline 스타일로 변경
                content: "조회",
                click: function () {
                    _this.searchMainData();
                }
            }).css('visibility', 'visible');

        }

        /**
     * PM명 클릭 시 모달 창 열기
     */
        showPmMasterModal(pmId) {
            let _this = this;
            let param = {
                action: 'detail',
                id: pmId,
            };

            // PM 상세 정보를 가져오는 API 호출
            let pmData = AjaxUtil.getSyncData(_this.baseUrl, param);

            console.log("📌 [DEBUG] API 응답 데이터:", pmData);

            if (pmData) {
                $("#modalPmMaster").fadeIn(); // ✅ 모달 표시
                $("#pm_pk").val(pmData.pm_pk);
                $("#pmNumber").val(pmData.pm_no);
                $("#pmName").val(pmData.pm_nm);
                $("#pmType").val(pmData.pm_type);
                $("#maintenanceTime").val(pmData.maintenance_time);
                $("#executionDept").data("kendoDropDownTree").value(pmData.exec_dept);
                $("#pmManager").val(pmData.pm_manager);
                $("#work_text").val(pmData.work_text);

                $("#equ_code").val(pmData.equ_code);
                $("#equ_name").val(pmData.equ_name);
                $("#equ_loc").val(pmData.equ_location);
                $("#equ_import").val(pmData.priority);
                $("#equ_status").val(pmData.equ_status);
                $("#equ_env_yn").val(pmData.equ_env_yn);
            } else {
                alert("PM 정보를 불러오지 못했습니다.");
            }
        }


        searchMainData() {
            let _this = this;

            // 날짜 데이터 처리
            let startDate = '';
            let endDate = '';
            let dateRangePicker = $("#srch_date_range").data("kendoDateRangePicker");

            if (dateRangePicker) {
                let range = dateRangePicker.range();
                if (range) {
                    startDate = range.start ? kendo.toString(range.start, 'yyyy-MM-dd') : '';
                    endDate = range.end ? kendo.toString(range.end, 'yyyy-MM-dd') : '';
                }
            }

            let fnSuccess = function (result) {
                if (result.success) {
                    try {
                        console.log("result:", result)
                        _this.grid.setData(result.data);
                    } catch (e) {
                        Alert.alert('error', '데이터를 가져오는 중 오류가 발생했습니다.');
                    }
                }
            };

            let param = {
                action: 'searchEquipSchedule',  //점검일정목록
                searchText: $('#keyword').val(),
                chkStatus: $('#srch_state').val(),
                deptPk: $("#srch_dept").data("kendoDropDownTree").value(),
                startDate: startDate,
                endDate: endDate,
                isMyTask: $('#chk_my_task').is(':checked') ? 'Y' : 'N',
                environEquipYn: $('#chk_legal').is(':checked') ? 'Y' : 'N',
            };

            console.log("param:", param);

            AjaxUtil.getAsyncData(_this.baseUrl, param, fnSuccess);

        }

        resetData() {
            let _this = this;
            $("#pi_schedule_grid").data('kendoGrid').refresh();
            FormUtil.resetForm($('#searchForm'));
        }


        // 엑셀 다운로드
        exportExcel() {
            let gridData = $('#pi_schedule_grid').data("kendoGrid");
            gridData.bind("excelExport", function (e) {
                e.workbook.fileName = "pm_master.xlsx";
            });
            gridData.saveAsExcel();
        }

    };

    let page = null;

    page = new PiSchedulePage();

    $(document).ready(function () {

        console.log("read ok")
        page.searchMainData();

        $(document).on("click", ".grid-column-link", async function (e) {
            e.preventDefault();

            let pk1 = $(this).data("pk1");
            let pk2 = $(this).data("pk2");
            let pk3 = $(this).data("pk3");
            console.log("pk1=", pk1);
            console.log("pk2=", pk2);
            console.log("pk3=", pk3);

            //점검마스터 상세보기
            if (pk2) {
                piMasterPage.getPiMasterModal(pk2);
            }

            if (pk3) {
                resultEditPage.show(pk3);
            }
        });

    });

</script>

{% endblock %}