{% extends "app/layout.html" %}
{% block css %}
{% endblock %}

{% block content %}
<div class="content-wrap">
    <div class="content-ui-row">
        <form class="search-form" id="searchForm">
            <div class="card-content search">
                <!-- 개발자 수동 적용, grid-template-columns:1fr 1fr 1fr auto  -->
                <div class="form-ui">
                    <div class="col-auto">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="keyword" data-labelCd="검색어">검색어</label>
                            <div class="field-wrapper">
                                <input id="keyword" name="keyword" placeholder="Display Name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card-group-btn search">
                            <button id="btnSearch" class="btn-search" data-labelCd="Search">조회</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="left-panel">
            <div class="card-group-btn">
                <span class="info-text"><i class="material-symbols-outlined">list_alt</i><label data-labelCd="AAS목록">AAS목록</label></span>
                <span></span>
            </div>
            <ul class="tree" id="aas_tree">
                <li>
                    <div class="tree-node" onclick="toggleNode(this)">
                        <span class="toggle-btn">-</span><i class="material-symbols-outlined folder">folder</i><span class="aas-title"> AAS </span> myAASwithGlobalSecurityMetaModel<span class="aas-time"> 25-01-22 01:12:18</span>
                    </div>
                    <ul>
                        <li>
                            <div class="tree-node" onclick="toggleNode(this)">
                                <span class="toggle-btn">-</span><i class="material-symbols-outlined folder-open">folder_open</i><span class="sub-title"> Sub </span> SecuritySettingsForServer @QUALIFIERS <span class="aas-time"> (25-01-21 08:03:38.611)</span>
                            </div>
                            <ul>
                                <li>
                                    <div class="tree-node" onclick="toggleNode(this)">
                                        <span class="toggle-btn">-</span><i class="material-symbols-outlined draft">draft</i><span class="coll-title">Coll </span> roles #1 <span class="aas-time">  (25-01-19 09:36:37.099)</span>
                                    </div>
                                    <div class="tree-node" onclick="toggleNode(this)">
                                        <ul>
                                            <li><span class="prop-title">Prop </span> isNotAuthenticated <span class="aas-time"> (25-01-19 09:36:37.099)</span></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tree-node" onclick="toggleNode(this)">
                                        <span class="toggle-btn">-</span> <i class="material-symbols-outlined draft">draft</i><span class="coll-title"> Coll</span>  roleMapping #1 <span class="aas-time"> (25-01-19 09:36:37.099)</span>
                                    </div>
                                    <div class="tree-node" onclick="toggleNode(this)">
                                        <ul>
                                            <li><span class="prop-title">Prop </span> isNotAuthenticated<span class="aas-time"> (25-01-19 09:36:37.099)</span></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="tree-node" onclick="toggleNode(this)">
                        <span class="toggle-btn">-</span><i class="material-symbols-outlined folder">folder</i><span class="aas-title"> AAS </span> myAASwithGlobalSecurityMetaModel<span class="aas-time"> (25-01-22 01:12:18.991)</span>
                    </div>
                    <ul>
                        <li>
                            <div class="tree-node" onclick="toggleNode(this)">
                                <span class="toggle-btn">-</span><i class="material-symbols-outlined folder-open">folder_open</i><span class="sub-title"> Sub </span> SecuritySettingsForServer @QUALIFIERS <span class="aas-time"> (25-01-21 08:03:38.611)</span>
                            </div>
                            <ul>
                                <li>
                                    <div class="tree-node" onclick="toggleNode(this)">
                                        <span class="toggle-btn">-</span> <i class="material-symbols-outlined draft">draft</i><span class="coll-title">Coll </span> roles #1 <span class="aas-time">  (25-01-19 09:36:37.099)</span>
                                    </div>
                                    <div class="tree-node" onclick="toggleNode(this)">
                                        <ul>
                                            <li><span class="prop-title">Prop </span> isNotAuthenticated <span class="aas-time"> (25-01-19 09:36:37.099)</span></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="tree-node" onclick="toggleNode(this)">
                                        <span class="toggle-btn">-</span><i class="material-symbols-outlined draft">draft</i> <span class="coll-title"> Coll</span>  roleMapping #1 <span class="aas-time"> (25-01-19 09:36:37.099)</span>
                                    </div>
                                    <div class="tree-node" onclick="toggleNode(this)">
                                        <ul>
                                            <li><span class="prop-title">Prop </span> isNotAuthenticated<span class="aas-time"> (25-01-19 09:36:37.099)</span></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


        <!--
        <div class="content-ui-row connect">
            <div class="card-content grid">
                <div class="panel-container">

                </div>
                <div id="aas_grid"></div>
        </div>
            </div>
    -->
        <div class="right-panel">
            <div class="card-group-btn">
                <span class="info-text"><i class="material-symbols-outlined">edit_square</i>AAS입력</span>
                <span>
                    <button id="btnClear"><i class="material-symbols-outlined">refresh</i>초기화</button>
                    <button id="btnSave"><i class="material-symbols-outlined">save</i>저장</button>
                    <button id="btnDelete"><i class="material-symbols-outlined">delete</i>삭제</button>
                </span>
            </div>
            <form id="aasForm">
                <div class="right-panel-content">
                    <div class="aas-info">
                        <div class="aas-input-group">
                            <label class="k-label k-form-label essential" for="id_short" data-labelCd="ID Short">ID Short</label>
                            <input id="id_short" name="id_short" class="form-control" />
                        </div>
                        <div class="aas-input-group">
                            <label class="k-label k-form-label essential" for="id" data-labelCd="id">id</label>
                            <input id="id" name="id" class="form-control" />
                        </div>
                        <div class="aas-input-group">
                            <label class="k-label k-form-label essential" for="version" data-labelCd="Ver/Rev">Ver/Rev</label>
                            <input id="revision" name="revision" placeholder="revision" class="form-control" />
                            <input id="version" name="version" placeholder="version" class="form-control" />
                        </div>
                        <div class="aas-input-group">
                            <select id="language" name="language" class="form-control">
                                <option value="">언어를 선택하세요</option>
                                <option value="ko">한글</option>
                                <option value="en">English</option>
                            </select>
                            <input id="text" name="text" class="form-control" placeholder="이름입력" />
                            <button id="btnAddDisplayName" class="btn-add">추가</button>
                        </div>
                        <div class="aas-input-group">
                            <div id="displayName_grid"></div>
                        </div>

                        <div class="aas-input-group">
                            <label class="k-label k-form-label" for="description" data-labelCd="비고">비고</label>
                            <textarea id="description" name="description" class="form-control"></textarea>
                        </div>

                    </div>

                    <div class="aas-info">

                        <div class="aas-input-group">
                            <label class="k-label k-form-label essential" for="asset_kind" data-labelCd="Asset Kind">Asset Kind</label>
                            <select id="asset_kind" name="asset_kind" class="form-control">
                                <option value="Instance">Instance</option>
                                <option value="Type">Type</option>
                            </select>
                        </div>

                        <div class="col-12 aas-col">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label essential" for="globalAssetId" data-labelCd="Grobal Asset ID">Grobal Asset ID</label>
                                <div class="field-wrapper">
                                    <input id="globalAssetId" name="globalAssetId" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 aas-col">
                            <div class="form-item align-h mb-10">
                                <label class="k-label k-form-label essential" for="globalAssetId" data-labelCd="Specific Asset IDs">Specific Asset IDs</label>
                                <div class="field-wrapper">
                                    <input id="specific_id" name="specific_id" class="form-control" />
                                </div>
                                <div class="field-wrapper">
                                    <button id="btnAddSpecificID" class="btn-add">추가</button>
                                </div>
                            </div>

                            <div id="specificAsssetIds_grid"></div>
                        </div>


                    </div>

                </div>
            </form>
        </div>
        <div class="right-panel">
            <div class="card-group-btn">
                <span class="info-text">
                    <i class="material-symbols-outlined">edit_square</i>
                    <label data-labelCd="Submodel">Submodel</label>
                </span>
                <span></span>
            </div>
            <div class="right-panel-content">
                <div class="aas-info">
                    <div class="aas-input-group">

                    </div>
                </div>

            </div>
        </div>
        <div class="right-panel">
            <div class="card-group-btn">
                <span class="info-text">
                    <i class="material-symbols-outlined">edit_square</i>
                    <label data-labelCd="Property">Property</label>
                </span>
                <span></span>
            </div>
            <div class="right-panel-content">
                <!-- 왼쪽: 텍스트 입력 -->
                <div class="aas-info" id="aas_detail">
                    <div class="aas-input-group">
                        <label>PROP</label>
                        <input type="text" value="isNotAuthenticated" readonly>
                    </div>
                    <div class="aas-input-group">
                        <label>Value Type</label>
                        <input type="text" value="isNotAuthenticated" readonly>
                    </div>
                    <div class="aas-input-group">
                        <label>Semantic ID</label>
                        <input type="text" value="NULL" readonly>
                    </div>
                    <div class="aas-input-group">
                        <label>URL</label>
                        <a href="https://v3.admin-shell-io.com/submodels/aHR0cH..." target="_blank">
                            https://v3.admin-shell-io.com/submodels/aHR0cH...
                        </a>
                    </div>
                    <div class="aas-input-group">
                        <label>TimeStamp</label>
                        <button class="timestamp-button">click</button>
                        <div class="timestamp-text">
                            UPDATE 24-10-18 09:29:50.739 <br>
                            CREATE 24-10-14 05:20:24.670 <br>
                            TREE 24-10-18 09:29:50.739
                        </div>
                    </div>
                    <!-- 오른쪽: QR 코드 -->
                    <div class="aas-input-group">
                        <label>QR Code</label>
                        <div class="qrcode">

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% verbatim %}
<script type="text/x-kendo-template" id="aasTemplate">
    <li>
        <div class="tree-node">
            <span class="toggle-btn" onclick="aasToggleNode(this)">-</span><i class="material-symbols-outlined folder">folder</i><span class="aas-title">#: gubun # </span> <span onclick="aasNodeClick(this)" aas_pk="#=aas_pk#">#: displayName #</span><span class="aas-time"> #: created #</span>
        </div>
        # if (data.sub_items.length>0) { #
        <ul>
             # for (let i=0;i<data.sub_items.length; i++) { let sb = sub_items[i]; #
            <ul>
                <li>
                    <div class="tree-node" >
                        <span class="toggle-btn" onclick="aasToggleNode(this)">-</span><i class="material-symbols-outlined folder-open">folder_open</i><span class="sub-title"> #: sb.gubun # </span> #: sb.displayName # <span class="aas-time"> #: sb.created #</span>
                    </div>
                    <ul>

                    </ul>
                </li>
            </ul>
             # } #
        </ul>
        # } #
    </li>
</script>


{% endverbatim %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    class AASPage {
        constructor() {
            this.grid = null;
            this.baseUrl = '/api/aas/aasgui';
            this.$aasTree = $('#aas_tree');
            this.init();
        }

        init() {
            let _this = this;

            let gridOption = {
                //height: 450,
                //toolbar: [
                //    "columns"
                //],
                //columnMenu: {
                //    componentType: "classic",
                //    autoSize: true,
                //    clearAllFilters: true,
                //    columns: {
                //        sort: "asc",
                //    }
                //},
                columns: [
                    { field: "category", title: "Category", width: 80 },
                    { field: "id_short", title: "id(short)", width: 100 },
                    { field: "id", title: "id", width: 100 },
                    { field: "displayName", title: "Display name", width: 200 },
                    { field: "created", title: "Created", width: 100 },
                    { field: "ver_rev", title: "Version/Revision", width: 100 },
                    { field: "aasx", title: "Download aasx", width: 100 },
                ],
                change: function (e) {
                    _this.showDetail();
                },
                dataBound: function (e) {
                    kendoUtil.showGridRowCount(this.element);
                },
                height: "540px"
            };
            _this.grid = new Grid($("#aas_grid"), gridOption);


            let option2 = {
                columns: [
                    { field: "category", title: "언어", width: 80 },
                    { field: "id_short", title: "이름", width: 100 },
                ],
                change: function (e) {

                },
                dataBound: function (e) {
                    kendoUtil.showGridRowCount(this.element);
                },
                height: "150px"
            };
            _this.displayNameGrid = new Grid($("#displayName_grid"), option2);



            let option3 = {
                columns: [
                    { field: "name", title: "Name", width: 80 },
                    { field: "value", title: "Value", width: 100 },
                ],
                change: function (e) {

                },
                dataBound: function (e) {
                    kendoUtil.showGridRowCount(this.element);
                },
                height: "150px"
            };
            _this.displayNameGrid = new Grid($("#specificAsssetIds_grid"), option3);


            //search form
            $('#keyword').kendoTextBox();
            $('#keyword').keypress(function (e) {
                // Enter(=13)키가 눌렸을 때, 기본 동작 방지 후 searchMainData 호출
                if (e.keyCode === 13) {
                    e.preventDefault();
                    _this.searchMainData();
                }
            });

            //detail form
            $('#Name').kendoTextBox();
            $('#Code').kendoTextBox();
            $('#Description').kendoTextArea({
                rows: 4,
                maxLength: 200,
                placeholder: ""
            });

            //form button
            $('#btnSearch').kendoButton({
                icon: "search",
                themeColor: "base",
                click: function () {
                    _this.searchMainData();
                }
            });

            $('#btnExcel').kendoButton({
                icon: "file-excel",
                themeColor: "success",
                click: function () {
                    page.exportExcel();
                }
            });

            $('#btnClear').kendoButton({
                themeColor: "base", click: function () {
                    _this.resetData();
                }
            });
            $('#btnSave').kendoButton({
                themeColor: "info",
                click: function () {
                    _this.saveData();
                }
            });
            $('#btnDelete').kendoButton({
                themeColor: "error",
                click: function () {
                    _this.deleteData();
                }
            });

        }

        searchMainData() {

            let _this = this;
            let param = {
                action: 'aas_read',
                keyword: $('#keyword').val(),
            };

            let fnSuccess = function (result) {
                _this.aasRender(result.items);
            };

            AjaxUtil.getAsyncData(_this.baseUrl, param, fnSuccess);
        }


        aasRender(aasItems) {
            //console.log(aasItems);
            this.$aasTree.empty();
            let arrHtmls = [];
            for (let i = 0; i < aasItems.length; i++) {
                let template = kendo.template($('#aasTemplate').html());
                let aasHtml = template(aasItems[i]);
                arrHtmls.push(aasHtml);
            }
            let html = arrHtmls.join("");

            this.$aasTree.html(html);
        }


        getSubmodelElements(sm_pk) {
            let param = { 'action': 'submodel_element_list', sm_pk: sm_pk };
            let $sme_div = $('#sm_' + sm_pk);
            $sme_div.empty();

            let fnSuccess = function (result) {
                if (result.success) {
                    let items = result.items;
                }
                else {
                    Alert.alert('조회오류', '서브모델엘리먼트를 가져오지 못했습니다.');
                }
            }

            AjaxUtil.getAsyncData(_this.baseUrl, param, fnSuccess);
        }

        resetData() {
            let _this = this;
            $("#line_grid").data('kendoGrid').refresh();
            FormUtil.resetForm($('#aasForm'));
        }

        showDetail() {
            let _this = this;
            let data = _this.grid.getSelect();
            if (data.length > 0) {
                let selectData = data[0];
                FormUtil.BindDataForm(selectData, $('#aasForm'));
            }
        }

        saveData() {
            let _this = this;
            let data = FormUtil.extractForm($('#aasForm'));

            let Code = $('#Code').val();
            let Name = $('#Name').val();

            if (!Code) {
                Alert.alert('', '라인코드를 입력해주세요.');
                return;
            } else if (!Name) {
                Alert.alert('', '라인명을 입력해주세요.');
                return;
            }

            let funcSucc = function (resp) {
                if (resp.success) {
                    $('#id').val(resp.id);
                    Notify.success('저장되었습니다.');
                    _this.resetData();
                    _this.searchMainData();
                } else {
                    Alert.alert('error', resp.message);
                }
            };
            AjaxUtil.postAsyncData(_this.baseUrl+'?action=save', data, funcSucc);
        }

        deleteData() {
            let _this = this;
            let data = _this.grid.getSelect();
            if (data.length > 0) {
                let selectData = data[0];
                let param = {
                    id: selectData.id,
                }

                let funcSucc = function (resp) {
                    if (resp.success) {
                        Notify.success('삭제되었습니다.');
                        _this.resetData();
                        _this.searchMainData();
                    } else {
                        Alert.alert('error', resp.message);
                    }
                };
                AjaxUtil.postAsyncData(_this.baseUrl + '?action=delete', param, funcSucc);
            }
        }

        // 엑셀 다운로드
        exportExcel() {
            let gridData = $('#line_grid').data("kendoGrid");
            gridData.bind("excelExport", function (e) {
                e.workbook.fileName = "line.xlsx";
            });
            gridData.saveAsExcel();
        }
    };

    let page = new AASPage();

    $(document).ready(function () {
        page.searchMainData();
    });
    //트리구조
    function aasToggleNode(node) {        

        let childUl = node.parentElement.nextElementSibling;

        if (childUl) {
            childUl.classList.toggle('hidden');
            let toggleBtn = node.parentElement.querySelector('.toggle-btn');
            toggleBtn.textContent = childUl.classList.contains('hidden') ? '+' : '-';
        }
    }

    function aasNodeClick(item) {
        let $item = $(item);

        let aas_pk = $item.attr('aas_pk');
        alert(aas_pk);

    }

</script>

{% endblock %}