{% extends "app/layout.html" %}

{% block css %}
<style>
    .k-daterange-picker .k-dateinput, .k-daterangepicker .k-dateinput {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="content-wrap">
    <div class="content-ui-row">
        <form class="search-form" id="searchForm" onsubmit="return false;">
            <div class="card-content search">
                <div class="form-ui">
                    <div class="col-12 col-sm-6 col-md-5 col-xl-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_log_type" data-labelCd="자산구분">자산구분</label>
                            <div class="field-wrapper">
                                <select id="srch_log_type" name="srch_log_type"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 col-xl-4">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="keyword" data-labelCd="키워드">키워드</label>
                            <div class="field-wrapper">
                                <input id="keyword" name="keyword" />
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card-group-btn search">
                            <button id="btnSearch" class="btn-search">조회</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="content-ui-row connect">
            <div class="card-content grid">
                <div class="card-group-btn">
                    <span class="info-text"><i class="material-symbols-outlined">list_alt</i><label data-labelCd="상세자산목록">상세자산목록</label></span>
                    <span>
                    </span>
                    <span>
                        <!-- 오른쪽 버튼 영역-->
                        <!--<button id="btnReturn">반려</button>
                        <button id="btnReSample">재샘플</button>
                        <button id="btnEditSample"><i class="material-symbols-outlined">edit</i>샘플수정</button>
                        <button id="btnHistory">이력조회</button>
                        <button id="btnFile">파일조회</button>
                        <button id="btnApproval">승인</button>-->
                        <button id="btnExcel">Excel</button>
                    </span>
                </div>
                <div id="spec_asset_grid"></div>
            </div>
        </div>
        <div class="content-ui-row connect">
            <div class="card-content edit">
                <div class="card-group-btn">
                    <span class="info-text">
                        <!--<i class="material-symbols-outlined">list_alt</i> 적합한 icon 찾아야 할듯 -->
                         자산 정보
                    </span>
                </div>
                <form id="specAssetForm">
                    
                    <div class="edit-form-ui">
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="log_type" data-labelCd="구분">구분</label>
                                <div class="field-wrapper">
                                    <select id="log_type" name="log_type"  class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label essential" for="source" data-labelCd="에러위치">에러 위치</label>
                                <div class="field-wrapper">
                                    <input id="source" name="source" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="created" data-labelCd="발생일">발생일</label>
                                <div class="field-wrapper">
                                    <input id="created" name="created"  class="form-control" />
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-12 col-sm-6 col-md-4">-->
                        <div class="col-12 col-sm-6 col-md-12">
                            <div class="form-item align-h">
                                <label class="k-label k-form-label" for="message" data-labelCd="설명">설명</label>
                                <div class="field-wrapper">
                                    <input id="message" name="message"  class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>
{% verbatim %}
{% endverbatim %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    class SystemLogPage {
        constructor() {
            this.grid = null;
            this.baseUrl = '/api/system/system_log';
            this.init();
        }

        init() {
            let _this = this;
            let systemLogGridOption = {
                toolbar: [
                    "columns"
                ],
                columnMenu: {
                    componentType: "classic",
                    autoSize: true,
                    clearAllFilters: true,
                    columns: {
                        sort: "asc",
                    }
                },
                columns: [
                    // 차후 수정
                    { field: "id", title: "No", width: 100 },
                    { field: "type", title: "구분", width: 100 },
                    { field: "source", title: "에러위치", width: 100 },
                    { field: "message", title: "설명", width: 100 },
                    { field: "created", title: "생성일", width: 100 },
                ],
                change: function (e) {
                    _this.showDetail();
                },
                dataBound: function (e) {
                    for (var i = 0; i < this.columns.length; i++) {
                        this.autoFitColumn(i);
                    };
                },
                height: 680
            };
            _this.grid = new Grid($("#system_log_grid"), systemLogGridOption);

            //search form
            $("#srch_date_range").kendoDateRangePicker({
                range: {
                    start: new Date(),
                    end: new Date()
                },
                change: function (e) {

                },
                format: "yyyy-MM-dd",
                labels: false,
                startField: "start_date",
                endField: "end_date"
            });
            AjaxUtil.fillDropDownOptions($('#srch_log_type'), 'log_type', 'all', null);
            $('#keyword').kendoTextBox();
            $('#keyword').keypress(function (e) {
                if (e.keyCode == 13) {
                    _this.searchMainData();
                }
            })

            $('#btnSearch').kendoButton({
                icon: "search",
                themeColor: "base",
                click: function () {
                    _this.searchMainData();
                }
            });

            //detail form
            // combo.py에서 정의해서 사용. value = Type, text = Type
            // AjaxUtil.fillDropDownOptions --> 데이터 가져와서 요소에 바로 채우기(선택자, combo_type, null_option, selected_value)
            AjaxUtil.fillDropDownOptions($('#log_type'), 'log_type', 'choose', null);
            $('#source').kendoTextBox();
            $('#created').kendoTextBox();
            $('#message').kendoTextArea({
                rows: 4,
                autosize: true,
                maxLength: 500,
                size: "large"   // 칸 높이 때문에 추가해봄
            });

            $('#btnExcel').kendoButton({
                icon: "file-excel",
                themeColor: "success",
                click: function () {
                    page.exportExcel();
                }
            });

        }

        searchMainData() {
            let _this = this;

            const startDate = new Date($("#srch_date_range").data("kendoDateRangePicker").range().start);
            const endDate = new Date($("#srch_date_range").data("kendoDateRangePicker").range().end);

            // 9시간 추가(date객체가 UTC 기준이라 서버로 넘어갈 때 9시간 빠져서 넘어감)
            startDate.setHours(startDate.getHours() + 9);
            endDate.setHours(endDate.getHours() + 9);

            let param = {
                action: 'read',
                // 날짜를 YYYY-MM-DD 형태로 변환 & 시간 제외해서 넘기기
                start: startDate.toISOString().split("T")[0],
                end: endDate.toISOString().split("T")[0],
                log_type: $('#srch_log_type').val(),
                keyword: $('#keyword').val(),
            };

            let result = AjaxUtil.getSyncData(_this.baseUrl, param);
            _this.grid.setData(result);
        }

        showDetail() {
            let _this = this;
            let data = _this.grid.getSelect();
            console.log(data)

            if (data.length > 0) {
                let selectData = data[0];
                FormUtil.BindDataForm(selectData, $('#systemLogForm'));

                $('#log_type').data("kendoDropDownList").value(selectData.type);
            }
        }

    };

    let page = null;

    $(document).ready(function () {
        page = new SystemLogPage();

        page.searchMainData();
    });

</script>

{% endblock %}