{% extends "app/layout.html" %}
{% block css %}
{% endblock %}

{% block content %}
<div class="content-wrap">
    <div class="content-ui-row">
        <form class="search-form" id="searchForm" onsubmit="return false;">
            <div class="card-content search">
                <div class="form-ui">
                    <div class="col-12 col-sm-6 col-md-5 col-xl-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_log_type" data-labelCd="자산구분">자산구분</label>
                            <div class="field-wrapper">
                                <select id="cboAssetType" name="asset_type"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-5 col-xl-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_log_type" data-labelCd="AAS입력여부">입력여부</label>
                            <div class="field-wrapper">
                                <select id="cboAssetInputYN" name="aas_input_yn">
                                    <option value="N">Not yet</option>
                                    <option value="Y">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-5 col-xl-4">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="keyword" data-labelCd="키워드">키워드</label>
                            <div class="field-wrapper">
                                <input id="keyword" name="keyword" />
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card-group-btn search">
                            <button id="btnSearch" class="btn-search">조회</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <div class="content-ui-row connect">
                <div class="card-content grid">
                    <div class="card-group-btn">
                        <span class="info-text"><i class="material-symbols-outlined">list_alt</i><label data-labelCd="자산목록">자산목록</label></span>
                        <span></span>
                        <span><button id="btnExcel">Excel</button></span>
                    </div>
                    <div id="spec_asset_grid"></div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">

            <div class="content-ui-row connect">
                <div class="card-content edit">
                    <div class="card-group-btn">
                        <span class="info-text"><i class="material-symbols-outlined">list_alt</i>자산 상세/수정정보</span>
                        <span>
                            <button id="btnAssetSave"></button>
                            <button id="btnAssetDelete"></button>
                        </span>
                    </div>
                    <form id="specAssetForm">
                        <div class="edit-form-ui">
                            <div class="col-6 col-sm-12">
                                <div class="form-item align-h">
                                    <label class="k-label k-form-label essential" for="asset_kind" data-labelCd="자산구분">자산구분</label>
                                    <div class="field-wrapper">
                                        <select id="asset_kind" name="asset_kind" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-12">
                                <div class="form-item align-h">
                                    <label class="k-label k-form-label essential" for="asset_type" data-labelCd="자산종류">자산종류</label>
                                    <div class="field-wrapper">
                                        <select id="asset_type" name="asset_type" class="form-control"></select>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12">
                                <div class="form-item align-h">
                                    <label class="k-label k-form-label" data-labelCd="Gloabl Asset ID">Gloabl Asset ID</label>
                                    <div class="field-wrapper" style="display:flex">
                                        <input id="txtGlobalAssetID" name="global_asset_id" class="form-control" placeholder="http://plant-i.hlklemove.com/assets/식별자" />&nbsp;
                                        <button id="btnShowGolbalIdsPage">생성</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-item align-h">
                                    <label class="k-label k-form-label ">Thumbnail</label>
                                    <div class="field-wrapper">
                                        <input id="fileThumbnail" name="thumbnailfile" type="file" accept="image/*" placeholder="설비이미지파일지정" class="form-control" />
                                    </div>

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-item align-h">
                                    <label class="k-label k-form-label"></label>
                                    <div class="field-wrapper">
                                        <img src="/static/img/no-image.png" id="imgThumbnail" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-item align-h">
                                    <label class="k-label k-form-label essential" for="asset_type" data-labelCd="작성자">작성자</label>
                                    <div class="field-wrapper">
                                        <input id="txtCreateUser" name="create_username" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-item align-h">
                                    <label class="k-label k-form-label essential" for="asset_type" data-labelCd="작성일">작성일</label>
                                    <div class="field-wrapper">
                                        <input id="txtCreated" name="created" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <hr />
                            </div>
                            <div class="col-12">
                                <div class="form-item align-h">
                                    <label class="k-label k-form-label" data-labelCd="AAS Id">AAS Id</label>
                                    <div class="field-wrapper">
                                        <input id="txtAASShortId" name="aas_short_id" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-content edit">
                    <div class="card-group-btn">
                        <span class="info-text"><i class="material-symbols-outlined">list_alt</i> 자산 식별자 관리</span>
                    </div>
                    <div class="edit-form-ui">
                        <div class="col-12">
                            <div class="aas-input-group">
                                <div id="specificAsssetIds_grid"></div>
                            </div>
                            <span>
                                <button id="btnShowSpecificIdAdd"></button>
                                <button id="btnSpecificIdDelete"></button>
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tmpGlolbalIdsPage" class="content-wrap popup" style="display:none">
    <div class="content-ui-row">
        <div class="card-content">
            <form>
                <div class="edit-form-ui">

                    <div class="col-6">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="cboType" data-labelCd="형식">형식</label>
                            <div class="field-wrapper">
                                <select id="cboType" name="type" class="form-control">
                                    <option value="IRI">IRI</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="txtAssetId" data-labelCd="식별자">식별자</label>
                            <div class="field-wrapper">
                                <input type="text" id="txtAssetId" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="txtGlobalId" data-labelCd="Global Id">Global Id</label>
                            <div class="field-wrapper">
                                <input type="text" id="txtPopupGlobalAssetId" value="" readonly />
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="card-content edit">
            <div class="card-group-btn">
                <span>
                    <button type="button" id="btnMakeGlobalId">채택</button>
                </span>
            </div>

        </div>
    </div>
</div>

<div id="tmpSpecificIdPage" class="content-wrap popup" style="display:none">
    <div class="content-ui-row ">
        <div class="card-content">
            <form>
                <div class="edit-form-ui">
                    <div class="col-12">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="type" data-labelCd="이름">이름</label>
                            <div class="field-wrapper">
                                <input type="text" id="txtName" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="txtGlobalId" data-labelCd="값">값</label>
                            <div class="field-wrapper">
                                <input type="text" id="txtValue" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-content">
            <div class="card-group-btn">
                <span>
                    <button type="button" id="btnAddSpecificId">추가</button>
                </span>
            </div>
        </div>
    </div>
</div>

{% verbatim %}
{% endverbatim %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    class DetailAssetPage {
        constructor() {
            this.grid = null;
            this.baseUrl = '/api/aas/asset';
            this.init();

            this.initGlobalIdPopup();
            this.initSpecificIdPopup();
        }

        init() {
            let _this = this;
            let systemLogGridOption = {
                toolbar: [
                    "columns"
                ],
                columnMenu: {
                    componentType: "classic",
                    autoSize: true,
                    clearAllFilters: true,
                    columns: {
                        sort: "asc",
                    }
                },
                columns: [
                    { field: "asset_type", title: "자산구분", width: 100 },
                    { field: "global_asset_id", title: "Global Asset ID", width: 200 },
                    { field: "aas_input_yn", title: "AAS등록여부", width: 100 },
                    { field: "thumbnail_img", title: "Thumbnail", width: 100 },
                    { field: "created", title: "생성일", width: 120 },
                ],
                change: function (e) {
                    _this.showDetail();
                },
                dataBound: function (e) {
                    //for (var i = 0; i < this.columns.length; i++) {
                    //    this.autoFitColumn(i);
                    //};
                },
                height: 700
            };
            _this.grid = new Grid($("#spec_asset_grid"), systemLogGridOption);

            // 검색조건
            AjaxUtil.fillDropDownOptions($('#cboAssetType'), 'asset_type', "all", null);
            AjaxUtil.fillDropDownOptions($('#cboAssetInputYN'), 'input_yn', 'all', null);
            $('#keyword').kendoTextBox();
            $('#keyword').keypress(function (e) {
                if (e.keyCode == 13) {
                    _this.searchMainData();
                }
            })

            $('#btnSearch').kendoButton({
                icon: "search",
                themeColor: "base",
                click: function () {
                    _this.searchMainData();
                }
            });

            // 그리드위 
            $('#btnExcel').kendoButton({
                icon: "file-excel",
                themeColor: "success",
                click: function () {
                    page.exportExcel();
                }
            });

            // AssetInformation Form [
            // Global ID 추가 팝업 생성
            $('#btnShowGolbalIdsPage').kendoButton({
                icon: "search",
                themeColor: "warning",
                click: function () {
                    _this.showGlobalAseetIds();
                }
            });
            // 그리드에서 선택 삭제
            $('#btnSpecificIdDelete').kendoButton({
                icon: "trash",
                themeColor: "error",
                click: function () {

                }
            });


            // SpecificID 팝업창에서 선택
            $('#btnShowSpecificIdAdd').kendoButton({
                icon: "plus",
                themeColor: "info",
                click: function () {
                    _this.showSpecificAssetIds();
                }
            });

            // 입력폼
            AjaxUtil.fillDropDownOptions($('#asset_kind'), 'asset_kind', false, null);
            AjaxUtil.fillDropDownOptions($('#asset_type'), 'asset_type', "choose", null);

            $("#btnAssetSave").kendoButton({
                icon: "save",
                themeColor: "info",
                click: function () {
                    Alert.alert("자산추가/수정", "구현중..");
                }
            });

            $("#btnAssetDelete").kendoButton({
                icon: "trash",
                themeColor: "error",
                click: function () {
                    Alert.alert("자산삭제", "구현중..삭제표시");
                }
            });


            let $imgThumbnail = $('#imgThumbnail');

            //$("#fileThumbnail").kendoUpload({}).data("kendoUpload");
            let $fileThumbnail = $("#fileThumbnail").kendoUpload({
                remove: function (e) {
                    $imgThumbnail.attr("src", "/static/img/no-image.png");
                }
            });

            $fileThumbnail.on('change', function (e) {
                let files = e.currentTarget.files;
                let file;
                if (files.length > 0) {
                    file = files[0];
                    
                    let img = $imgThumbnail[0];
                    const reader = new FileReader();
                    reader.onload = (e) => {

                        img.setAttribute('src', e.target.result);
                        img.setAttribute('style', "width:120px;");
                        img.setAttribute('data-file', file.name);
                        
                    };
                    reader.readAsDataURL(file);
                }
            });



            /*
            // SpecificID 팝업창에서 선택
            $('#btnUpload').kendoButton({
                icon: "upload",
                themeColor: "info",
                click: function () {
                    
                }
            });
            */




            //detail form
            // combo.py에서 정의해서 사용. value = Type, text = Type

            let option = {
                columns: [
                    { field: "name", title: "Name", width: 80 },
                    { field: "value", title: "Value", width: 100 },
                ],
                change: function (e) {

                },
                dataBound: function (e) {
                    kendoUtil.showGridRowCount(this.element);
                },
                height: "150px"
            };
            this.specificAsssetIdsGrid = new Grid($("#specificAsssetIds_grid"), option);

        }

        initGlobalIdPopup() {


            // GlobalId Page 팝업윈도우 설정
            $('#tmpGlolbalIdsPage').kendoWindow({
                width: "600", // windowWidth
                height: "300",
                title: "Asset Global ID",
                visible: false,
                actions: ["Close"],
                close: () => {
                    // 팝업 닫을 때 특별한 정리 로직이 필요하면 여기에 구현
                }
            });

            // txtGlobalId, cboType
            let $txtGlobalId = $('#txtGlobalId').kendoTextBox();
            let $txtPopupGlobalAssetId = $('#txtPopupGlobalAssetId').kendoTextBox();
            let $txtAssetId = $('#txtAssetId ').kendoTextBox();
            $txtAssetId.on('change', function (e) {
                //console.log($txtAssetId.val());
                let gid = "http://plant-i.hlklemove.com/assets/" + $txtAssetId.val()
                $txtPopupGlobalAssetId.val(gid);
            });

            // 채택버튼
            $('#btnMakeGlobalId').kendoButton({
                icon: "search",
                themeColor: "success",
                click: function () {
                    let pop_gid = $txtPopupGlobalAssetId.val();
                    $('#txtGlobalAssetID').val(pop_gid);
                }
            });
        }

        initSpecificIdPopup() {
            $('#tmpSpecificIdPage').kendoWindow({
                width: "600", // windowWidth
                height: "300",
                title: "Specific Id Add",
                visible: false,
                actions: ["Close"],
                close: () => {
                    // 팝업 닫을 때 특별한 정리 로직이 필요하면 여기에 구현
                }
            });

            let $txtName = $('#txtName').kendoTextBox();
            let $txtValue = $('#txtValue').kendoTextBox();

            // Specific Id추가
            $('#btnAddSpecificId').kendoButton({
                icon: "search",
                themeColor: "success",
                click: function () {
                    let pop_gid = $txtPopupGlobalAssetId.val();
                    $('#txtGlobalAssetID').val(pop_gid);
                }
            });

        }


        showGlobalAseetIds() {
            let _this = this;
            $('#tmpGlolbalIdsPage').data("kendoWindow").center().open();

        }

        showSpecificAssetIds() {
            $('#tmpSpecificIdPage').data("kendoWindow").center().open();
        }

        searchMainData() {
            let _this = this;

            const startDate = new Date($("#srch_date_range").data("kendoDateRangePicker").range().start);
            const endDate = new Date($("#srch_date_range").data("kendoDateRangePicker").range().end);

            // 9시간 추가(date객체가 UTC 기준이라 서버로 넘어갈 때 9시간 빠져서 넘어감)
            startDate.setHours(startDate.getHours() + 9);
            endDate.setHours(endDate.getHours() + 9);

            let param = {
                action: 'read',
                // 날짜를 YYYY-MM-DD 형태로 변환 & 시간 제외해서 넘기기
                start: startDate.toISOString().split("T")[0],
                end: endDate.toISOString().split("T")[0],
                log_type: $('#srch_log_type').val(),
                keyword: $('#keyword').val(),
            };

            let result = AjaxUtil.getSyncData(_this.baseUrl, param);
            _this.grid.setData(result);
        }

        showDetail() {
            let _this = this;
            let data = _this.grid.getSelect();
            console.log(data)

            if (data.length > 0) {
                let selectData = data[0];
                FormUtil.BindDataForm(selectData, $('#systemLogForm'));

                $('#log_type').data("kendoDropDownList").value(selectData.type);
            }
        }

    };


    let page = new DetailAssetPage();
    $(document).ready(function () {
        //page.searchMainData();
    });

</script>

{% endblock %}