{% extends "app/layout.html" %}
{% block css %}
{% endblock %}

{% block content %}

<div class="content_wrap">
    <div class="content-ui-row">
        <div class="card-content search">
            <div class="form-ui">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="form-item align-h">
                        <label class="k-label k-form-label" for="bom_keyword" data-labelCd="품목코드">품목코드</label>
                        <div class="field-wrapper">
                            <input type="text" id="bom_keyword" name="mat_cd" class="form-control" value="D10.003-007" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-2 col-xl-2">
                    <div class="card-group-btn search">
                        <button id="btnBOMSearch" class="btn-search">조회</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-ui-row connect">
            <div class="card-content grid">
                <div class="card-group-btn">
                    <span class="info-text">
                        <i class="material-symbols-outlined">list_alt</i>
                        <label data-labelCd="SAP BOM">SAP BOM</label>
                    </span>
                    <span>
                        <button type="button" id="btnShowBOMSearchSAP" class="y_write_auth">SAP인터페이스</button>
                        <button id="btnExcelBOM">Excel</button>
                    </span>
                </div>
                <div id="sap_bom_grid"></div>
            </div>
        </div>

    </div>
</div>


<div id="tmplSapBOMInterface" class="content-wrap popup" style="display:none">
    <div class="content-ui-row">
        <div class="card-content edit" style="height:70px;">
            <div class="form-ui">
                <div class="col-10">
                    <div class="form-item align-h">
                        <label class="k-label k-form-label" for="txtKeyword" data-labelCd="검색어">검색어</label>
                        <div class="field-wrapper">
                            <input type="text" id="txtKeyword" name="keyword" class="form-control" />

                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-item align-h">
                        <div class="field-wrapper">
                            <button type="button" id="btnMatSearch" class="btn-search">조회</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-content edit">
            <form>
                <div class="edit-form-ui">
                    <div class="col-6">
                        <label for="cboMaterialList">품목리스트</label>
                        <div class="field-wrapper">
                            <select id="cboMaterialList" style="width:100%"></select>
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="cboSelectedList">선택항목</label>
                        <div class="field-wrapper">
                            <select id="cboSelectedList" style="width:100%"></select>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="txtBaseDate" data-labelCd="기준일자">기준일자</label>
                            <div class="field-wrapper">
                                <input type="text" id="txtBaseDate" name="base_date" class="form-control" />

                            </div>
                        </div>
                    </div>
                    <div class="col-12"><hr /></div>
                    <div class="col-12">
                        <div class="card-group-btn search">
                            <button type="button" id="btnRequestSapMat" class="btn-search">인터페이스실행</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock %}
{% block scripts %}

<script type="text/javascript">
    class IFSapBOMPage {
        constructor() {
            this.grid = null;
            this.init();
            this.url = "/api/interface/sap";
        }

        init() {
            let _this = this;
            this.initSapBom();
        }

        initSapBom() {

            let _this = this;
            let gridOption = {
                toolbar: [
                    "columns"
                ],
                columnMenu: {
                    componentType: "classic",
                    autoSize: true,
                    clearAllFilters: true,
                    columns: {
                        sort: "asc",
                    }
                },
                columns: [
                    { field: "REVLV", title: "Rev No", width: 150, headerAttributes: { style: "text-align: center; justify-content: center" } },
                    { field: "MATNR", title: "상위품목", width: 150, headerAttributes: { style: "text-align: center; justify-content: center" } },
                    { field: "BMENG", title: "기준수량", width: 150, attributes: { style: "text-align: right" }, headerAttributes: { style: "text-align: center; justify-content: center" } },
                    { field: "IDNRK", title: "구성부품", width: 150, headerAttributes: { style: "text-align: center; justify-content: center" } },
                    { field: "MNGLG", title: "구성부품수량", width: 150, attributes: { style: "text-align: right" }, headerAttributes: { style: "text-align: center; justify-content: center" } },
                    { field: "MEINS", title: "단위", width: 150, headerAttributes: { style: "text-align: center; justify-content: center" } },
                    { field: "STUFE", title: "BOM레벨", width: 150, attributes: { style: "text-align: right" }, headerAttributes: { style: "text-align: center; justify-content: center" } },
                    { field: "DATUV", title: "효력시작일", width: 150, headerAttributes: { style: "text-align: center; justify-content: center" } },
                    { field: "DATAB", title: "효력종료일", width: 150, headerAttributes: { style: "text-align: center; justify-content: center" } },
                    { field: "AENNR", title: "ECN번호", width: 150, headerAttributes: { style: "text-align: center; justify-content: center" } },
                    { field: "BKLAS", title: "품목유형", width: 150, headerAttributes: { style: "text-align: center; justify-content: center" } },
                    { field: "BKBEZ", title: "품목유형명", width: 150, headerAttributes: { style: "text-align: center; justify-content: center" } },
                    { field: "created", title: "생성일", width: 120, headerAttributes: { style: "text-align: center; justify-content: center" } },
                ],
                change: function (e) {
                },
                dataBound: function (e) {
                },
                height: 720
            };

            this.bom_grid = new Grid($("#sap_bom_grid"), gridOption);

            //$('#bom_mat_cd').kendoTextBox();

            $('#btnBOMSearch').click(function (ex) {
                _this.searchSapBom();
            });

            // 엑셀 다운로드
            $('#btnExcelBOM').kendoButton({
                icon: "file-excel",
                themeColor: "success",
                click: function () {
                    let gridData = $('#sap_bom_grid').data("kendoGrid");
                    gridData.bind("excelExport", function (e) {
                        e.workbook.fileName = "sap_mat.xlsx";
                    });
                    gridData.saveAsExcel();
                }
            });

            let yyyymmdd = CommonUtil.getYYYYMMDD();
            $("#txtBaseDate").kendoDatePicker({
                dateInput: true,
                value: yyyymmdd
            });


            $('#btnShowBOMSearchSAP').kendoButton({
                icon: "download-light",
                themeColor: "error",
                click: function () {
                    _this.showPopSapBOMInterface();
                }
            });

            $('#tmplSapBOMInterface').kendoWindow({
                width: "800", // windowWidth
                height: "550",
                title: "SAP BOM 인터페이스",
                visible: false,
                actions: ["Close"],
                close: () => {
                    // 팝업 닫을 때 특별한 정리 로직이 필요하면 여기에 구현
                }
            });

            //cboMaterialList, cboSelectedList
            $('#cboMaterialList').kendoListBox({
                connectWith: 'cboSelectedList',
                toolbar: {
                    tools: ["transferTo", "transferFrom", "transferAllTo", "transferAllFrom", "remove"]
                },
                dataTextField: "mat_cd",
                dataValueField: "mat_cd"
            });

            $('#cboSelectedList').kendoListBox({
                dataTextField: "mat_cd",
                dataValueField: "mat_cd"
            });


            $('#btnMatSearch').kendoButton({
                themeColor: "success",
                click: function () {
                    let keyword = $('#txtKeyword').val();
                    let param = {
                        'action': 'material_search',
                        'keyword': keyword
                    };

                    var listbox = $("#cboMaterialList").data("kendoListBox");
                    listbox.setDataSource([]);
                    AjaxUtil.getAsyncData(_this.url, param, function (result) {
                        if (result.success) {
                            listbox.setDataSource(result.items);
                        } else {
                            Alert.alert("품목조회오류", result.message);
                        }

                    });

                }
            });

            $('#btnRequestSapMat').kendoButton({
                themeColor: "success",
                click: function () {
                    _this.requestSapBom();
                }
            });

        }

        showPopSapBOMInterface() {
            let _this = this;
            $('#tmplSapBOMInterface').data("kendoWindow").center().open();
        }

        requestSapBom() {
            let _this = this;
            // 선택된 품목을 가져와서 SAP BOM 요청
            var items = $("#cboSelectedList").data("kendoListBox").dataItems();
            let materials = [];
            $.each(items, function (idx, item) {
                materials.push(item.mat_cd);
            });

            if (materials.length === 0) {
                Alert.alert("SAP BOM 요청", "선택된 품목이 없습니다.");
                return;
            }

            let g1 = $('#sap_bom_grid');
            kendo.ui.progress(g1, true);
            this.bom_grid.setData([]);
            let fnSuccess = function (result) {

                if (result.success) {
                    _this.bom_grid.setData(result.items);
                }
                else {
                    Alert.alert("SAP BOM 요청 오류", result.message);
                }
                kendo.ui.progress(g1, false);
            };

            let url = this.url + "?action=req_sam_bom";
            let fncallback = () => {
                let base_date = $('#txtBaseDate').val();
                let data = {
                    material_count: materials.length,
                    materials: materials,
                    base_date: base_date
                };
                //console.log(data);
                AjaxUtil.postAsyncData(url, data, fnSuccess);
            };

            Alert.confirm("SAP BOM 인터페이스", "실행하시겠습니까?", fncallback);
        }

        searchSapBom() {
            let _this = this;
            let keyword = $('#bom_keyword').val();
            let data = {
                action: "sap_bom_list",
                keyword: keyword
            };

            let g1 = $('#sap_bom_grid');
            kendo.ui.progress(g1, true);
            this.bom_grid.setData([]);
            let fnSuccess = function (result) {
                if (result.success) {
                    _this.bom_grid.setData(result.items);
                } else {
                    Alert.alert("SAP BOM 조회오류", result.message);
                }
                kendo.ui.progress(g1, false);
            };
            AjaxUtil.getAsyncData(this.url, data, fnSuccess);
        }
    }

    let page = new IFSapBOMPage();
    $(document).ready(function (e) {

    });
</script>
{% endblock %}