{% extends "app/layout.html" %}
{% block css %}
{% endblock %}

{% block content %}
<div class="content_wrap">
    <div class="content-ui-row">

        <div class="card-content search">
            <div class="form-ui">

                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="form-item align-h">
                        <label class="k-label k-form-label" for="cboLine" data-labelCd="라인">라인</label>
                        <div class="field-wrapper">
                            <select id="cboLine" name="line_cd" class="form-control">
                                <option value="PCU-01-01">PCU-01-01</option>
                                <option value="SMT-04">SMT-04</option>
                                <option value="SMT-03">SMT-03</option>
                                <option value="SMT-02">SMT-02</option>
                                <option value="SMT-01">SMT-01</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-1 col-xl-1">
                    <div class="card-group-btn search">
                        <button id="btnSearch" class="btn-search">조회</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-ui-row connect">
            <div class="card-content grid">
                <div class="card-group-btn">
                    <span class="info-text">
                        <i class="material-symbols-outlined">list_alt</i>
                        <label data-labelCd="MES작업지시목록">MES작업지시목록</label>
                    </span>
                    <span>
                        <button id="btnExcel">Excel</button>
                    </span>
                </div>
                <div id="order_grid"></div>
            </div>

        </div>
        <div class="card-content edit">

        </div>


    </div>
</div>



{% endblock %}
{% block scripts %}

<script type="text/javascript">
    class IFMesWorkOrderPage {
        constructor() {
            this.grid = null;
            this.init();
            this.baseUrl = "/api/interface/mes";
        }

        init() {
            let _this = this;

            this.init();
        }

        init() {
            let _this = this;
            let gridOption = {
                toolbar: [
                    "columns"
                ],
                columnMenu: {
                    componentType: "classic",
                    autoSize: true,
                    clearAllFilters: true,
                    columns: {
                        sort: "asc",
                    }
                },
                columns: [
                    { field: "orderNo", title: "orderNo", width: 170 },
                    { field: "lineCode", title: "Line", width: 100 },
                    { field: "lineDesc", title: "Line Desc.", width: 100 },
                    { field: "matCode", title: "품번", width: 100 },
                    { field: "matDesc", title: "품명", width: 350 },
                    { field: "planMonth", title: "계획월", width: 100 },
                    { field: "flowCode", title: "Flow", width: 150 },
                    { field: "planQty", title: "Plan Qty.", width: 100 },
                    { field: "inputQty", title: "Input Qty.", width: 100 },
                    { field: "outQty", title: "Out Qty.", width: 100 },
                    { field: "ordQty", title: "Order Qty.", width: 100 },
                    { field: "ordInQty", title: "Order In Qty.", width: 100 },
                    { field: "ordOutQty", title: "Order Out Qty.", width: 100 },
                    { field: "rcvGoodQty", title: "Good Qty.", width: 100 },
                    { field: "rcvLossQty", title: "Loss Qty.", width: 100 },
                    { field: "ordDate", title: "Order Date", width: 100 },
                    { field: "ordStatus", title: "지시상태", width: 100 },
                    { field: "ordStartTime", title: "지시일시", width: 180 },
                    { field: "createTime", title: "생성일시", width: 180 },
                ],
                change: function (e) {
                },
                dataBound: function (e) {
                },
                height: 600
            };

            this.grid = new Grid($("#order_grid"), gridOption);

            //search form
            let today = CommonUtil.getYYYYMMDD();
            let $cboLine = $('#cboLine');
            //AjaxUtil.fillDropDownOptions($cboLine, 'line_code', 'all', null);

            $('#btnSearch').kendoButton({
                icon: "search",
                themeColor: "success",
                click: function () {
                    _this.searchWorkOrder();
                }
            });


            // 엑셀 다운로드
            $('#btnExcel').kendoButton({
                icon: "file-excel",
                themeColor: "success",
                click: function () {
                    let gridData = $('#order_grid').data("kendoGrid");
                    gridData.bind("excelExport", function (e) {
                        e.workbook.fileName = "mes_workorder_list.xlsx";
                    });
                    gridData.saveAsExcel();
                }
            });
        }

        showPopWorkOrderInterface() {

        }

        /********************************************************/

        searchWorkOrder() {
            let _this = this;
            let line_cd = $('#cboLine').val();
            let data = {
                line_cd: line_cd,
                'action': 'workorder_list'
            };

            let $gg = $('#order_grid');

            kendo.ui.progress($gg, true);
            AjaxUtil.getAsyncData(this.baseUrl, data, function (result) {
                if (result.success) {
                    _this.grid.setData(result.items);
                }
                else {
                    Alert.alert('오류', result.message);
                }
                kendo.ui.progress($gg, false);
            });
        }

    }

    let page = new IFMesWorkOrderPage();
    $(document).ready(function (e) {

    });
</script>
{% endblock %}