{% extends "app/layout.html" %}
{% block css %}
{% endblock %}

{% block content %}
<div class="content_wrap">
    <div class="content-ui-row">

        <div class="card-content search">
            <form id="searchForm">
                <div class="form-ui">

                    <div class="col-12 col-md-4 col-lg-4 col-xl-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srch_date_range" data-labelCd="기간선택">기간선택</label>
                            <div class="field-wrapper">
                                <div id="srch_date_range"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-3 col-lg-4 col-xl-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="cboLine" data-labelCd="라인">라인</label>
                            <div class="field-wrapper">
                                <select id="cboLine" name="line_cd" class="form-control">
                                    <option value="PCU-01-01">PCU-01-01</option>
                                    <option value="SMT-04">SMT-04</option>
                                    <option value="SMT-03">SMT-03</option>
                                    <option value="SMT-02">SMT-02</option>
                                    <option value="SMT-01">SMT-01</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-3 col-lg-1 col-xl-1">
                        <div class="card-group-btn search">
                            <button id="btnSAPMaterialSearchDB" class="btn-search">조회</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="content-ui-row connect">
            <div class="card-content grid">
                <div class="card-group-btn">
                    <span class="info-text">
                        <i class="material-symbols-outlined">list_alt</i>
                        <label data-labelCd="MES생산계획">MES생산계획</label>
                    </span>
                    <span>
                        <button id="btnSAPMaterialSearchSAP">인터페이스실행</button>
                        <button id="btnExcelSapMat">Excel</button>
                    </span>
                </div>
                <div id="prod_plan_grid"></div>
            </div>

        </div>
        <div class="card-content edit">

        </div>
    </div>
</div>



{% endblock %}
{% block scripts %}

<script type="text/javascript">
    class IFProductionPlanPage {
        constructor() {
            this.grid = null;
            this.init();
            this.baseUrl = "/api/interface/mes";
        }

        init() {
            let _this = this;
            this.init();
        }

        init() {
            let _this = this;
            let gridOption = {
                toolbar: [
                    "columns"
                ],
                columnMenu: {
                    componentType: "classic",
                    autoSize: true,
                    clearAllFilters: true,
                    columns: {
                        sort: "asc",
                    }
                },
                columns: [
                    { field: "id", title: "id", width: 180 },
                    { field: "planDate", title: "생산계획일", width: 120 },
                    { field: "lineCode", title: "Line", width: 120 },
                    { field: "lineDesc", title: "Line Desc.", width: 120 },
                    { field: "planSeq", title: "계획순번", width: 120 },
                    { field: "matCode", title: "품번", width: 150 },
                    { field: "matDesc", title: "품명", width: 350 },
                    { field: "flowCode", title: "Flow", width: 120 },
                    { field: "planQty", title: "계획수량", width: 120 },
                    { field: "remainQty", title: "잔여량", width: 120 },
                    { field: "planStatus", title: "상태코드", width: 120 },
                    { field: "planStatusDesc", title: "상태", width: 120 },
                    { field: "comments", title: "전일 미달성수량", width: 200 },
                    { field: "boxComment", title: "box Comment", width: 120 },
                    { field: "ordStatus", title: "지시상태", width: 120 },
                    { field: "lastHistSeq", title: "이전순서", width: 120 },
                    { field: "inputQty", title: "투입수량", width: 120 },
                    { field: "outQty", title: "실적수량", width: 120},
                    { field: "subTotal", title: "차이량", width: 120 },
                    { field: "planTotal", title: "계획총수량", width: 120 },
                    { field: "oldPlanSeq", title: "이전계획순서", width: 120 },
                    { field: "createUserDesc", title: "작성자", width: 120 }
                ],
                change: function (e) {
                },
                dataBound: function (e) {
                },
                height: 600
            };

            this.grid = new Grid($("#prod_plan_grid"), gridOption);

            //search form
            let today = CommonUtil.getYYYYMMDD();
            //$('#cboLine').kendoDropDownList();
            //AjaxUtil.fillDropDownOptions($cboLine, 'line_code', 'all', null);



            //search form
            $("#srch_date_range").kendoDateRangePicker({
                range: {
                    start: new Date(),
                    end: new Date()
                },
                change: function (e) {

                },
                format: "yyyy-MM-dd",
                labels: false,
                startField: "start_dt",
                endField: "end_dt"
            });

            $('#btnSAPMaterialSearchDB').kendoButton({
                icon: "search",
                themeColor: "success",
                click: function () {
                    _this.searchProductionPlan();
                }
            });

            $('#btnSAPMaterialSearchSAP').kendoButton({
                icon: "download-light",
                themeColor: "success",
                click: function () {
                    _this.showPopSapMatInterface();
                }
            });

            // 엑셀 다운로드
            $('#btnExcelSapMat').kendoButton({
                icon: "file-excel",
                themeColor: "success",
                click: function () {
                    let gridData = $('#prod_plan_grid').data("kendoGrid");
                    gridData.bind("excelExport", function (e) {
                        e.workbook.fileName = "sap_mat.xlsx";
                    });
                    gridData.saveAsExcel();
                }
            });
        }

        /********************************************************/
        searchProductionPlan() {
            let _this = this;
            let $form = $('#searchForm');
            let start_dt = $form.find("input[name=start_dt]").val();
            let end_dt = $form.find("input[name=end_dt]").val();
            let line_cd = $('#cboLine').val();

            let data = {
                start_dt: start_dt,
                end_dt: end_dt,
                line_cd: line_cd,
                action: "production_plan"
            };

            let $gg = $('#prod_plan_grid');
            kendo.ui.progress($gg, true);
            AjaxUtil.getAsyncData(this.baseUrl, data, function (result) {
                if (result.success) {
                    _this.grid.setData(result.items);
                }
                else {
                    Alert.alert('오류', result.message);
                }
                kendo.ui.progress($gg, false);
            });
        }
    }

    let page = new IFProductionPlanPage();
    $(document).ready(function (e) {

    });
</script>
{% endblock %}