{% extends "app/layout.html" %}
{% block css %}
{% endblock %}
{% block content %}
<div class="content-wrap">
    <div class="content-ui-row">
        <div class="content-ui-row connect">
            <div class="card-content grid">
                <div class="card-group-btn">
                    <span class="info-text">
                        <i class="material-symbols-outlined">list_alt</i>
                        <label data-labelCd="태그데이터 현황">태그데이터 현황</label>
                    </span>
                    <span>
                        <!-- 오른쪽 버튼 영역-->
                        <button id="btnExcel">Excel</button>
                    </span>
                </div>
                <div id="tag_data_current_grid"></div>
            </div>
        </div>
    </div>
</div>

{% verbatim %}
{% endverbatim %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    class TagDataCurrentPage {
        constructor() {
            this.grid = null;
            this.baseUrl = '/api/tagdata/tag_current';

            this.init();
        }

        init() {
            let _this = this;
            let tagDataCurrentGridOption = {
                toolbar: [
                    "columns"
                ],
                columnMenu: {
                    componentType: "classic",
                    autoSize: true,
                    clearAllFilters: true,
                    columns: {
                        sort: "asc",
                    }
                },
                columns: [
                    { field: 'equip_name', title: '설비', width: 200 },
                    { field: 'tag_code', title: '태그', width: 200 },
                    { field: 'tag_name', title: '태그명', width: 200 },
                    { field: 'spec', title: '관리기준', width: 150 },
                    { field: 'data_value', title: '현재값', width: 150 },
                    { field: 'data_date', title: '일시', width: 150 },
                ],
                change: function (e) {

                },
                dataBound: function (e) {
                    for (var i = 0; i < this.columns.length; i++) {
                        this.autoFitColumn(i);
                    };

                    // grid 데이터 개수 표시
                    kendoUtil.showGridRowCount(this.element);
                },
                height: "540px"
            };
            _this.grid = new Grid($("#tag_data_current_grid"), tagDataCurrentGridOption);


            //form button
            $('#btnExcel').kendoButton({
                icon: "file-excel",
                themeColor: "success",
                click: function () {
                    page.exportExcel();
                }
            });
        }

        searchMainData() {
            let _this = this;

            let param = {
                action: 'read',
            };

            let result = AjaxUtil.getSyncData(_this.baseUrl, param);
            _this.grid.setData(result);
        }
    };

    let page = new TagDataCurrentPage();

    $(document).ready(function () {
        

        page.searchMainData();
    });

</script>

{% endblock %}