{% extends "app/layout.html" %}

{% block css %}
{% endblock %}

{% block content %}
<div class="content_wrap">

    <section>
        <div class="title_box ">
            <div class="left_align">
                <h3 data-labelCd="태그데이터 현황">태그데이터 현황</h3>
            </div>
            <button type="button" class="btn-default pull-right " id="btnHedaerFilter" title="필터 보이기/감추기"><i class="fas fa-filter"></i></button>
            <button type="button" class="btn-default pull-right mr-1" id="btnHeaderCompress" title="화면 확대/축소"><i class="fas fa-compress" id="iCompress"></i></button>
        </div>
    </section>
        <section>
        <div class="grid_box" id="divList">
            <div class="title_box">
                <span class="right_align rpt" data-labelCd="공정 데이터 현황">공정 데이터 현황</span>
                <button type="button" class="btn-default" id="btnExcel"><i class="fas fa-file-excel"></i></button>
                <button type="button" class="btn-default" id="btnGridSetting" style="visibility:hidden"><i class="fas fa-cog"></i> Setting</button>
                <button type="button" class="btn-default" id="btnGridRefresh"><i class="fa fa-sync-alt"></i> </button>
            </div>
                <div class="h-660" data-ax5grid="equipmentFinalTagdata-grid"></div>  
        </div>

    </section>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
    class EquipmentFinalTagdataPage {
        constructor() {
            this.grid = null;
            this.init(); 
        }

        init() {
            let _this = this;
            let config = {
                target: $('[data-ax5grid="equipmentFinalTagdata-grid"]'),
                sortable: true,
                frozenColumnIndex: 0, // 열 고정
                frozenRowIndex: 0,    // 행 고정
                showLineNumber: false, // 열의 번호 보이기 여부
                showRowSelector: false,  // checkbox(선택) 보이기 여부
                multipleSelect: false, // 여러행 선택 가능 여부 (false시 단독 선택)
                sortable: true, // 모든 컬럼에 정렬 아이콘 표시 (columns에서 컬럼별 소팅여부 재설정 가능)
                multiSort: true, // 다중 정렬 여부
                header: {
                    align: 'center',  // 헤더의 기본 정렬
                    columnHeight: 38  // 헤더 높이
                },
                body: {
                    columnHeight: 25, // body의 기본 높이
                    onClick: function (e) {
                        _this.grid.select(this.dindex);
                    }
                },
                page: {
                    display: true,  // 페이징 보이기 여부
                    statusDisplay: true,
                },
                columns: [
                    { key: 'equip_name', label: '설비', width: 150, align: 'left'},
                    { key: 'tag_code', label: '태그코드', width: 200, align: 'left'},
                    { key: 'tag_name', label: '태그명', width: 200, align: 'left'},
                    { key: 'spec', label: '관리기준(lsl~usl)', width: 150, align: 'center' },
                    { key: 'data_value', label: '현재값', width: 200, align: 'right' },
                    { key: 'data_date', label: '일시', width: 150, align: 'center' },
                ]
            };

            this.grid = new ax5.ui.grid(config);
            this.grid_config = config; 
        }

        // 창고 목록 조회
        searchMainData() {
            let _this = this;
            let url = '/api/tagdata/tag_current';
            let param = {
                'action': 'read',
            }

            let result = AjaxUtil.getSyncData(url, param);
            if (result != null) {
                let recordsTotal = result.length;
                _this.grid.setData({
                    list: result,
                    page: {
                        display: true,
                        totalElements: recordsTotal,
                    }
                });
            }
        }

        //엑셀다운로드
        exportExcel() {
            var targetview = this.grid;
            // 현재 html코드로 데이터 만들어 확장자만 xls로 변경해주고 있음
            targetview.exportExcel('공정 데이터 정보.xls');
        }
    }

    let page = null;

    $(document.body).ready(function (e) {
        page = new EquipmentFinalTagdataPage();
        //엑셀
        $('#btnExcel').click(function (e) {
            page.exportExcel();
        });

        //새로고침
        $('#btnGridRefresh').click(function () {
            page.searchMainData();
        });

		//그리드 컬럼 설정
        page.popColSetting = new popColSetting();
        let columns = page.popColSetting.loadColumnData(gui.gui_code, gui.template_key, 'grid',  page.grid);
		
        if (userinfo.group_code == 'admin') {
            $('#btnGridSetting').css('visibility','visible');  
        }		
	
        $('#btnGridSetting').click(function (e) {
            let _this = this;
            let fix_cols = page.grid_config.frozenColumnIndex;
            console.log('fix_cols', fix_cols);
            page.popColSetting.show(gui.gui_code, gui.template_key, 'grid', page.grid_config.columns, page.grid, { 'order_fix':false,  'fix_cols' : fix_cols });
        });	
        page.searchMainData();

    });



</script>


{% endblock %}