{% extends "app/layout.html" %}

{% block css %}
<style>
    .dash-content {
        padding: 20px;
        text-align: center;
        background-color: #fff9ad;
        align-content: center;
        border-radius: 20px;
    }

    .pr-0 {
        padding-right: 0;
    }

    .pl-0 {
        padding-left: 0;
    }
</style>

{% endblock %}

{% block content %}
<div class="content-wrap">
    <div class="content-ui-row">
        <form class="search-form" id="searchForm">
            <div class="card-content search">
                <div class="form-ui">

                    <div class="col-6 col-md-4 col-lg-3 col-xl-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srchDt" data-labelCd="일자">일자</label>
                            <div>
                                <input id="srchDt" name="srchDt" type="date" />
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="srchStartTime" data-labelCd="시간"></label>
                            <div class="field-wrapper">
                                <input id="srchStartTime" name="srchStartTime" />
                            </div>
                            <div class="field-wrapper">
                                <input id="srchEndTime" name="srchEndTime" />
                            </div>
                        </div>
                    </div>

                    <div class="col-4 col-md-4 col-lg-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="cboLine" data-labelCd="라인">라인</label>
                            <div class="field-wrapper">
                                <select id="cboLine" name="cboLine"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4 col-lg-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="cboEquip" data-labelCd="설비">설비</label>
                            <div class="field-wrapper">
                                <select id="cboEquip" name="cboEquip"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4 col-lg-3">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="cboTagGroup" data-labelCd="태그그룹">태그그룹</label>
                            <div class="field-wrapper">
                                <select id="cboTagGroup" name="cboTagGroup"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-item align-h">
                            <label class="k-label k-form-label" for="cboTag" data-labelCd="태그">태그</label>
                            <div class="field-wrapper">
                                <select id="cboTag" name="cboTag"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-auto">
                        <div class="card-group-btn search">
                            <button id="btnSearch" class="btn-search">조회</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <div class="content-ui-row" id="divChart">
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
    class chartScatter {

        constructor() {
            this.chart = null;
            this.chartId = null;
            this.title = null;
            this.data = null;
            this.options = null;

            this.init();
        }

        init() {
            let _this = this;

            // 일자, 시간
            let today = CommonUtil.getYYYYMMDD();
            $('#srchDt').kendoDatePicker({ format: 'yyyy-MM-dd', value: today });
            $("#srchStartTime").kendoTimePicker({ format: 'HH:mm', dateInput: true, value: '09:00' });
            $("#srchEndTime").kendoTimePicker({ format: 'HH:mm', dateInput: true, value: '18:00' });

            // 태그 멀티셀렉트
            let rows = AjaxUtil.getSelectDataWithNull('tag', '', null);
            let dataSource = new kendo.data.DataSource({
                data: rows,
                sort: { field: "text", dir: "asc" }
            });
            $("#cboTag").kendoMultiSelect({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: dataSource,
                filter: "contains",
                downArrow: true,
            });

            AjaxUtil.fillDropDownOptions($('#cboLine'), 'line', 'all', null);
            $('#cboLine').change(function (e) {
                AjaxUtil.fillDropDownOptions($('#cboEquip'), 'equipment', 'all', null, null, null, $('#cboLine').val());
            });

            AjaxUtil.fillDropDownOptions($('#cboEquip'), 'equipment', 'all', null);
            $('#cboEquip').change(function (e) {
                rows = AjaxUtil.getSelectDataWithNull('tag', '', $('#cboEquip').val(), $('#cboTagGroup').val() ? $('#cboTagGroup').val() : null);
                dataSource = new kendo.data.DataSource({
                    data: rows,
                    sort: { field: "text", dir: "asc" }
                });
                $("#cboTag").data("kendoMultiSelect").setDataSource(dataSource);

            });

            AjaxUtil.fillDropDownOptions($('#cboTagGroup'), 'tag_group', 'all', null);
            $('#cboTagGroup').change(function (e) {
                rows = AjaxUtil.getSelectDataWithNull('tag', '', $('#cboEquip').val() ? $('#cboEquip').val() : null, $('#cboTagGroup').val());
                dataSource = new kendo.data.DataSource({
                    data: rows,
                    sort: { field: "text", dir: "asc" }
                });
                $("#cboTag").data("kendoMultiSelect").setDataSource(dataSource);
            });

            // 검색버튼
            $('#btnSearch').kendoButton({
                icon: "search",
                themeColor: "base",
                click: function () {
                    _this.searchMainData();
                }
            });

        }

        loadChart(chartId, title, data) {
            let _this = this;
            _this.chartId = chartId;
            _this.title = title;
            _this.data = data;

            _this.chart = $("#" + _this.chartId).kendoChart({
                title: {
                    text: _this.title
                },
                legend: {
                    position: "bottom"
                },
                legend: {
                    visible: true
                },
                series: [
                    {
                        name: "Scatter",
                        type: "scatter",
                        data: _this.data.scatter_data,
                    },
                    {
                        type: "scatterLine",
                        name: 'Line',
                        data: _this.data.line_data,
                        color: "rgb(61, 199, 253)",
                    },
                ],
                xAxis: {
                    max: _this.data.max_x,
                    min: _this.data.min_x,
                    //majorUnit : 10,
                    title: {
                        text: _this.data.name_x,
                    },
                    crosshair: {
                        visible: true,
                        tooltip: {
                            visible: true,
                            format: "n1"
                        }
                    }
                },
                yAxis: {
                    //majorUnit: 10,
                    title: {
                        text: _this.data.name_y,
                    },
                    crosshair: {
                        visible: true,
                        tooltip: {
                            visible: true,
                            format: "n1"
                        }
                    }
                }, tooltip: {
                    visible: true,
                    format: "{0}, {1}"
                }
            }).data("kendoChart");

        }

        searchMainData() {
            let _this = this;
            let start_date = $('#srchDt').val() + ' ' + $('#srchStartTime').val() + ':00';
            let end_date = $('#srchDt').val() + ' ' + $('#srchEndTime').val() + ':00';
            let tag = $('#cboTag').val();
            let tag_codes = tag == null ? '' : tag.join(';');
            let url = '/api/tagdata/scatter_data?action=read';
            let param = {
                start_date: start_date,
                end_date: end_date,
                tag_codes: tag_codes
            };

            kendo.ui.progress($("#divChart"), true); // data 로딩 ui 시작

            //let result = AjaxUtil.getSyncData(url, param);
            //let succFunc = function (result) {
            //    if (result != null) {
            //        if (_this.chart) {
            //            _this.chart.destroy();
            //            _this.chart = null;
            //        }

            //        $('#divChart').empty();

            //        result.forEach(function (tag_data, idx) {
            //            let tag_cnt = tag.length;
            //            let sizeVal = 12 / tag_cnt;

            //            let html = '<div class="col-lg-' + sizeVal + ' col-md-6 col-sm-12"><span id="chartInfo_' + idx + '">Info</span><br/><br/><div id="chart_' + idx + '" class="chart_border"></div></div>'
            //            html += "</div>";

            //            $('#divChart').append(html);

            //            _this.loadChart('chart_' + idx, tag_data.name_x + '(X)-' + tag_data.name_y + '(Y)', tag_data);

            //            let text = 'r-square=' + tag_data.r2;
            //            text += ', p-value=' + tag_data.p;
            //            if (tag_data.first_equation != '')
            //                text += ', ' + tag_data.first_equation;

            //            $('#chartInfo_' + idx).text(text);
            //        })
            //    };

            //    kendo.ui.progress($("#divChart"), false); // data 로딩 ui 종료
            //}

            let succFunc = function (result) {
                if (result.success) {
                    if (_this.chart) {
                        _this.chart.destroy();
                        _this.chart = null;
                    }

                    $('#divChart').empty();

                    result.data.forEach(function (tag_data, idx) {
                        let tag_cnt = tag.length;
                        let sizeVal = 12 / tag_cnt;

                        let html = '<div class="col-lg-' + sizeVal + ' col-md-6 col-sm-12"><span id="chartInfo_' + idx + '">Info</span><br/><br/><div id="chart_' + idx + '" class="chart_border"></div></div>'
                        html += "</div>";

                        $('#divChart').append(html);

                        _this.loadChart('chart_' + idx, tag_data.name_x + '(X)-' + tag_data.name_y + '(Y)', tag_data);

                        let text = 'r-square=' + tag_data.r2;
                        text += ', p-value=' + tag_data.p;
                        if (tag_data.first_equation != '')
                            text += ', ' + tag_data.first_equation;

                        $('#chartInfo_' + idx).text(text);
                    })
                }
                else {
                    Alert.alert("error", "데이터 조회 중 오류가 발생했습니다. <br/>원인: " + result.message);
                }

                kendo.ui.progress($("#divChart"), false); // data 로딩 ui 종료
            }

            AjaxUtil.getAsyncData(url, param, succFunc);
        }
    };

    let page = new chartScatter();

    $(document).ready(function () {
        
        // kendo chart 반응형 처리
        $(window).resize(function () {
            kendo.resize($("div.k-chart[data-role='chart']"));
        });

        //page.searchMainData(); 처음 로딩때 데이터x
    });

</script>

{% endblock %}