
<div id="modalPiMaster" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<h4>점검 마스터 등록</h4>
		</div>

		<div class="modal-body">
			<div class="top-section">
				<div class="section-header" style="display: flex; justify-content: flex-end;">
					<div class="button-group">
						<button type="button" class="btn-copy" id="copyPi" name="copyPi">
							점검복사
						</button>
					</div>
				</div>
			</div>
			<!-- 계획 섹션2 -->
			<div class="section">
				<div class="tab-group">
					<button class="tab-button active">계획</button>
					<button class="tab-button">점검설비</button>
					<button class="tab-button">점검항목</button>
					<button class="tab-button">작업결과 목록</button>
					<button class="tab-button">작업 WO 목록</button>
				</div>

				<div class="tab-content">
					<!-- 계획 탭 컨텐츠 -->
					<form id="piMasterForm" class="tab-pane active">
						<input type="hidden" id="chk_mast_pk" name="chk_mast_pk">
						<div class="plan-content">
							<div class="form-row">
								<div class="form-group col-6">
									<label>점검번호</label>
									<input type="text" class="form-control" id="piNumber" name="piNumber" placeholder="점검번호는 자동으로 생성됩니다" readonly>
								</div>
								<div class="form-group col-6">
									<label>점검명 <span class="required">*</span></label>
									<input type="text" class="form-control" id="piName" name="piName" placeholder="100자 이하로 입력하세요">
								</div>
							</div>
							<div class="form-row">
								<!-- 오른쪽 cycleInfo 영역 -->
								<!-- 주기단위 -->
								<div class="form-group col-4">
									<label>주기단위 <span class="required">*</span></label>
									<select id="cycleType" name="cycleType">
									</select>
								</div>
								<div class="form-group col-4">
									<label>반복 <span class="required">*</span></label>
									<div class="field-wrapper" style="display: flex; align-items: center">
										<span class="mt-2" style="margin-left: 5px;">매</span>
										<input id="perNumber" name="perNumber" type="number" class="form-control" />
									</div>
								</div>
								<!-- 주기시작일 -->
								<div class="form-group col-4">
									<label>주기시작일 <span class="required">*</span></label>
									<div class="field-wrapper">
										<input type="date" id="schedStartDt" name="schedStartDt" />
									</div>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-6">
									<label>점검부서 <span class="required">*</span></label>
									<select id="executionDept" name="executionDept">
									</select>
								</div>
								<div class="form-group col-6">
									<label>점검담당자 <span class="required">*</span></label>
									<select id="piManager" name="piManager">
										<option value="">점검 담당자를 선택하세요</option>
									</select>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-12">
									<label>작업지침</label>
									<textarea id="work_text" class="form-control" name="work_text" rows="5" placeholder="2000자 이하로 입력하세요" maxlength="2000"></textarea>
									<div class="char-count">0 / 2000 bytes</div>
								</div>
							</div>
						</div>
					</form>


					<!-- 점검설비 목록 탭 컨텐츠 -->
					<div id="piEquip" class="tab-pane" style="display: none;">
						<div class="section-header" style="display: flex; justify-content: flex-end;">
							<div class="button-group">
								<button type="button" id="selectEquipment" name="selectEquipment">
									설비선택
								</button>
							</div>
						</div>
						<!--아이디 변경 equipTable => tblChkEquip -->
						<div class="swing-el-tab-scroll">
							<table class="swing-table swing-table-bordered swing-table-striped mb-0" id="tblChkEquip">
								<thead>
									<tr style="border-top: 2px solid #343a40;">
										<th width="14%" class="text-center">설비코드</th>
										<th width="25%" class="text-center">설비명</th>
										<th width="14%" class="text-center">위치</th>
										<th width="20%" class="text-center">카테고리</th>
										<th width="8%" class="text-center">중요도</th>
										<th width="14%" class="text-center">상태</th>
										<th width="5%" class="text-center">삭제</th>
										<th style="display: none">equipPk</th>
										<th style="display: none">설비신규추가여부</th>
									</tr>
								</thead>
								<tbody id="piEquipTable">
								</tbody>
							</table>
						</div>
					</div>

					<!-- 점검항목 목록 탭 컨텐츠 -->
					<div id="piCheckItem" class="tab-pane" style="display: none;">
						<div class="section-header" style="display: flex; justify-content: flex-end;">
							<div class="button-group">
								<button type="button" id="addEmptyCheckItem" name="addEmptyCheckItem">
									빈항목추가
								</button>
								<button type="button" id="addCheckItem" name="addCheckItem">
									점검항목추가
								</button>
							</div>
						</div>
						<div class="swing-el-tab-scroll">
							<table class="swing-table swing-table-bordered swing-table-striped mb-0" id="tblChkItem">
								<thead>
									<tr style="border-top: 2px solid #343a40;">
										<th width="5%" class="text-center">순번</th>
										<th width="8%" class="text-center">순서조정</th>
										<th width="30%" class="text-center">점검항목명*</th>
										<th width="7%" class="text-center">LCL</th>
										<th width="7%" class="text-center">UCL</th>
										<th width="10%" class="text-center">단위</th>
										<th width="10%" class="text-center">점검 가이드</th>
										<th style="display: none">점검 점검방법</th>
										<th style="display: none">점검 이상기준</th>
										<th width="5%" class="text-center">삭제</th>
										<th style="display: none">chkItemPk</th>
									</tr>
								</thead>
								<tbody id="piCheckTable">
								</tbody>
							</table>
						</div>
					</div>


					<!-- 점검결과 목록 탭 컨텐츠 -->
					<div id="piCheckResult" class="tab-pane" style="display: none;">
						<div class="section-header" style="display: flex; justify-content: flex-end;">
							<div class="button-group">
								<button type="button" id="emptyButton" style="visibility: hidden;">
								</button>
							</div>
						</div>
						<div class="swing-el-tab-scroll">
							<table class="swing-table swing-table-bordered swing-table-striped mb-0" id="tblChkResult">
								<thead>
									<tr style="border-top: 2px solid #343a40;">
										<th width="10%" class="text-center">점검일정번호</th>
										<th width="15%" class="text-center">점검일정 생성일</th>
										<th width="15%" class="text-center">점검일정 상태</th>
										<th width="15%" class="text-center">점검 계획일</th>
										<th width="15%" class="text-center">점검 완료일</th>
										<th width="10%" class="text-center">점검이상</th>
										<th width="10%" class="text-center">담당자</th>
									</tr>
								</thead>
								<tbody id="piResultTable">
								</tbody>
							</table>
						</div>
					</div>

					<!-- 작업 WO 목록 탭 컨텐츠 -->
					<div id="piWorkOrderContent" class="tab-pane" style="display: none;">
						<div class="section-header" style="display: flex; justify-content: flex-end;">
							<div class="button-group">
								<button type="button" id="emptyButton" style="visibility: hidden;">
								</button>
							</div>
						</div>
						<div class="swing-el-tab-scroll">
							<table class="swing-table swing-table-bordered swing-table-striped mb-0" id="tblWo">
								<thead>
									<tr style="border-top: 2px solid #343a40;">
										<th width="14%" class="text-center">WO 번호</th>
										<th width="25%" class="text-center">WO 생성일</th>
										<th width="14%" class="text-center">WO 상태</th>
										<th width="20%" class="text-center">작업 계획일</th>
										<th width="8%" class="text-center">작업 완료일</th>
										<th width="5%" class="text-center">담당자</th>
									</tr>
								</thead>
								<tbody id="piWoTable">
								</tbody>
							</table>
						</div>
					</div>


				</div>
			</div>
		</div>

		<!-- 버튼 영역 -->
		<div class="modal-footer">
			<button type="button" class="btn-save" id="saveBtn">저장</button>
			<button type="button" class="btn-close" id="closePmModal">닫기</button>
		</div>

	</div>
</div>

<script type="text/x-kendo-template" id="tblChkEquipTemp">
	# if ( data.length == 0 ){ #
	<tr>
		<td colspan="9">조회된 데이터가 없습니다</td>
	</tr>
	# } #
	# for (let index=0; index<data.length; index++) { let item = data[index]; #
	<tr id="chkequip_rows_#=item.equip_pk#" >
		<td id="col" class="text-left">#=item.equip_cd#</td>
		<td id="col" class="text-left">#=item.equip_nm#</td>
		<td id="col" class="text-left">#=item.loc_nm#</td>
		<td id="col" class="text-left">#=item.equip_category_desc#</td>
		<td id="col" class="text-left">#=item.import_rank_cd#</td>
		<td id="col" class="text-left">#=item.equip_status_nm#</td>
		<td  class="text-center">
			<botton  type ="button" class="btn-save btn-equip-delete" data-uid="#= item.equip_pk #">
				<span>삭제</span>
			</botton>
		</td>
		<td id="colPk" style="display: none;">#=item.equip_pk#</td>
		<td id="colPk" style="display: none;">#=item.environ_equip_yn#</td>
	</tr>
	# } #

</script>

<script type="text/x-kendo-template" id="tblChkItemTemp">
	# if ( data.length == 0 ){ #
	<tr>
		<td colspan="9">조회된 데이터가 없습니다</td>
	</tr>
	# } #
	# for (let index=0; index<data.length; index++) { let item = data[index]; #
	<tr id="chkitem_rows_#=index#" >
		<td id="colItemIdx" class="text-center colItemIdx">#=item.itemIdx#</td>
		<td >
			<div class="btn-group">
				<botton  type ="button" class="btn btn-xs btn-chkitem-down" data-uid="#= index #" style="font-size: 21px" >
					<img src="/static/img/caret-down-solid.svg"  alt="down" style="width: 24px; height: 24px;"/>
				</botton>
				<botton  type ="button" class="btn btn-xs btn-chkitem-up" data-uid="#= index #" style="font-size: 21px" >
					<img src="/static/img/caret-up-solid.svg" class="" alt="up" style="width: 24px; height: 24px;"/>
				</botton>
			</div>
		</td>
		<td id="colChkItemNm" class="text-right bg-edit-cell">
			<input type="text" class="form-control chk_item_nm" maxlength="100" value="#= item.chk_item_nm #" />
		</td>
		<td id="colLcl" class="text-right bg-edit-cell">
			<input type="text" class="form-control lcl" maxlength="100" value="#= item.lcl #"/>
		</td>
		<td id="colUcl" class="text-right bg-edit-cell">
			<input type="text" class="form-control ucl" maxlength="100" value="#= item.ucl #"/>
		</td>
		<td id="chkItemUnitPk" class="text-right bg-edit-cell">
			<select class="chkItemUnitSelect" data-index="#= index #">
				<option value="">단위선택</option>
				# for (var i = 0; i < chkItemUnitData.length; i++) { #
				<option value="#= chkItemUnitData[i].value #"
					# if (item.chk_item_unit_pk == chkItemUnitData[i].value) { # selected # } #>
					#= chkItemUnitData[i].text #
				</option>
				# } #
			</select>
		</td>
		<td id="chkItemUnitPk2" class="text-right bg-edit-cell">
			<span>입력하기</span>
		</td>
		<td  class="text-center">
			<botton  type ="button" class="btn-save btn-chkitem-delete" data-uid="#= index #">
				<span>삭제</span>
			</botton>
		</td>
	</tr>
	# } #

</script>

<script type="text/x-kendo-template" id="tblChkResultTemp">
	# if ( data.length == 0 ){ #
	<tr>
		<td colspan="9">조회된 데이터가 없습니다</td>
	</tr>
	# } #
	# for (let index=0; index<data.length; index++) { let item = data[index]; #
	<tr id="chkresult_rows_#=item.chk_sche_no#" >
		<td id="col" class="text-left">#=item.chk_sche_no#</td>
		<td id="col" class="text-left">#=item.plan_insert_ts#</td>
		<td id="col" class="text-left">#=item.chk_status_nm#</td>
		<td id="col" class="text-left">#=item.chk_sche_dt#</td>
		<td id="col" class="text-left">#=item.chk_dt#</td>
		<td id="col" class="text-left">#=item.fail_count#</td>
		<td id="col" class="text-left">#=item.chk_user_nm#</td>
	</tr>
	# } #

</script>

<script type="text/x-kendo-template" id="tblWoListTemp">
	# if ( data.length == 0 ){ #
	<tr>
		<td colspan="9">조회된 데이터가 없습니다</td>
	</tr>
	# } #
	# for (let index=0; index<data.length; index++) { let item = data[index]; #
	<tr id="chkresult_rows_#=item.chk_sche_no#" >
		<td id="col" class="text-left">#=item.chk_sche_no#</td>
		<td id="col" class="text-left">#=item.plan_insert_ts#</td>
		<td id="col" class="text-left">#=item.chk_status_nm#</td>
		<td id="col" class="text-left">#=item.chk_sche_dt#</td>
		<td id="col" class="text-left">#=item.chk_dt#</td>
		<td id="col" class="text-left">#=item.fail_count#</td>
		<td id="col" class="text-left">#=item.chk_user_nm#</td>
	</tr>
	# } #

</script>

<style>
	#modalPiMaster {
		z-index: 1000 !important;
	}

	.modal-content {
		height: 80vh !important;
		max-height: 800px !important;
		display: flex;
		flex-direction: column;
	}

	.modal-body {
		flex: 1;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

	.section {
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	.tab-content {
		flex: 1;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

	.tab-pane {
		flex: 1;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

	.swing-el-tab-scroll {
		flex: 1;
		overflow-y: auto;
		overflow-x: hidden;
	}

	#work_text {
		height: 150px !important;
		resize: none;
	}

	.form-group {
		flex: 1;
		min-width: 0;
		margin-bottom: 10px;
	}

	.form-group:first-child {
		flex: 0.8;
	}

	.form-group:last-child {
		flex: 1.2;
	}

	.form-group label {
		font-size: 13px;
		font-weight: 600;
		color: #2c3e50;
		margin-bottom: 5px;
	}

	.char-count {
		text-align: right;
		color: #666;
		font-size: 12px;
		margin-top: 3px;
		padding-right: 5px;
	}

	.section {
		background: #fff;
		margin-bottom: 20px;
		height: auto;
	}
</style>

<!--swing에서 사용한 스타일을 그대로 가져온다-->
<style>

	.swing-el-tab-scroll, .swing-tab-scroll {
		overflow-y: auto !important;
		overflow-x: hidden;
	}

	.swing-table-bordered {
		border-top: 2px solid #7db4d8 !important;
		border-right: 1px solid #d1d3db;
	}

	.swing-table {
		background-color: transparent;
		width: 100% !important;
		max-width: 100%;
		margin-bottom: 0.9375rem;
		border-spacing: 0;
	}

		.swing-table > caption + thead > tr:first-child > th, .swing-table > colgroup + thead > tr:first-child > th, .swing-table > thead:first-child > tr:first-child > th, .swing-table > caption + thead > tr:first-child > td, .swing-table > colgroup + thead > tr:first-child > td, .swing-table > thead:first-child > tr:first-child > td {
			border-top: 0;
		}

	.swing-table-bordered > thead > tr > th {
		color: #656876;
		/* border-top: 0; */
		border-bottom: 1px solid #d1d3db !important;
		background-color: #ecf1f4;
	}

	.swing-table-bordered > thead > tr > th, .swing-table-bordered > thead > tr > td {
		border-bottom-width: 1px;
	}

	.swing-table > thead > tr > th {
		vertical-align: bottom;
		border-bottom: 1px solid #d1d3db;
	}

	.swing-table th, .swing-table td {
		padding: 0.75rem;
		line-height: 1.42857143;
		vertical-align: middle !important;
		border-width: 0 0 1px 1px !important;
		border-style: solid !important;
		border-color: #d1d3db !important;
	}

	.swing-table input[type="text"] {
		height: 10px;
		padding: 0px 0px;
	}

	table {
		border-collapse: collapse;
	}

	.text-center {
		text-align: center !important;
	}

	.text-right {
		text-align: right !important;
	}

	.text-left {
		text-align: left !important;
	}

	.bg-edit-cell {
		background-color: lightgoldenrodyellow !important;
	}

	.btn-group, .btn-group-vertical {
		position: relative;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: flex;
		vertical-align: middle;
		justify-content: center;
	}

		.btn-group > .btn, .btn-group-vertical > .btn {
			position: relative;
			-webkit-box-flex: 0;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			padding: 0px 0px;
			border-radius: 4px;
		}

	.btn-xs, .btn-group-xs > .btn {
		line-height: 1.5;
		background-color: #ecf1f4;
	}
</style>

<script type="text/javascript">
	let piMasterPage = null;
	class PiMaster {
		constructor() {
			this.grid = null;
			this.baseUrl = '/api/kmms/pi_master';

			this.resetForm = this.resetForm.bind(this);

			//점검설비 array
			this.chkEquipGrid = [];

            //choi : callback이 여러번 발생하여 한번만 선언하게 전역으로 선언함
            this.popupEquipments = new EquipmentsPage();

			//템플릿
			this.templateEquip = null;
            this.templateItem = null;

			//added by choi : 2025/06/10
			this.templateResult = null;
			this.templateWo = null;

			//점검항목 array
			this.chkItemGrid = [];
			this.chkItemUnitList = [];			

			//점검결과 array
            this.chkResultGrid = [];

            //WO array
            this.chkWoGrid = [];

			//added by choi : 2025/05/08
			this.popupItems = new ItemsPage();

			this.init();
		}

        init() {
            let _this = this;
            const modal = $("#modalPiMaster");

            // cycleInfo 표시 여부 체크 함수
            this.checkCycleInfo = function () {
                const pmTypeValue = $('#pmType').val();
                if (pmTypeValue === 'PM_TYPE_TBM') {
                    $('#cycleInfo').show();
                } else {
                    $('#cycleInfo').hide();
                }
            };

            // 데이터 로드 함수
            this.loadPmData = function (pmPk) {
                let param = {
                    action: 'read',
                    pm_pk: pmPk
                };

                let result = AjaxUtil.getSyncData(this.baseUrl, param);
                if (result) {
                    // FormUtil.fillForm($('#piMasterForm'), result);
                    // 데이터 로드 직후 cycleInfo 체크
                    setTimeout(() => this.checkCycleInfo(), 0);
                }
            };

            // 모달이 표시될 때마다 cycleInfo 체크
            modal.on('show', function () {
                _this.checkCycleInfo();
            });

            AjaxUtil.fillDropDownTreeOptions($("#executionDept"), "depart", "select");
			AjaxUtil.fillDropDownOptions($('#piManager'), 'cm_user_info', 'choose', null);
            AjaxUtil.fillDropDownOptions($('#cycleType'), 'user_code', 'choose', null, 'CYCLE_TYPE');


			//for test
			/*
            let checkItemUnit =
                [
                    {
                        codePk: "KG",
                        codeNm: "KG"
                    },
                    {
                        codePk: "TON",
                        codeNm: "TON"
                    },
                ];
            this.chkItemUnitList.push(...checkItemUnit);
			//for test
			*/

			this.chkItemUnitList = [];

			let param = {
                combo_type: "cm_base_code",
                cond1: "CHK_ITEM_UNIT",
                cond2: "",
                cond3: "",
            };
            let result = AjaxUtil.getSyncData("/api/system/combo", param);
			console.log(result);

            this.chkItemUnitList.push(...result);



            let today = CommonUtil.getYYYYMMDD();
            $("#schedStartDt").kendoDatePicker({
                value: today,
                format: "yyyy-MM-dd",
            });

            //-----------------점검기본 초기화
            _this.bindMainEvents();

            //-----------------eof 점검기본 초기화


            //-----------------계획 초기화

            //-----------------eof 계획 초기화



            //------------------설비 Kendo 템플릿 초기화
            _this.templateEquip = kendo.template($("#tblChkEquipTemp").html());

            $("#piEquipTable").html(_this.templateEquip({
                data: _this.chkEquipGrid
            }));

            _this.tableReorder4Equip();

            _this.bindChkEquipTemplateEvents();
            //------------------end of 설비 Kendo 템플릿 초기화


            //------------------점검항목 Kendo 템플릿 초기화
            _this.templateItem = kendo.template($("#tblChkItemTemp").html());

            // 2개의 데이타를 준비하고 piCheckTable에 삽입
            $("#piCheckTable").html(_this.templateItem({
                data: _this.chkItemGrid, chkItemUnitData: _this.chkItemUnitList
            }));

            //빈항목추가 버튼 이벤트 추가
            $('#addEmptyCheckItem').kendoButton({
                themeColor: "base",
                icon: "k-i-plus", // 기어 아이콘 (설비 관련)
                click: function (e) {
                    e.preventDefault();

                    //빈 항목 추가
                    let checkItemData =
                    {
                        itemIdx: "",     //이 값은 html에서 값을 가져와야 함
                        chk_item_nm: "",
                        lcl: "",
                        ucl: "",
                        chk_item_unit_pk: "",
                        guide: "",
                        method: "",
                        chkItemPk: "",
                        dailyReportItemCd: ""
                    };

                    _this.chkItemGrid.push(checkItemData);

                    console.log("_this.chkItemGrid:", _this.chkItemGrid);

                    // 렌더링 결과를 piCheckTable에 삽입
                    $("#piCheckTable").html(_this.templateItem({
                        data: _this.chkItemGrid, chkItemUnitData: _this.chkItemUnitList
                    }));

                    _this.tableReorder('tblChkItem', 'colItemIdx');
                }
            });

            //점검항목추가 버튼 이벤트 추가
            $('#addCheckItem').kendoButton({
                themeColor: "base",
                icon: "k-i-plus", // 기어 아이콘 (설비 관련)
                click: function (e) {
                    e.preventDefault();

                    //점검항목 선택 팝업창을 띄운다
                    //callback이중방지를 위해 전역 변수로 한번만 선언할까??      
                    setModalPosition('#chkMastItemPop', { width: '70%', height: '70%' });
                    _this.popupItems.show(function (selectedItems) {
                        // 여기서 선택된 데이터를 받아서 처리
                        console.log("선택된 항목:", selectedItems.length, selectedItems);
                        console.log("before 기존 항목:", _this.chkItemGrid.length, _this.chkItemGrid);

                        selectedItems.forEach(selItem => {
                            const exists = _this.chkItemGrid.some(item => item.chk_item_nm === selItem.chk_item);
							if (!exists) {

                                //빈 항목 추가
                                let checkItemData =
                                {
									itemIdx: "",     //이 값은 html에서 값을 가져와야 함
                                    chk_item_nm: selItem.chk_item,
                                    lcl: "",
									ucl: "",
                                    chk_item_unit_pk: selItem.chk_item_unit_pk,
                                    guide: "",
                                    method: "",
                                    chkItemPk: "",
                                    dailyReportItemCd: ""
                                };

								_this.chkItemGrid.push(checkItemData);
                            }
                        });

                        console.log("after기존 항목:", _this.chkItemGrid.length, _this.chkItemGrid);

                        // 렌더링 결과를 piCheckTable에 삽입
                        $("#piCheckTable").html(_this.templateItem({
                            data: _this.chkItemGrid, chkItemUnitData: _this.chkItemUnitList
                        }));

                        _this.tableReorder('tblChkItem', 'colItemIdx');
                    });
                }
            });


			//----------------------end of 점검항목추가

			//----------------------점검결과
            _this.templateResult = kendo.template($("#tblChkResultTemp").html());
            //----------------------end of 점검결과

            //----------------------WO
            _this.templateWo = kendo.template($("#tblWoListTemp").html());
            //----------------------end of WO

        }//end init()

		bindMainEvents() {
			let _this = this;

			// 탭 클릭 이벤트 처리
			$('.tab-group button').on('click', function () {
				// 모든 탭에서 active 클래스 제거
				$('.tab-group button').removeClass('active');
				// 클릭된 탭에 active 클래스 추가
				$(this).addClass('active');

				// 모든 탭 컨텐츠 숨기기
				$('.tab-pane').removeClass('active').hide();

				// 탭 내용 전환
				var tabName = $(this).text().trim();
				switch (tabName) {
					case '계획':
						$('#piMasterForm').addClass('active').show();
						break;
					case '점검설비':
						$('#piEquip').addClass('active').show();
						break;
                    case '점검항목':
						$('#piCheckItem').addClass('active').show();
						break;
                    case '작업결과 목록':
                        $('#piCheckResult').addClass('active').show();
                        break;
                    case '작업 WO 목록':
						$('#piWorkOrderContent').addClass('active').show();
						break;
				}
			});

			// 초기 상태: 계획 탭 활성화
			$('.tab-group button:first').click();

			// 글자수 카운트 기능
			$('#work_text').on('input', function () {
				const maxLength = 1000;
				const currentLength = $(this).val().length;
				$('.char-count').text(`${currentLength} / ${maxLength} bytes`);

				// 최대 글자수 체크
				if (currentLength > maxLength) {
					$(this).val($(this).val().substring(0, maxLength));
				}
			});

			$("#copyPi").kendoButton({
				icon: "k-i-copy",// 복사 아이콘
				click: function (e) {
					e.preventDefault();
					$("#modalPmCopy").fadeIn();
				}
			});


			// ESC 키 누를 때 모달 닫기
			$(document).on('keydown', (e) => {
				if (e.keyCode === 27) { // ESC key
					modal.fadeOut();
				}
			});

			$("#saveBtn").kendoButton({
				icon: "k-i-save",
				click: function (e) {
					e.preventDefault();
					_this.saveData();
				},
				themeColor: "none"
			}).closest(".k-button").css({
				"background": "#ECF5FF",
				"color": "#409EFF",
				"border-color": "#B3D8FF",
				"border": "1px solid #00a9ff",
				"padding": "6px 12px",
				"border-radius": "4px",
				"cursor": "pointer",
				"min-width": "40px",
				"height": "28px",
				"line-height": "1"
			}).hover(
				function () {
					$(this).css({
						"background-color": "#C2DFFF",
						"border-color": "#0054e0"
					});
				},
				function () {
					$(this).css({
						"background": "#ECF5FF",
						"border-color": "#B3D8FF"
					});
				}
			);

			// 모달 닫기 - 닫기 버튼 클릭
			$('#closePmModal').kendoButton({
				click: function (e) {
					e.preventDefault();

                    $('#modalPiMaster').fadeOut();
				}
			});
		}

		bindChkEquipTemplateEvents() {
			let _this = this;
			$('#piEquipTable').off('click', '.btn-equip-delete').on('click', '.btn-equip-delete', function () {
				const equipPk = $(this).data('uid');
				console.log('삭제 버튼 클릭됨. equipPk:', equipPk);

				// 삭제
                _this.chkEquipGrid = _this.chkEquipGrid.filter(item => item.equip_pk !== equipPk);

				console.log(_this.chkEquipGrid);

				//choi : 이걸 할 필요가 있나?????
				// 렌더링 결과를 piEquipTable 삽입
				$("#piEquipTable").html(_this.templateEquip({
					data: _this.chkEquipGrid
				}));

				_this.tableReorder4Equip();

			});

			//설비선택
			$('#selectEquipment').kendoButton({
				themeColor: "base",
				icon: "k-i-plus", // 기어 아이콘 (설비 관련)
				click: function (e) {
					e.preventDefault();

					//callback이중방지를 위해 전역 변수로 한번만 선언할까??      
                    setModalPosition('#modalEqus', { width: '95%', height: '90%' });
                    _this.popupEquipments.show(function (selectedEquips) {
						// 여기서 선택된 데이터를 받아서 처리
                        console.log("선택된 항목:", selectedEquips.length, selectedEquips);
                        console.log("before 기존 항목:", _this.chkEquipGrid.length, _this.chkEquipGrid);

						//choi : 설비를 선택하고 나서 또 선택할 수 있다
						//     : callback이 여러번 발생한다. why??
						//_this.chkEquipGrid.push(...selectedEquips);

                        selectedEquips.forEach(equip => {
                            const exists = _this.chkEquipGrid.some(item => item.equip_cd === equip.equip_cd);
                            if (!exists) {
                                _this.chkEquipGrid.push(equip);
                            }
						});

                        console.log("after기존 항목:", _this.chkEquipGrid.length, _this.chkEquipGrid);

                        // 렌더링 결과를 piEquipTable에 삽입
                        $("#piEquipTable").html(_this.templateEquip({
							data: _this.chkEquipGrid
						}));

						_this.tableReorder4Equip();
					});
				}
			});			
		}

		tableReorder4Equip() {
			$("#piEquipTable").find(".btn-equip-delete").each(function () {
				console.log("btn-equip-delete 재설정")
				const $button = $(this);

				$button.kendoButton({
					click: function (e) {
						e.preventDefault();
						//console.log("삭제버튼 클릭");
					},
				});
			});
		}

		bindChkItemTemplateEvents() {
			let _this = this;

			//choi : kendo이벤트에서 처리하는게 어떨지???
            $("#piCheckTable").find(".btn-chkitem-delete").each(function () {
                //console.log("btn-chkitem-delete 재설정")
                const $button = $(this);

                $button.kendoButton({
                    click: function (e) {
                        e.preventDefault();
                        //console.log("삭제버튼 클릭");
                    },
                });
			});


			$('#piCheckTable').off('click', '.btn-chkitem-delete').on('click', '.btn-chkitem-delete', function () {
				const nIndex = $(this).data('uid');
				//console.log('삭제 버튼 클릭됨. nIndex:', nIndex);

				// 삭제 로직 추가
				_this.chkItemGrid.splice(nIndex, 1);
				console.log(_this.chkItemGrid);

				// 렌더링 결과를 piCheckTable에 삽입
                $("#piCheckTable").html(_this.templateItem({
					data: _this.chkItemGrid, chkItemUnitData: _this.chkItemUnitList
				}));
				_this.tableReorder('tblChkItem', 'colItemIdx');

			});

			$('#piCheckTable').off('click', '.btn-chkitem-down').on('click', '.btn-chkitem-down', function () {
				const index = $(this).data('uid');
				if (index === _this.chkItemGrid.length - 1) return; // 배열 마지막 번째 항목은 아래로 못 옮기므로 종료

				console.log(`다운클릭:`, index);

                var $tr = $('#chkitem_rows_' + index).closest('tr'); // 현재 tr
                var $next = $tr.next(); // 다음 tr

                if ($next.length) {
                    $next.after($tr); // 다음 tr 뒤에 현재 tr 삽입 (아래로 이동)
                }

                // 배열 순서도 아래로 이동
                const temp = _this.chkItemGrid[index];
                _this.chkItemGrid[index] = _this.chkItemGrid[index + 1];
				_this.chkItemGrid[index + 1] = temp;


                $("#piCheckTable").html(_this.templateItem({
                    data: _this.chkItemGrid, chkItemUnitData: _this.chkItemUnitList
				}));


                // 후처리 함수 호출 (예: 순번 및 이벤트 다시 설정하기)
				_this.tableReorder('tblChkItem', 'colItemIdx');

			});

			$('#piCheckTable').off('click', '.btn-chkitem-up').on('click', '.btn-chkitem-up', function () {
				const index = $(this).data('uid');

                if (index === 0) return; // 배열 첫 번째 항목은 위로 못 옮기므로 종료				  

				console.log(`업클릭:`, index);

                var $tr = $('#chkitem_rows_' + index).closest('tr'); // 해당 행
                var $prev = $tr.prev(); // 이전 행

                if ($prev.length) {
                    $prev.before($tr); // 이전 tr 앞에 현재 tr 삽입 (위로 이동)
                }

                // 배열 순서도 위로 이동
                const temp = _this.chkItemGrid[index];
                _this.chkItemGrid[index] = _this.chkItemGrid[index - 1];
                _this.chkItemGrid[index-1] = temp;


                $("#piCheckTable").html(_this.templateItem({
                    data: _this.chkItemGrid, chkItemUnitData: _this.chkItemUnitList
                }));


                // 정렬 후 후처리 함수 호출 (예: 순번 다시 매기기)
                _this.tableReorder('tblChkItem', 'colItemIdx');

			});


            $('#piCheckTable').off('input', '.chk_item_nm').on('input', '.chk_item_nm', function () {
				const $tr = $(this).closest('tr');
				const rowIndex = $tr.index();  // tbody 기준 몇 번째 tr인지

				console.log('현재 tr 인덱스:', rowIndex);

				const value = $(this).val();               // 변경된 값
				console.log("value=", value);

				if (_this.chkItemGrid && _this.chkItemGrid[rowIndex]) {
                    _this.chkItemGrid[rowIndex].chk_item_nm = value;  // 데이터 반영
				}
			});

			$('#piCheckTable').off('input', '.lcl').on('input', '.lcl', function () {
				const $tr = $(this).closest('tr');
				const rowIndex = $tr.index();  // tbody 기준 몇 번째 tr인지

				console.log('현재 tr 인덱스:', rowIndex);

				const value = $(this).val();               // 변경된 값
				console.log("value=", value);

				if (_this.chkItemGrid && _this.chkItemGrid[rowIndex]) {
					_this.chkItemGrid[rowIndex].lcl = value;  // 데이터 반영
				}
			});

			$('#piCheckTable').off('input', '.ucl').on('input', '.ucl', function () {
				const $tr = $(this).closest('tr');
				const rowIndex = $tr.index();  // tbody 기준 몇 번째 tr인지

				console.log('현재 tr 인덱스:', rowIndex);

				const value = $(this).val();               // 변경된 값
				console.log("value=", value);

				if (_this.chkItemGrid && _this.chkItemGrid[rowIndex]) {
					_this.chkItemGrid[rowIndex].ucl = value;  // 데이터 반영
				}
			});

			

            $("#piCheckTable").find(".chkItemUnitSelect").each(function () {
				const $select = $(this);
                const selectedValue = $select.val();
                console.log("selectbox value=", selectedValue);

                // 기존 인스턴스 제거 (재랜더링 시 필요)
                if ($select.data("kendoDropDownList")) {
                    $select.data("kendoDropDownList").destroy();
                    $select.show(); // DropDown 생성 전 숨겨진 원래 select 보이게
                }

                // KendoDropDownList 설정
                $select.kendoDropDownList({
                    dataSource: _this.chkItemUnitData,         // 전역 혹은 상위에서 접근 가능한 단위 리스트
                    dataTextField: "value",
                    dataValueField: "text",
                    //optionLabel: "단위선택",
                    value: selectedValue,                // 기존 선택값 유지
					change: function () {

						//const $select = $(this);
                        const $select = this.element; // ← Kendo가 만든 DropDown의 원본 <select> 엘리먼트

                        const $tr = $select.closest('tr');
                        const rowIndex = $tr.index();  // tbody 기준 몇 번째 tr인지
                        console.log('현재 selected 인덱스:', rowIndex); 

                        const selectedValue = this.value();
						console.log("selectbox value=", selectedValue);

						const newValue = this.value();
                        console.log("newValue value=", newValue);

                        if (_this.chkItemGrid && _this.chkItemGrid[rowIndex]) {
                            _this.chkItemGrid[rowIndex].chk_item_unit_pk = newValue;
                        }
                    }
                });
			});			
		}

		tableReorder(tableId, orderColClass) {
			let _this = this;
			$('#' + tableId + ' tbody tr').each(function (i) {
				$(this).find('.' + orderColClass).text(i + 1);  // ← class 기준으로 order번호를 변경
			});

			//choi : 새롭게 정렬된 tr에 바인딩을 새로함
			_this.bindChkItemTemplateEvents();
			
		}

		saveData() {
			let _this = this;
			let data = FormUtil.extractForm($('#piMasterForm'));

			console.log("saveData:", data);
			//debugger;

			//choi : tree로 구성된 것은 extractForm에서 뽑지를 못하네..ㅠㅠㅠ
			data.dept_pk = $("#executionDept").data("kendoDropDownTree").value();

			// 유효성 검사
			if (!data.piName) {
				Alert.alert('', '점검명을 입력해주세요.');
				return;
			}

			if (!data.dept_pk) {
				Alert.alert('', '점검부서를 선택해주세요.');
				return;
			}

			if (!data.piManager) {
				Alert.alert('', '점검담당자를 선택해주세요.');
				return;
			}

			if (!data.schedStartDt || !data.cycleType || !data.perNumber) {
				Alert.alert('', '주기 정보를 모두 입력해주세요.');
				return;
			}

			//선택한 설비정보 array중 equip_pk를 꺼내 ,로 구분해 준다
			data.chkEquips = this.chkEquipGrid.map(item => item.equip_pk).join(','); // 문자열

			//선택한 점검항목 정보를 꺼낸다
			//data.equipChkItems = this.chkItemGrid; //json array
            data.equipChkItems = JSON.stringify(this.chkItemGrid);
			console.log("data.equipChkItems:", data.equipChkItems);

			let funcSucc = function (resp) {
				if (resp.success) {
					// 기본 정보 저장 성공 시 작업 인력 저장 진행
					console.log("saveData resp:", resp)
				} else {
					Alert.alert('error', resp.message);
				}
			};

			AjaxUtil.postAsyncData(_this.baseUrl + '?action=save', data, funcSucc);

			$("#modalPiMaster").fadeOut();
		}

		resetData() {
			let _this = this;
			FormUtil.resetForm($('#piMasterForm'));
			// 폼 리셋 후 cycleInfo 체크
			// this.checkCycleInfo();
		}


		finalizeSave() {
			Notify.success('저장되었습니다.');
			this.resetData();
			page.searchMainData();
		}

		searchLocationData() {
			let _this = this;

			let param = {
				action: 'read',
			};

			let result = AjaxUtil.getSyncData(_this.baseUrl, param);
			_this.grid.setData(result);
			// 데이터 로드 후 cycleInfo 체크
			this.checkCycleInfo();
		}

		resetForm() {
			// 폼 리셋 시 cycleInfo 체크
			this.checkCycleInfo();
		}

		//pi 마스터 상세보기
		getPiMasterModal(mastpk) {
			let _this = this;

			// '계획' 탭 항상 active 처리
			$('.tab-button').removeClass('active');
			$('.tab-pane').removeClass('active').hide();
			$('.tab-button:first').addClass('active');
			$('#piMasterForm').addClass('active').show();

			// 1. PI 상세 정보 API 호출
			let param = {
                action: 'findOne',
                chkMastPk: mastpk,
			};
			let piData = AjaxUtil.getSyncData(_this.baseUrl, param);
			console.log("piData=", piData);

            // 기존 데이터 바인딩
            _this.bindPiMasterData(piData);

			// 2. 설비리스트를 가져 온다
            let param2 = {
                action: 'findAll',
                chkMastPk: mastpk,
			};

            let equipData = AjaxUtil.getSyncData('/api/kmms/chk_equip', param2);
			console.log("equipData=", equipData);

			_this.chkEquipGrid = equipData;

			// 그리드에 설비리스트를 보여준다
            $("#piEquipTable").html(_this.templateEquip({
                data: _this.chkEquipGrid
            }));

            _this.tableReorder4Equip();

			// 3. 점검항목을 가져온다
            let param3 = {
                action: 'findAll',
                chkMastPk: mastpk,
            };

            let itemData = AjaxUtil.getSyncData('/api/kmms/equip_chk_item', param3);
            console.log("itemData=", itemData);

            _this.chkItemGrid = itemData;
            $("#piCheckTable").html(_this.templateItem({
                data: _this.chkItemGrid, chkItemUnitData: _this.chkItemUnitList
            }));

            // 후처리 함수 호출 (예: 순번 및 이벤트 다시 설정하기)
            _this.tableReorder('tblChkItem', 'colItemIdx');
			$("#modalPiMaster").fadeIn();

			// 4. 점검결과를 가져온다
            let param4 = {
                action: 'selectEquipResultList',
                chkMastPk: mastpk,
            };

            let resultData = AjaxUtil.getSyncData(_this.baseUrl, param4);
            console.log("resultData=", resultData);

            _this.chkResultGrid = resultData;
            $("#piResultTable").html(_this.templateResult({
                data: _this.chkResultGrid
			}));

			// 5. WO List를 가져온다
            let param5 = {
                action: 'selectEquipWoList',
                chkMastPk: mastpk,
            };

            let woDataList = AjaxUtil.getSyncData(_this.baseUrl, param5);
            console.log("woDataList=", woDataList);

            _this.chkWoGrid = woDataList;
            $("#piWoTable").html(_this.templateWo({
                data: _this.chkWoGrid
            }));

		}

		/**
		 * PI 마스터 데이터를 모달 폼에 바인딩하는 함수
		 * @param {Object} piData - PI 마스터 상세 데이터
		 */
        bindPiMasterData(piData) {
			let _this = this;

			// 기본 필드 바인딩
			const basicFields = {
                'piNumber': piData.chk_mast_no,
                'piName': piData.chk_mast_nm,                
				'perNumber': piData.per_number,
				'schedStartDt': piData.sched_start_date,
				'work_text': piData.work_text,
			};

            //'cycleType': piData.cycle_type_cd,
			//'executionDept': piData.dept_pk,
            //'piManager': piData.chk_user_pk,

			// 기본 필드 값 설정
			// choi : 한꺼번에 값을 바인딩하네
			Object.entries(basicFields).forEach(([id, value]) => {
				$(`#${id}`).val(value);
			});


            // Kendo 컴포넌트 바인딩 함수
            function bindKendoComponent(selector, value) {
                setTimeout(function () {
                    let component = $(selector).data("kendoDropDownList") || $(selector).data("kendoDropDownTree");
                    if (component) {
                        component.value(value);
                        component.trigger("change");
                    }
                }, 100);
            }

            // 각 컴포넌트 바인딩
			bindKendoComponent("#cycleType", piData.cycle_type_cd);
            bindKendoComponent("#executionDept", piData.dept_pk);
            bindKendoComponent("#piManager", piData.chk_user_pk);



        }//bindPiMasterData
	}//class PiMaster


	$(document).ready(function () {
		piMasterPage = new PiMaster();

		// pmType 선택 이벤트 핸들러 추가
		$('#pmType').on('change', function () {
			piMasterPage.checkCycleInfo();
		});

		// 모달이 표시될 때마다 cycleInfo 체크 (jQuery fadeIn 방식)
		const originalFadeIn = $.fn.fadeIn;
		$.fn.fadeIn = function () {
			if (this.attr('id') === 'modalPiMaster') {
				setTimeout(() => piMasterPage.checkCycleInfo(), 0);
			}
			return originalFadeIn.apply(this, arguments);
		};

	});


</script>