<div id="modalMan" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4>작업자 팝업</h4>
        </div>
        <div class="modal-body">
            <div class="search-area">
                <div class="search-label">검색키워드</div>
                <input type="text" class="form-control" id="keyword_man" placeholder="사용자명, 부서명을 입력하세요">
                <button type="button" class="btn-search" id="btnSearchMan">검색</button>
            </div>
            <div id="manager_sel_grid"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-save" id="btnConfirmMan">확인</button>
            <button type="button" class="btn-close" id="btnCancelMan">취소</button>
        </div>
    </div>
</div>

<style>
#modalMan .modal-content {
    width: 60%; 
    max-width: 800px;
    max-height: 70vh !important;
}
</style>

<script type="text/javascript">
	class ManagerSelPage {
		constructor() {
			this.grid = null;
            this.baseUrl = '/api/kmms/project';
			this.callback = null;
			this.init();
		}

		init() {
			this.initGrid();
			this.initButton();
			this.initEvents();
		}

		initGrid() {
			const option = {
				toolbar: ["columns"],
				columnMenu: {
					componentType: "classic",
					autoSize: false,
					clearAllFilters: true,
					columns: { sort: "asc" }
				},
				columns: [
                    { field: 'user_pk', title: 'user_pk', hidden: true },
					{ field: 'user_nm', title: '사용자명', width: 150 },
					{ field: 'dept_nm', title: '부서명', width: 150 },
				],
				height: "440px",
				scrollable: true,
			};
			this.grid = new Grid($("#manager_sel_grid"), option);
		}

		initButton() {
			$("#btnConfirmMan").kendoButton({ icon: "k-i-check", themeColor: "base" });
			$("#btnCancelMan").kendoButton({ icon: "cancel", themeColor: "base" });
			$("#btnSearchMan").kendoButton({
				themeColor: "primary",
				icon: "search",
				click: () => this.getManData()
			});
		}

		initEvents() {
			const $modal = $("#modalMan");

			$("#btnCancelMan").on("click", (e) => {
				e.preventDefault();
				$modal.fadeOut();
			});

			$("#btnConfirmMan").on("click", () => {
                const data = this.grid.getSelect();
				if (!data[0]) {
					alert('선택된 담당자가 없습니다.');
					return;
				}
                if (typeof this.callback === 'function') {
                    this.callback(data[0]);
                }
				$modal.fadeOut();
			});
		}

		getManData() {
			const param = {
                action: 'FindAllUser',
				keyword: $('#keyword_man').val(),
			};
			const result = AjaxUtil.getSyncData(this.baseUrl, param);
			this.grid.setData(result);
		}

		show(callback) {
			this.callback = callback;
			$("#modalMan").fadeIn();
			this.getManData();
		}
	}

	let managerSelectPage = null;

	$(document).ready(function () {
		managerSelectPage = new ManagerSelPage();
	});
</script>
