
<div id="modalEqus" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4>설비선택</h4>
            <button type="button" class="close" id="closeModalEqu">&times;</button>
        </div>

        <div class="modal-body">
            <!-- 검색 영역 -->
            <div class="search-area">
                <div class="search-label col-auto">검색키워드</div>
                <input type="text" class="form-control col-auto" id="keyword_equ" name="keyword_equ" placeholder="설비코드, 설비명, 자산번호 입력">
                <div class="search-label col-auto">관리부서</div>
                <select id="srch_equ_dept" name="srch_dept" class="col-auo">
                </select>
                <button type="button" class="btn-search" id="btnSearchEqu" name="btnSearchEqu">검색</button>
            </div>

            <!-- 그리드 영역 -->
            <div id="equipmentsGrid"></div>

            <!-- 선택된 설비 영역 -->
            <div class="bottom-area">
                <div class="selected-equipment">
                    <!--<label>선택된 설비</label>
                    <input type="hidden" id="selectedEquPK" name="selectedEquPK">
                    <input type="text" id="selectedEquName" name="selectedEquName" readonly>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-save" id="btnConfirmEqu">선택</button>
                    <button type="button" class="btn-close" id="btnCancelEqu">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>


    <style>

    </style>

    <script type="text/javascript">

        class EquipmentsPage {
            constructor() {
                this.grid = null;
                //choi : 2025/04/30 
                //     : url이 바뀜
                //this.baseUrl = '/api/definition/equipment';
                this.baseUrl = '/api/kmms/equipment';
                this.callback = null;

                this.dummyData = [
                    {  }
                ];

                this.selectedKeyNames = [];

                let content = $('#modalEqus').html()
                let $content = $(content);

                this.init($content);

            }

            init($content) {
                let _this = this;

                function onChange(arg) {
                    //console.log("The selected product ids are: [" + this.selectedKeyNames().join(", ") + "]");
                   
                    _this.selectedKeyNames= this.selectedKeyNames();
                    console.log("selectedKeyNames", _this.selectedKeyNames);
                }

                let equipmentsGridOption = {
                    dataSource: {
                        data: [],
                        schema: {
                            model: {
                                id: "equip_cd",
                                fields: {
                                    equip_cd: { type: "string" },
                                    equip_nm: { type: "string" },
                                    equip_status_nm: { type: "string" }
                                }
                            }
                        },
                        pageSize: 10
                    },

                    toolbar: [
                        "columns"
                    ],
                    columnMenu: {
                        componentType: "classic",
                        autoSize: true,
                        clearAllFilters: true,
                        columns: {
                            sort: "asc",
                        }
                    },
                    //pageable: {
                    //    pageSize: 10,   // 여기서도 설정 가능
                    ////    refresh: true,

                    //},
                    pageable: true,
                    selectable: "multiple, row",
                    persistSelection: true,  // ✅ 이걸 써야 페이지 바뀌어도 선택 유지됨!
                    change: onChange,
                    columns: [
                        { selectable: true, width: "50px"},
                        { field: 'equip_cd', title: '설비코드', width: 100 },
                        { field: 'equip_nm', title: '설비명', width: 150 },
                        { field: 'equip_status_nm', title: '설비상태', width: 80 },
                        { field: 'equip_category_desc', title: '카테고리', width: 100 },
                        { field: 'loc_nm', title: '설비위치', width: 100 },
                        { field: 'dept_nm', title: '관리부서', width: 100 },
                        { field: 'equip_pk', title: '관리번호', width: 100 },
                        { field: 'import_rank_cd', title: '중요도등급', width: 100, hidden: true },
                        { field: 'environ_equip_yn', title: '환경설비여부', width: 100, hidden: true },
                    ],
                    dataBound: function (e) {                        
                        // grid 데이터 개수 표시
                        kendoUtil.showGridRowCount(this.element);
                    },
                    height: "440px",
                    scrollable: true, // ✅ 내부에서만 스크롤 유지
                };


                //choi : 그리드 초기화
                let $grid = $("#equipmentsGrid");
                if ($grid.data("kendoGrid")) {
                    $grid.data("kendoGrid").destroy();  // ✅ 기존 인스턴스 제거
                    $grid.empty();                      // ✅ DOM 초기화 (중복 렌더 방지)
                }


                // Grid에 setData함수가 있음. 누가 만들어 두었나?
                //_this.grid = new Grid($("#equipmentsGrid"), equipmentsGridOption);
                _this.grid = $("#equipmentsGrid").kendoGrid(equipmentsGridOption).data("kendoGrid");


                $("#btnConfirmEqu").kendoButton({
                    icon: "k-i-check", // 확인 아이콘 (✔️)
                    themeColor: "base",
                    click: function () {

                        //key만 보내지 말고 item 집합을 새로 만들어서 보내주어야 하나? 
                        _this.selectData(_this.selectedKeyNames);

                        $('#modalEqus').fadeOut();
                    }
                });

                $("#btnCancelEqu").kendoButton({
                    icon: "cancel", // 취소 아이콘 (❌)
                    themeColor: "base",
                    click: function () {
                        //$content.data('kendoWindow').close();
                        $('#modalEqus').fadeOut();
                    }
                });


                // 검색 버튼을 kendo 버튼으로 변경
                $("#btnSearchEqu").kendoButton({
                    themeColor: "primary",
                    icon: "search",
                    click: () => {
                        this.getEquData();
                    }
                });

                AjaxUtil.fillDropDownTreeOptions($("#srch_equ_dept"), "depart", "select");
            }

            getEquData() {
                let _this = this;
                let param = {
                    action: 'findAll',
                    keyword: $('#keyword_equ').val(),
                    depart_id: $('#srch_equ_dept').data("kendoDropDownTree").value(),
                };

                let result = AjaxUtil.getSyncData(_this.baseUrl, param);
                console.log(result);

                //choi : 이렇게 하면 datasource에 설정한 옵션들(페이지 사이즈)이 안 먹힘. 이거 사용하지 말자~~~
                //_this.grid.setData(result);

                _this.resetData();

                //if (grid) {
                    _this.grid.dataSource.data([]);
                    _this.grid.dataSource.page(1);
                    _this.grid.refresh(); // ✅ UI 갱신

                    _this.grid.dataSource.data(result); // ✅ 데이터를 직접 설정
                    _this.grid.refresh(); // ✅ UI 갱신
                //}
            }

            resetData() {
                
            }

            selectData(selectedKeyNames) {
               
                const grid = $("#equipmentsGrid").data("kendoGrid");
                const allData = grid.dataSource.data(); // 전체 데이터셋

                // 선택된 키에 해당하는 데이터만 추출
                const selectedItems = allData.filter(item =>
                    selectedKeyNames.includes(item.equip_cd)
                );

                console.log("selectedItems", selectedItems);

                if (typeof this.callback !== 'undefined' && this.callback != null) {
                    this.callback(selectedItems); // 실제 데이터 객체들을 넘김
                }
            }


            show(callback) {
                let _this = this;
                this.callback = callback;

                

                $('#modalEqus').css({
                    height: '100%'  // ✅ 원하는 높이로 설정
                });

                $('#modalEqus').fadeIn();

                _this.getEquData();

            }

        };  //eof EquipmentsPage

		//let equiPage = null;
		//pageEqusModal = new EquipmentsPage();
        $(document).ready(function () {
			

        });
</script>
