
<div id="modalPiMaster" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<h4>점검 마스터 등록</h4>
		</div>

		<div class="modal-body">
			<div class="top-section">
				<div class="section-header" style="display: flex; justify-content: flex-end;">
					<div class="button-group">
						<button type="button" class="btn-copy" id="copyPi" name="copyPi">
							점검복사
						</button>
					</div>
				</div>
			</div>
			<!-- 계획 섹션2 -->
			<div class="section">
				<div class="tab-group">
					<button class="tab-button active">계획</button>
					<button class="tab-button">점검설비</button>
					<button class="tab-button">점검항목</button>
					<button class="tab-button">작업결과 목록</button>
					<button class="tab-button">작업 WO 목록</button>
				</div>


				<div class="tab-content">
					<!-- 계획 탭 컨텐츠 -->
					<form id="piMasterForm">
						<input type="hidden" id="chk_mast_pk" name="chk_mast_pk">
						<div class="plan-content">
							<div class="form-row">
								<div class="form-group col-6">
									<label>점검번호</label>
									<input type="text" class="form-control" id="piNumber" name="piNumber" placeholder="점검번호는 자동으로 생성됩니다" readonly>
								</div>
								<div class="form-group col-6">
									<label>점검명 <span class="required">*</span></label>
									<input type="text" class="form-control" id="piName" name="piName" placeholder="100자 이하로 입력하세요">
								</div>
							</div>
							<div class="form-row">
								<!-- 오른쪽 cycleInfo 영역 -->
								<!-- 주기단위 -->
								<div class="form-group col-4">
									<label>주기단위 <span class="required">*</span></label>
									<select id="cycleType" name="cycleType">
									</select>
								</div>
								<div class="form-group col-4">
									<label>반복 <span class="required">*</span></label>
									<div class="field-wrapper" style="display: flex; align-items: center">
										<span class="mt-2" style="margin-left: 5px;">매</span>
										<input id="perNumber" name="perNumber" type="number" class="form-control" />
									</div>
								</div>
								<!-- 주기시작일 -->
								<div class="form-group col-4">
									<label>주기시작일 <span class="required">*</span></label>
									<div class="field-wrapper">
										<input type="date" id="schedStartDt" name="schedStartDt" />
									</div>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-6">
									<label>점검부서 <span class="required">*</span></label>
									<select id="executionDept" name="executionDept">
									</select>
								</div>
								<div class="form-group col-6">
									<label>점검담당자 <span class="required">*</span></label>
									<select id="piManager" name="piManager">
										<option value="">점검 담당자를 선택하세요</option>
									</select>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-12">
									<label>작업지침</label>
									<textarea id="work_text" class="form-control" name="work_text" rows="5" placeholder="2000자 이하로 입력하세요" maxlength="2000"></textarea>
									<div class="char-count">0 / 2000 bytes</div>
								</div>
							</div>
						</div>
					</form>


					<!-- 점검설비 목록 탭 컨텐츠 -->
					<div id="piEquip" style="display: none;">
						<div class="section-header" style="display: flex; justify-content: flex-end;">
							<div class="button-group">
								<button type="button" id="selectEquipment" name="selectEquipment">
									설비선택
								</button>
							</div>
						</div>
						<!--아이디 변경 equipTable => tblChkEquip -->
						<div class="swing-el-tab-scroll" style="height: 412px;">
							<table class="swing-table swing-table-bordered swing-table-striped mb-0" id="tblChkEquip">
								<thead>
									<tr style="border-top: 2px solid #343a40;">
										<th width="14%" class="text-center">설비코드</th>
										<th width="25%" class="text-center">설비명</th>
										<th width="14%" class="text-center">위치</th>
										<th width="20%" class="text-center">카테고리</th>
										<th width="8%" class="text-center">중요도</th>
										<th width="14%" class="text-center">상태</th>
										<th width="5%" class="text-center">삭제</th>
										<th style="display: none">equipPk</th>
										<th style="display: none">설비신규추가여부</th>
									</tr>
								</thead>
								<tbody id="piEquipTable">
								</tbody>
							</table>
						</div>
					</div>

					<!-- 점검항목 목록 탭 컨텐츠 -->
					<div id="piCheckItem" style="display: none;">
						<div class="section-header" style="display: flex; justify-content: flex-end;">
							<div class="button-group">
								<button type="button" id="addCheckItem" name="addCheckItem">
									점검항목추가
								</button>
							</div>
						</div>
						<div class="swing-el-tab-scroll" style="height: 412px;">
							<table class="swing-table swing-table-bordered swing-table-striped mb-0" id="tblChkItem">
								<thead>
									<tr style="border-top: 2px solid #343a40;">
										<th width="5%" class="text-center">순번</th>
										<th width="8%" class="text-center">순서조정</th>
										<th width="30%" class="text-center">점검항목명*</th>
										<th width="7%" class="text-center">LCL</th>
										<th width="7%" class="text-center">UCL</th>
										<th width="10%" class="text-center">단위</th>
										<th width="10%" class="text-center">점검 가이드</th>
										<th style="display: none">점검 점검방법</th>
										<th style="display: none">점검 이상기준</th>
										<th width="5%" class="text-center">삭제</th>
										<th style="display: none">chkItemPk</th>
									</tr>
								</thead>
								<tbody id="piCheckTable">
								</tbody>
							</table>
						</div>
					</div>


					<!-- PM WO 목록 탭 컨텐츠 -->
					<div id="pmWorkOrderContent" class="pmwo-content" style="display: none;">
						<div id="pmWorkOrderGrid"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- 버튼 영역 -->
		<div class="modal-footer">
			<button type="button" class="btn-save" id="saveBtn">저장</button>
			<button type="button" class="btn-close" id="closePmModal">닫기</button>
		</div>

	</div>
</div>

<script type="text/x-kendo-template" id="tblChkEquipTemp">
	# if ( data.length == 0 ){ #
	<tr>
		<td colspan="9">조회된 데이터가 없습니다</td>
	</tr>
	# } #
	# for (let index=0; index<data.length; index++) { let item = data[index]; #
	<tr id="chkequip_rows_#=item.equip_pk#" >
		<td id="col" class="text-left">#=item.equip_cd#</td>
		<td id="col" class="text-left">#=item.equip_nm#</td>
		<td id="col" class="text-left">#=item.loc_nm#</td>
		<td id="col" class="text-left">#=item.equip_category_desc#</td>
		<td id="col" class="text-left">#=item.import_rank_cd#</td>
		<td id="col" class="text-left">#=item.equip_status_nm#</td>
		<td  class="text-center">
			<botton  type ="button" class="btn-save btn-equip-delete" data-uid="#= item.equip_pk #">
				<span>삭제</span>
			</botton>
		</td>
		<td id="colPk" style="display: none;">#=item.equip_pk#</td>
		<td id="colPk" style="display: none;">#=item.environ_equip_yn#</td>
	</tr>
	# } #

</script>

<script type="text/x-kendo-template" id="tblChkItemTemp">
	# if ( data.length == 0 ){ #
	<tr>
		<td colspan="9">조회된 데이터가 없습니다</td>
	</tr>
	# } #
	# for (let index=0; index<data.length; index++) { let item = data[index]; #
	<tr id="chkitem_rows_#=index#" >
		<td id="colItemIdx" class="text-center colItemIdx">#=item.itemIdx#</td>
		<td >
			<div class="btn-group">
				<botton  type ="button" class="btn btn-xs btn-chkitem-down" data-uid="#= index #" style="font-size: 21px" >
					<img src="/static/img/caret-down-solid.svg"  alt="down" style="width: 24px; height: 24px;"/>
				</botton>
				<botton  type ="button" class="btn btn-xs btn-chkitem-up" data-uid="#= index #" style="font-size: 21px" >
					<img src="/static/img/caret-up-solid.svg" class="" alt="up" style="width: 24px; height: 24px;"/>
				</botton>
			</div>
		</td>
		<td id="colChkItemNm" class="text-right bg-edit-cell">
			<input type="text" class="form-control chkItemNm" maxlength="100" value= #=item.chkItemNm#  />
		</td>
		<td id="colLcl" class="text-right bg-edit-cell">
			<input type="text" class="form-control lcl" maxlength="100" value= #=item.lcl#  />
		</td>
		<td id="colUcl" class="text-right bg-edit-cell">
			<input type="text" class="form-control ucl" maxlength="100" value= #=item.ucl#  />
		</td>
		<td id="chkItemUnitPk" class="text-right bg-edit-cell">
			<select class="chkItemUnitSelect" data-index="#= index #">
				<option value="">단위선택</option>
				# for (var i = 0; i < chkItemUnitData.length; i++) { #
				<option value="#= chkItemUnitData[i].codePk #"
					# if (item.chkItemUnitPk == chkItemUnitData[i].codePk) { # selected # } #>
					#= chkItemUnitData[i].codeNm #
				</option>
				# } #
			</select>
		</td>
		<td id="chkItemUnitPk2" class="text-right bg-edit-cell">
			<span>입력하기</span>
		</td>
		<td  class="text-center">
			<botton  type ="button" class="btn-save btn-chkitem-delete" data-uid="#= index #">
				<span>삭제</span>
			</botton>
		</td>
	</tr>
	# } #

</script>

<style>

	/*
    .modal-content {
        height: 80% !important;
    }
	*/

    /*choi : modal-content가 350px로 되어 있어 100%로 강제로 늘린다
    */
    .modal .tab-content {
        height: 100% !important;
    }

    #work_text {
        height: 150px !important
    }
</style>

<!--swing에서 사용한 스타일을 그대로 가져온다-->
<style>

	.swing-el-tab-scroll, .swing-tab-scroll {
		overflow-y: auto !important;
		overflow-x: hidden;
	}

	.swing-table-bordered {
		border-top: 2px solid #7db4d8 !important;
		border-right: 1px solid #d1d3db;
	}

	.swing-table {
		background-color: transparent;
		width: 100% !important;
		max-width: 100%;
		margin-bottom: 0.9375rem;
		border-spacing: 0;
	}

		.swing-table > caption + thead > tr:first-child > th, .swing-table > colgroup + thead > tr:first-child > th, .swing-table > thead:first-child > tr:first-child > th, .swing-table > caption + thead > tr:first-child > td, .swing-table > colgroup + thead > tr:first-child > td, .swing-table > thead:first-child > tr:first-child > td {
			border-top: 0;
		}

	.swing-table-bordered > thead > tr > th {
		color: #656876;
		/* border-top: 0; */
		border-bottom: 1px solid #d1d3db !important;
		background-color: #ecf1f4;
	}

	.swing-table-bordered > thead > tr > th, .swing-table-bordered > thead > tr > td {
		border-bottom-width: 1px;
	}

	.swing-table > thead > tr > th {
		vertical-align: bottom;
		border-bottom: 1px solid #d1d3db;
	}

	.swing-table th, .swing-table td {
		padding: 0.75rem;
		line-height: 1.42857143;
		vertical-align: middle !important;
		border-width: 0 0 1px 1px !important;
		border-style: solid !important;
		border-color: #d1d3db !important;
	}

	.swing-table input[type="text"] {
		height: 10px;
		padding: 0px 0px;
	}

	table {
		border-collapse: collapse;
	}

	.text-center {
		text-align: center !important;
	}

	.text-right {
		text-align: right !important;
	}

	.text-left {
		text-align: left !important;
	}

	.bg-edit-cell {
		background-color: lightgoldenrodyellow !important;
	}

	.btn-group, .btn-group-vertical {
		position: relative;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: flex;
		vertical-align: middle;
		justify-content: center;
	}

		.btn-group > .btn, .btn-group-vertical > .btn {
			position: relative;
			-webkit-box-flex: 0;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			padding: 0px 0px;
			border-radius: 4px;
		}

	.btn-xs, .btn-group-xs > .btn {
		line-height: 1.5;
		background-color: #ecf1f4;
	}
</style>

<script type="text/javascript">
	let piMasterPage = null;
	class PiMaster {
		constructor() {
			this.grid = null;
			this.baseUrl = '/api/kmms/pi_master';

			this.resetForm = this.resetForm.bind(this);

			//점검설비 array
			this.chkEquipGrid = [];

			//템플릿
			this.template = null;
			this.templateEquip = null;

			//점검항목 array
			this.chkItemGrid = [];
			this.chkItemUnitList = [];

			//for test
			let checkItemUnit =
			[
				{
				codePk: "KG",
				codeNm: "KG"
				},
                {
                codePk: "TON",
                codeNm: "TON"
                },
			];
			this.chkItemUnitList.push(...checkItemUnit);
			//for test

			//choi : callback이 여러번 발생하여 한번만 선언하게 전역으로 선언함
            this.popup = new EquipmentsPage();


			this.init();
		}

		bindMainEvents() {
			let _this = this;

			// 탭 클릭 이벤트 처리
			$('.tab-group button').on('click', function () {
				// 모든 탭에서 active 클래스 제거
				$('.tab-group button').removeClass('active');
				// 클릭된 탭에 active 클래스 추가
				$(this).addClass('active');

				// 모든 컨텐츠 숨기기
				$('#piMasterForm, #piEquip,  #piCheckItem, #pmWorkOrderContent').hide();

				// 탭 내용 전환
				var tabName = $(this).text().trim();
				switch (tabName) {
					case '계획':
						$('#piMasterForm').show();
						break;
					case '점검설비':
						$('#piEquip').show();
						break;
					case '점검항목':
						$('#piCheckItem').show();
						break;
					case 'PM WO 목록':
						$('#pmWorkOrderContent').show();
						// PM WO 목록 탭 선택 시에만 데이터 로드
						var grid = $("#pmWorkOrderGrid").data("kendoGrid");
						var pmPk = $('#pm_pk').val();
						if (grid && pmPk) {
							console.log("Loading PM WO data for pm_pk:", pmPk);
							grid.dataSource.read();
						} else {
							console.log("Grid or pm_pk not available:", { grid: !!grid, pmPk: pmPk });
						}
						break;
				}
			});

			// 초기 상태: 계획 탭 활성화
			$('.tab-group button:first').click();

			// 글자수 카운트 기능
			$('#work_text').on('input', function () {
				const maxLength = 1000;
				const currentLength = $(this).val().length;
				$('.char-count').text(`${currentLength} / ${maxLength} bytes`);

				// 최대 글자수 체크
				if (currentLength > maxLength) {
					$(this).val($(this).val().substring(0, maxLength));
				}
			});

			$("#copyPi").kendoButton({
				icon: "k-i-copy",// 복사 아이콘
				click: function (e) {
					e.preventDefault();
					$("#modalPmCopy").fadeIn();
				}
			});


			// ESC 키 누를 때 모달 닫기
			$(document).on('keydown', (e) => {
				if (e.keyCode === 27) { // ESC key
					modal.fadeOut();
				}
			});

			$("#saveBtn").kendoButton({
				icon: "k-i-save",
				click: function (e) {
					e.preventDefault();
					_this.saveData();
				},
				themeColor: "none"
			}).closest(".k-button").css({
				"background": "#ECF5FF",
				"color": "#409EFF",
				"border-color": "#B3D8FF",
				"border": "1px solid #00a9ff",
				"padding": "6px 12px",
				"border-radius": "4px",
				"cursor": "pointer",
				"min-width": "40px",
				"height": "28px",
				"line-height": "1"
			}).hover(
				function () {
					$(this).css({
						"background-color": "#C2DFFF",
						"border-color": "#0054e0"
					});
				},
				function () {
					$(this).css({
						"background": "#ECF5FF",
						"border-color": "#B3D8FF"
					});
				}
			);

			// 모달 닫기 - 닫기 버튼 클릭
			$('#closePmModal').kendoButton({
				click: function (e) {
					e.preventDefault();

                    $('#modalPiMaster').fadeOut();
				}
			});
		}

		bindChkEquipTemplateEvents() {
			let _this = this;
			$('#piEquipTable').off('click', '.btn-equip-delete').on('click', '.btn-equip-delete', function () {
				const equipPk = $(this).data('uid');
				console.log('삭제 버튼 클릭됨. equipPk:', equipPk);

				// 삭제
                _this.chkEquipGrid = _this.chkEquipGrid.filter(item => item.equip_pk !== equipPk);

				console.log(_this.chkEquipGrid);

				//choi : 이걸 할 필요가 있나?????
				// 렌더링 결과를 piEquipTable 삽입
				$("#piEquipTable").html(_this.templateEquip({
					data: _this.chkEquipGrid
				}));

				_this.tableReorder4Equip();

			});

			//설비선택
			$('#selectEquipment').kendoButton({
				themeColor: "base",
				icon: "k-i-plus", // 기어 아이콘 (설비 관련)
				click: function (e) {
					e.preventDefault();

					//callback이중방지를 위해 전역 변수로 한번만 선언할까??      
                    setModalPosition('#modalEqus', { width: '95%', height: '90%' });
                    _this.popup.show(function (selectedEquips) {
						// 여기서 선택된 데이터를 받아서 처리
                        console.log("선택된 항목:", selectedEquips.length, selectedEquips);
                        console.log("before 기존 항목:", _this.chkEquipGrid.length, _this.chkEquipGrid);

						//choi : 설비를 선택하고 나서 또 선택할 수 있다
						//     : callback이 여러번 발생한다. why??
						//_this.chkEquipGrid.push(...selectedEquips);

                        selectedEquips.forEach(equip => {
                            const exists = _this.chkEquipGrid.some(item => item.equip_cd === equip.equip_cd);
                            if (!exists) {
                                _this.chkEquipGrid.push(equip);
                            }
						});

                        console.log("after기존 항목:", _this.chkEquipGrid.length, _this.chkEquipGrid);

                        // 렌더링 결과를 piEquipTable에 삽입
                        $("#piEquipTable").html(_this.templateEquip({
							data: _this.chkEquipGrid
						}));

						_this.tableReorder4Equip();
					});
				}
			});			
		}

		tableReorder4Equip() {
			$("#piEquipTable").find(".btn-equip-delete").each(function () {
				console.log("btn-equip-delete 재설정")
				const $button = $(this);

				$button.kendoButton({
					click: function (e) {
						e.preventDefault();
						//console.log("삭제버튼 클릭");
					},
				});
			});
		}

		bindChkItemTemplateEvents() {
			let _this = this;

			//choi : kendo이벤트에서 처리하는게 어떨지???
            $("#piCheckTable").find(".btn-chkitem-delete").each(function () {
                //console.log("btn-chkitem-delete 재설정")
                const $button = $(this);

                $button.kendoButton({
                    click: function (e) {
                        e.preventDefault();
                        //console.log("삭제버튼 클릭");
                    },
                });
			});


			$('#piCheckTable').off('click', '.btn-chkitem-delete').on('click', '.btn-chkitem-delete', function () {
				const nIndex = $(this).data('uid');
				//console.log('삭제 버튼 클릭됨. nIndex:', nIndex);

				// 삭제 로직 추가
				_this.chkItemGrid.splice(nIndex, 1);
				console.log(_this.chkItemGrid);

				// 렌더링 결과를 piCheckTable에 삽입
				$("#piCheckTable").html(_this.template({
					data: _this.chkItemGrid, chkItemUnitData: _this.chkItemUnitList
				}));
				_this.tableReorder('tblChkItem', 'colItemIdx');

			});

			$('#piCheckTable').off('click', '.btn-chkitem-down').on('click', '.btn-chkitem-down', function () {
                const index = $(this).data('uid');
				console.log(`다운클릭:`, index);

				//_this.moveDown(nIndex);

                var $tr = $('#chkitem_rows_' + index).closest('tr'); // 현재 tr
                var $next = $tr.next(); // 다음 tr

                if ($next.length) {
                    $next.after($tr); // 다음 tr 뒤에 현재 tr 삽입 (아래로 이동)
                }

                // 배열 순서도 아래로 이동
                const temp = _this.chkItemGrid[index];
                _this.chkItemGrid[index] = _this.chkItemGrid[index + 1];
				_this.chkItemGrid[index + 1] = temp;


                $("#piCheckTable").html(_this.template({
                    data: _this.chkItemGrid, chkItemUnitData: _this.chkItemUnitList
				}));


                // 후처리 함수 호출 (예: 순번 및 이벤트 다시 설정하기)
				_this.tableReorder('tblChkItem', 'colItemIdx');

			});

			$('#piCheckTable').off('click', '.btn-chkitem-up').on('click', '.btn-chkitem-up', function () {
				const index = $(this).data('uid');

                if (index === 0) return; // 배열 첫 번째 항목은 위로 못 옮기므로 종료
				  
				//console.log(`업클릭:`, index);
				//_this.moveUp(nIndex);

                var $tr = $('#chkitem_rows_' + index).closest('tr'); // 해당 행
                var $prev = $tr.prev(); // 이전 행

                if ($prev.length) {
                    $prev.before($tr); // 이전 tr 앞에 현재 tr 삽입 (위로 이동)
                }

                // 배열 순서도 위로 이동
                const temp = _this.chkItemGrid[index];
                _this.chkItemGrid[index] = _this.chkItemGrid[index - 1];
                _this.chkItemGrid[index-1] = temp;


                $("#piCheckTable").html(_this.template({
                    data: _this.chkItemGrid, chkItemUnitData: _this.chkItemUnitList
                }));


                // 정렬 후 후처리 함수 호출 (예: 순번 다시 매기기)
                _this.tableReorder('tblChkItem', 'colItemIdx');

			});


			$('#piCheckTable').off('input', '.chkItemNm').on('input', '.chkItemNm', function () {
				const $tr = $(this).closest('tr');
				const rowIndex = $tr.index();  // tbody 기준 몇 번째 tr인지

				console.log('현재 tr 인덱스:', rowIndex);

				const value = $(this).val();               // 변경된 값
				console.log("value=", value);

				if (_this.chkItemGrid && _this.chkItemGrid[rowIndex]) {
					_this.chkItemGrid[rowIndex].chkItemNm = value;  // 데이터 반영
				}
			});

			$('#piCheckTable').off('input', '.lcl').on('input', '.lcl', function () {
				const $tr = $(this).closest('tr');
				const rowIndex = $tr.index();  // tbody 기준 몇 번째 tr인지

				console.log('현재 tr 인덱스:', rowIndex);

				const value = $(this).val();               // 변경된 값
				console.log("value=", value);

				if (_this.chkItemGrid && _this.chkItemGrid[rowIndex]) {
					_this.chkItemGrid[rowIndex].lcl = value;  // 데이터 반영
				}
			});

			$('#piCheckTable').off('input', '.ucl').on('input', '.ucl', function () {
				const $tr = $(this).closest('tr');
				const rowIndex = $tr.index();  // tbody 기준 몇 번째 tr인지

				console.log('현재 tr 인덱스:', rowIndex);

				const value = $(this).val();               // 변경된 값
				console.log("value=", value);

				if (_this.chkItemGrid && _this.chkItemGrid[rowIndex]) {
					_this.chkItemGrid[rowIndex].ucl = value;  // 데이터 반영
				}
			});

			//$('#piCheckTable').off('change', '.chkItemUnitSelect').on('change', '.chkItemUnitSelect', function () {
			//	const $tr = $(this).closest('tr');
			//	const rowIndex = $tr.index();  // tbody 기준 몇 번째 tr인지

			//	console.log('현재 selected 인덱스:', rowIndex);

			//	const value = $(this).val();               // 변경된 값
			//	console.log("selectbox value=", value);

			//	if (_this.chkItemGrid && _this.chkItemGrid[rowIndex]) {
			//		_this.chkItemGrid[rowIndex].chkItemUnitPk = value;  // 데이터 반영
			//	}

			//	console.log(_this.chkItemGrid);
			//});

            $("#piCheckTable").find(".chkItemUnitSelect").each(function () {
				const $select = $(this);
                const selectedValue = $select.val();
                console.log("selectbox value=", selectedValue);

                // 기존 인스턴스 제거 (재랜더링 시 필요)
                if ($select.data("kendoDropDownList")) {
                    $select.data("kendoDropDownList").destroy();
                    $select.show(); // DropDown 생성 전 숨겨진 원래 select 보이게
                }

                // KendoDropDownList 설정
                $select.kendoDropDownList({
                    dataSource: _this.chkItemUnitData,         // 전역 혹은 상위에서 접근 가능한 단위 리스트
                    dataTextField: "codeNm",
                    dataValueField: "codePk",
                    optionLabel: "단위선택",
                    value: selectedValue,                // 기존 선택값 유지
					change: function () {

						//const $select = $(this);
                        const $select = this.element; // ← Kendo가 만든 DropDown의 원본 <select> 엘리먼트

                        const $tr = $select.closest('tr');
                        const rowIndex = $tr.index();  // tbody 기준 몇 번째 tr인지
                        console.log('현재 selected 인덱스:', rowIndex); 

                        const selectedValue = this.value();
						console.log("selectbox value=", selectedValue);

						const newValue = this.value();
                        console.log("newValue value=", newValue);

                        if (_this.chkItemGrid && _this.chkItemGrid[rowIndex]) {
                            _this.chkItemGrid[rowIndex].chkItemUnitPk = newValue;
                        }
                    }
                });
			});			
		}


		moveUp(index) {
			var $tr = $('#chkitem_rows_' + index).closest('tr'); // 해당 행
			var $prev = $tr.prev(); // 이전 행

			if ($prev.length) {
				$prev.before($tr); // 이전 tr 앞에 현재 tr 삽입 (위로 이동)
			}

			// 정렬 후 후처리 함수 호출 (예: 순번 다시 매기기)
			this.tableReorder('tblChkItem', 'colItemIdx');
		}

		moveDown(index) {
			var $tr = $('#chkitem_rows_' + index).closest('tr'); // 현재 tr
			var $next = $tr.next(); // 다음 tr

			if ($next.length) {
				$next.after($tr); // 다음 tr 뒤에 현재 tr 삽입 (아래로 이동)
			}

			// 정렬 후 후처리 함수 호출 (예: 순번 다시 매기기)
			this.tableReorder('tblChkItem', 'colItemIdx');
		}

		tableReorder(tableId, orderColClass) {
			let _this = this;
			$('#' + tableId + ' tbody tr').each(function (i) {
				$(this).find('.' + orderColClass).text(i + 1);  // ← class 기준으로 변경
			});

			//choi : 새롭게 정렬된 tr에 바인딩을 새로함
			_this.bindChkItemTemplateEvents();

			

			//choi : tableReorder할때 기존에 적용했던 kendo스타일이 죽어 버림. 그래서 다시 설정해 주어야 함
			//console.log("find2=", $("#piCheckTable").find(".chkItemUnitSelect"))
//			$("#piCheckTable").find(".chkItemUnitSelect").each(function () {
//				//console.log("chkItemUnitSelect 재설정")
//				const $select = $(this);
				
//                // 현재 선택된 값 기억
//				const currentValue = $select.val();
//                console.log("selectboxValue:", currentValue);

//                // DropDown 다시 생성하면서 value를 재설정
//				//$select.kendoDropDownList({
//    //                dataSource: _this.chkItemUnitList,
//    //                value: currentValue
//				//});


//				//모양만 설정해 준다
//				$select.kendoDropDownList({
//					dataSource: _this.chkItemUnitList,
//					dataTextField: "codeNm",
//					dataValueField: "codePk",
//					optionLabel: "단위선택",
//                    value: currentValue,
////					change: function () {
////					    const selectedValue = this.value();
////						console.log("index:", index, "selected:", selectedValue);
////					    if (_this.chkItemGrid && _this.chkItemGrid[index]) {
////					        _this.chkItemGrid[index].chkItemNm = selectedValue;  // 데이터 반영
////}
////					}
//				});


				
//			})
		}

		saveData() {
			let _this = this;
			let data = FormUtil.extractForm($('#piMasterForm'));

			console.log("saveData:", data);
			//debugger;

			//choi : tree로 구성된 것은 extractForm에서 뽑지를 못하네..ㅠㅠㅠ
			data.dept_pk = $("#executionDept").data("kendoDropDownTree").value();

			// 유효성 검사
			if (!data.piName) {
				Alert.alert('', '점검명을 입력해주세요.');
				return;
			}

			if (!data.dept_pk) {
				Alert.alert('', '점검부서를 선택해주세요.');
				return;
			}

			if (!data.piManager) {
				Alert.alert('', '점검담당자를 선택해주세요.');
				return;
			}

			if (!data.schedStartDt || !data.cycleType || !data.perNumber) {
				Alert.alert('', '주기 정보를 모두 입력해주세요.');
				return;
			}

			let funcSucc = function (resp) {
				if (resp.success) {
					// 기본 정보 저장 성공 시 작업 인력 저장 진행

					console.log("saveData resp:", resp)

					// choi : 일단 제거
					//_this.savePmLalor(resp);
				} else {
					Alert.alert('error', resp.message);
				}
			};

			AjaxUtil.postAsyncData(_this.baseUrl + '?action=save', data, funcSucc);
			$("#modalPiMaster").fadeOut();
		}

		resetData() {
			let _this = this;
			FormUtil.resetForm($('#piMasterForm'));
			// 폼 리셋 후 cycleInfo 체크
			// this.checkCycleInfo();
		}

		savePmLalor(resp) {
			let _this = this;
			let jobClassData = [];
			$('#jobClassTable tbody tr').not('.no-data').each(function () {
				const job_class_pk = $(this).data('value');
				let work_hr = $(this).find('input[type="number"]').val();
				work_hr = work_hr || 0;
				jobClassData.push({
					job_class_pk: job_class_pk,
					work_hr: work_hr
				});
			});

			// 작업 인력 데이터가 없는 경우 바로 자재 저장으로 진행
			if (jobClassData.length === 0) {
				_this.savePmMtrl(resp);
				return;
			}

			let data = {
				job_classes: JSON.stringify(jobClassData),
				pm_pk: resp.id
			};

			let funcSucc2 = function (resp2) {
				if (resp2.success) {
					_this.savePmMtrl(resp);
				} else {
					Alert.alert('error', resp2.message);
				}
			}

			AjaxUtil.postAsyncData(_this.baseUrl + '?action=save_job_classes', data, funcSucc2);
		}

		savePmMtrl(resp) {
			let _this = this;
			let materialData = [];
			$('#materialTable tbody tr').not('.no-data').each(function () {
				const mat_pk = $(this).data('value');
				let mtrl_qty = $(this).find('input[type="number"]').val();
				mtrl_qty = mtrl_qty || 0;
				materialData.push({
					mat_pk: mat_pk,
					mtrl_qty: mtrl_qty
				});
			});

			// 자재 데이터가 없는 경우 바로 완료 처리
			if (materialData.length === 0) {
				_this.finalizeSave();
				return;
			}

			let data = {
				materials: JSON.stringify(materialData),
				pm_pk: resp.id
			};

			let funcSucc3 = function (resp3) {
				if (resp3.success) {
					_this.finalizeSave();
				} else {
					Alert.alert('error', resp3.message);
				}
			}

			AjaxUtil.postAsyncData(_this.baseUrl + '?action=save_materials', data, funcSucc3);
		}


		init() {
			let _this = this;
			const modal = $("#modalPiMaster");

			// cycleInfo 표시 여부 체크 함수
			this.checkCycleInfo = function () {
				const pmTypeValue = $('#pmType').val();
				if (pmTypeValue === 'PM_TYPE_TBM') {
					$('#cycleInfo').show();
				} else {
					$('#cycleInfo').hide();
				}
			};

			// 데이터 로드 함수
			this.loadPmData = function (pmPk) {
				let param = {
					action: 'read',
					pm_pk: pmPk
				};

				let result = AjaxUtil.getSyncData(this.baseUrl, param);
				if (result) {
					// FormUtil.fillForm($('#piMasterForm'), result);
					// 데이터 로드 직후 cycleInfo 체크
					setTimeout(() => this.checkCycleInfo(), 0);
				}
			};

			// 모달이 표시될 때마다 cycleInfo 체크
			modal.on('show', function () {
				_this.checkCycleInfo();
			});

			//AjaxUtil.fillDropDownOptions($('#pmType'), 'user_code', 'choose', null, 'PM_TYPE');
			AjaxUtil.fillDropDownTreeOptions($("#executionDept"), "depart", "select");
			AjaxUtil.fillDropDownOptions($('#piManager'), 'auth_user', 'choose', null);
			AjaxUtil.fillDropDownOptions($('#cycleType'), 'user_code', 'choose', null, 'CYCLE_TYPE');
			//AjaxUtil.fillDropDownOptions($('#selJobClass'), 'job_class', 'choose', null);

			let today = CommonUtil.getYYYYMMDD();
			$("#schedStartDt").kendoDatePicker({
				value: today,
				format: "yyyy-MM-dd",
			});

			//-----------------점검기본 초기화
			_this.bindMainEvents();

			//-----------------eof 점검기본 초기화


			//-----------------계획 초기화

			//-----------------eof 계획 초기화



			//------------------설비 Kendo 템플릿 초기화
			_this.templateEquip = kendo.template($("#tblChkEquipTemp").html());

			// 2개의 데이타를 준비하고 piCheckTable에 삽입
			$("#piEquipTable").html(_this.templateEquip({
				data: _this.chkEquipGrid
			}));

			_this.tableReorder4Equip();

			_this.bindChkEquipTemplateEvents();
			//------------------end of 설비 Kendo 템플릿 초기화


			//------------------점검항목 Kendo 템플릿 초기화
			_this.template = kendo.template($("#tblChkItemTemp").html());

			// 2개의 데이타를 준비하고 piCheckTable에 삽입
			$("#piCheckTable").html(_this.template({
				data: _this.chkItemGrid, chkItemUnitData: _this.chkItemUnitList
			}));

            //점검항목 버튼 이벤트 추가(1회만)
            $('#addCheckItem').kendoButton({
                themeColor: "base",
                icon: "k-i-plus", // 기어 아이콘 (설비 관련)
                click: function (e) {
                    e.preventDefault();

                    //항목 추가
                    //for test choi : test데이터 연결
                    let checkItemData =
                    {
                        itemIdx: 1,
                        chkItemNm: "압력 체크",
                        lcl: "10",
                        ucl: "50",
                        chkItemUnitPk: "KG",
                        guide: "10~50 psi 유지",
                        method: "게이지로 측정",
                        chkItemPk: 101,
                    };

                    _this.chkItemGrid.push(checkItemData);

                    // 렌더링 결과를 piCheckTable에 삽입
                    $("#piCheckTable").html(_this.template({
                        data: _this.chkItemGrid, chkItemUnitData: _this.chkItemUnitList
                    }));

                    _this.tableReorder('tblChkItem', 'colItemIdx');
                }
			});

			//왜 여기서 호출했지???
			//this.tableReorder('tblChkItem', 'colItemIdx');

			
			//----------------------end of 점검항목추가

		}//end init()



		finalizeSave() {
			Notify.success('저장되었습니다.');
			this.resetData();
			page.searchMainData();
		}

		searchLocationData() {
			let _this = this;

			let param = {
				action: 'read',
			};

			let result = AjaxUtil.getSyncData(_this.baseUrl, param);
			_this.grid.setData(result);
			// 데이터 로드 후 cycleInfo 체크
			this.checkCycleInfo();
		}

		resetForm() {
			// 폼 리셋 시 cycleInfo 체크
			this.checkCycleInfo();
		}

		//pm 마스터
		getPmMasterModal(pmId) {
			let _this = this;

			// 1. PM 상세 정보 API 호출
			let param = {
				action: 'detail',
				id: pmId,
			};
			let pmData = AjaxUtil.getSyncData(_this.baseUrl, param);

			// 2. PM 작업 인력 API 호출
			let param2 = {
				action: 'detail_pm_labor',
				id: pmId,
			};
			let pmDataLabor = AjaxUtil.getSyncData(_this.baseUrl, param2);

			// 3. PM 필요자재 API 호출
			let param3 = {
				action: 'detail_pm_mtrl',
				id: pmId,
			};
			let pmDataMtrl = AjaxUtil.getSyncData(_this.baseUrl, param3);

			// 1.1. 기존 데이터 바인딩
			piMasterPage.bindPmMasterData(pmData);

			// 2.1. 작업인력 테이블 초기화 및 데이터 바인딩
			$('#jobClassTable tbody').empty();

			if (Array.isArray(pmDataLabor) && pmDataLabor.length > 0) {
				pmDataLabor.forEach((labor, index) => {

					// null 체크를 포함한 안전한 데이터 접근
					const id = labor?.id || '';
					const job_class_pk = labor?.job_class_pk || '';
					const job_class_nm = labor?.job_class_nm || '';
					const work_hr = labor?.work_hr || '';

					const newRow = `
						<tr data-value="${job_class_pk}">
							<td>${index + 1}</td>
							<td style="display: none;">${job_class_pk}</td>
							<td>${job_class_nm}</td>
							<td>
								<input type="number"
									   class="form-control form-control-sm text-end"
									   min="0"
									   step="0.5"
									   placeholder="시간 입력"
									   value="${work_hr}" />
							</td>
							<td class="text-center">
								<button type="button" class="btn-delete" onclick="deleteJobClassRow(this)">×</button>
							</td>
						</tr>
					`;
					$('#jobClassTable tbody').append(newRow);
				});
			} else {
				console.log("📌 [ERROR] 작업인력 데이터가 없거나 유효하지 않음:", pmDataLabor);
			}

			// 3.1. 필요자재 테이블 초기화 및 데이터 바인딩
			$('#materialTable tbody').empty();  // 기존 테이블 초기화

			if (Array.isArray(pmDataMtrl) && pmDataMtrl.length > 0) {
				pmDataMtrl.forEach((mtrl, index) => {

					// null 체크를 포함한 안전한 데이터 접근
					const mat_pk = mtrl?.mat_pk || '';
					const mat_cd = mtrl?.mat_cd || '';
					const mat_nm = mtrl?.mat_nm || '';
					const amt = mtrl?.amt || '0';  // 기본값 설정
					const unit = mtrl?.BasicUnit || '';

					const newRow = `
						<tr data-value="${mat_pk}">
							<td>${mat_cd}</td>
							<td>${mat_nm}</td>
							<td>
								<input type="number"
									   class="form-control form-control-sm text-end"
									   min="0"
									   step="1"
									   value="${amt}"
									   placeholder="수량 입력"
									   name="amt"/>
							</td>
							<td>${unit}</td>
							<td class="text-center">
								<button type="button" class="btn-delete" onclick="deleteMaterialRow(this)">×</button>
							</td>
						</tr>
					`;
					$('#materialTable tbody').append(newRow);  // materialTable로 수정
				});
			} else {
				console.log("📌 [ERROR] 필요자재 데이터가 없거나 유효하지 않음:", pmDataMtrl);
			}

			$("#modalPiMaster").fadeIn();
		}

		/**
		 * PM 마스터 데이터를 모달 폼에 바인딩하는 함수
		 * @param {Object} pmData - PM 마스터 상세 데이터
		 */
		bindPmMasterData(pmData) {
			// 기본 필드 바인딩
			const basicFields = {
				'equip_pk': pmData.equip_pk,
				'pm_pk': pmData.pm_pk,
				'pmNumber': pmData.pm_no,
				'piName': pmData.pm_nm,
				'work_text': pmData.work_text,
				'equ_code': pmData.equ_code,
				'equ_name': pmData.equ_name,
				'equ_loc': pmData.equ_location,
				'equ_import': pmData.import_rank,
				'equ_status': pmData.Status,
				'equ_env_yn': pmData.environ_equip_yn,
				'maintenanceTime': pmData.work_expect_hr,
				'perNumber': pmData.per_number,
				'schedStartDt': pmData.sched_start_dt
			};

			// 기본 필드 값 설정
			// choi : 한꺼번에 값을 바인딩하네
			Object.entries(basicFields).forEach(([id, value]) => {
				$(`#${id}`).val(value);
			});

			// Kendo 드롭다운 컴포넌트 바인딩
			const kendoDropdowns = [
				{
					id: 'executionDept',
					type: 'kendoDropDownTree',
					value: pmData.exec_dept
				},
				{
					id: 'piManager',
					type: 'kendoDropDownList',
					value: pmData.pm_manager
				},
				{
					id: 'pmType',
					type: 'kendoDropDownList',
					value: pmData.pm_type
				},
				{
					id: 'cycleType',
					type: 'kendoDropDownList',
					value: pmData.cycle_type
				}
			];

			kendoDropdowns.forEach(dropdown => {
				const component = $(`#${dropdown.id}`).data(dropdown.type);
				if (component) {
					component.one("dataBound", function () {
						component.value(dropdown.value);
						component.trigger("change");

						if (!component.value()) {
							component.text(dropdown.value);
						}
					});
					component.dataSource.read();
				}
			});
		}//bindPmMasterData
	}//class PiMaster


	$(document).ready(function () {
		piMasterPage = new PiMaster();

		// pmType 선택 이벤트 핸들러 추가
		$('#pmType').on('change', function () {
			piMasterPage.checkCycleInfo();
		});

		// 모달이 표시될 때마다 cycleInfo 체크 (jQuery fadeIn 방식)
		const originalFadeIn = $.fn.fadeIn;
		$.fn.fadeIn = function () {
			if (this.attr('id') === 'modalPiMaster') {
				setTimeout(() => piMasterPage.checkCycleInfo(), 0);
			}
			return originalFadeIn.apply(this, arguments);
		};





	});


</script>