<div id="modalWoDetail" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<h4>WO 상세정보</h4>
		</div>

		<div class="modal-body">
			<!-- 결재 라인 -->
			<div class="section-header">
				<div id="woApprovalLineContainer_WoDetail">
					{% include 'components/WoApprovalLine.html' with dataPk='' %}
				</div>
				<div>
					<input type="checkbox" id="mergeTabsCheckbox" name="mergeTabsCheckbox" />
					<label>작업내역 한 탭에서 보기</label>
				</div>
			</div>

			<!-- 대상설비 섹션 -->
			<div class="equipment-section">
				<div class="form-row">
					<input type="hidden" id="tabId" name="tabId" />
					<div class="form-group col-12">
						<label>작업제목</label>
						<input type="text" class="form-control" id="sum_work_title" name="sum_work_title" readonly>
					</div>
					<div class="form-group col-12">
						<label>작업유형</label>
						<input type="text" class="form-control" id="sum_wo_type_nm" name="sum_wo_type_nm" readonly>
					</div>
					<div class="form-group col-12">
						<label>보전유형</label>
						<input type="text" class="form-control" id="sum_maint_type_nm" name="sum_maint_type_nm" readonly>
					</div>
					<div class="form-group col-12">
						<label>요청자</label>
						<input type="text" class="form-control" id="sum__creater_nm" name="sum__creater_nm" readonly>
					</div>
					<div class="form-group col-12">
						<label>희망일</label>
						<input type="text" class="form-control" id="sum_want_dt" name="sum_	want_dt" readonly>
					</div>
				</div>
			</div>
			<!-- 탭 섹션 -->
			<div class="section">
				<div class="tab-group" id="tab-group">
					<button class="tab-button" data-tab="reqInfo" style="background: #1e4f88; color: white; border-color: #1e4f88;">요청정보</button>
					<button class="tab-button" data-tab="mergedWorkInfo" style="display: none">작업내역(전체)</button>
					<button class="tab-button" data-tab="workInfo">작업내역</button>
					<button class="tab-button" data-tab="manpowerInfo">작업 인력/자재</button>
					<button class="tab-button" data-tab="fileInfo">파일</button>
					<button class="tab-button" data-tab="logInfo">로그</button>
				</div>
				<div class="tab-content" id="tab-content">
					<!-- 요청정보 탭 컨텐츠 -->
					<div class="tab-pane" id="reqInfo" style="display: block; height: 400px;">
						<div class="modal-table-header-line"></div>
						<table class="detail-table">
							<tr>
								<th width="120">작업제목</th>
								<td id="req_work_title" colspan="7"></td>
							</tr>
							<tr>
								<th>WO 번호</th>
								<td width="150">
									<a href="#" id="workOrderNoLink" data-work-order-pk="" style="color: #007bff; text-decoration: underline; cursor: pointer;">
										<span id="req_work_order_no"></span>
									</a>
								</td>
								<th width="120">PM 번호</th>
								<td id="req_pm_no" width="150"></td>
								<th width="120">보전유형</th>
								<td id="req_maint_type_nm" width="150"></td>
								<th width="120">작업구분</th>
								<td id="req_wo_type_nm"></td>
							</tr>
							<tr>
								<th>현상</th>
								<td id="req_problem_nm" colspan="3"></td>
								<th>프로젝트</th>
								<td id="req_proj_nm" colspan="3"></td>
							</tr>
							<tr>
								<th>설비</th>
								<td id="req_equip_cd_nm" colspan="5"></td>
								<th>설비중요도</th>
								<td id="req_import_rank_cd"></td>
							</tr>
							<tr>
								<th>카테고리</th>
								<td id="req_equip_category_desc"></td>
								<th>상위설비</th>
								<td id="req_loc_nm"></td>
								<th>설비위치</th>
								<td id="req_up_loc_nm" colspan="3"></td>
							</tr>
						</table>
						<br />
						<div class="form-row">
							<div class="form-group">
								<label>작업지침</label>
								<textarea class="form-control" id="req_pm_work_text" name="req_pm_work_text" style="height:180px !important;"></textarea>
							</div>
						</div>
					</div>
					<!-- 작업내역 탭 컨텐츠 -->
					<form id="workResultForm">
						<input type="hidden" id="work_order_pk" name="work_order_pk" />
						<div class="tab-pane active" id="workInfo" style="display: block; height: 400px;">
							<div class="form-row">
								<div class="form-group col-12">
									<label>작업부서<span class="required">*</span></label>
									<input type="hidden" id="wo_dept_pk" name="wo_dept_pk">
									<input type="text" class="form-control" id="wo_dept_nm" name="wo_dept_nm">
								</div>
								<div class="form-group col-12">
									<label>작업담당자<span class="required">*</span></label>
									<input type="text" class="form-control" id="wo_work_charger_nm" name="wo_work_charger_nm">
									<select id="wo_work_charger_sel" name="wo_work_charger_sel"></select>
								</div>
								<div class="form-group col-12">
									<label>작업계획일<span class="required">*</span></label>
									<div class="date-range-input">
										<input type="text" class="form-control" id="wo_plan_dt" name="wo_plan_dt">
										<input type="date" id="wo_plan_start_dt" name="wo_plan_start_dt" />
										<span class="spandt" style="margin:0 5px;">~</span>
										<input type="date" id="wo_plan_end_dt" name="wo_plan_end_dt" />
									</div>
								</div>
								<div class="form-group col-12">
									<label>보전유형<span class="required">*</span></label>
									<input type="hidden" id="wo_maint_type_cd" name="wo_maint_type_cd">
									<input type="text" class="form-control" id="wo_maint_type_nm" name="wo_maint_type_nm">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-12">
									<label>현상<span class="required">*</span></label>
									<input type="text" class="form-control" id="wo_problem_nm" name="wo_problem_nm">
									<select id="wo_problem_sel" name="wo_problem_sel"></select>
								</div>
								<div class="form-group col-12">
									<label>원인<span class="required">*</span></label>
									<input type="text" class="form-control" id="wo_cause_nm" name="wo_cause_nm">
									<select id="wo_cause_sel" name="wo_cause_sel"></select>
								</div>
								<div class="form-group col-12">
									<label>조치<span class="required">*</span></label>
									<input type="text" class="form-control" id="wo_remedy_nm" name="wo_remedy_nm">
									<select id="wo_remedy_sel" name="wo_remedy_sel"></select>
								</div>
								<div class="form-group col-12">
									<label>프로젝트</label>
									<input type="text" class="form-control" id="wo_proj_nm" name="wo_proj_nm">
									<select id="wo_proj_sel" name="wo_proj_sel"></select>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-12">
									<label>작업구분<span class="required">*</span></label>
									<input type="text" class="form-control" id="wo_work_src_nm" name="wo_work_src_nm">
									<select id="wo_work_src_sel" name="wo_work_src_sel"></select>
								</div>
								<div class="form-group col-12">
									<label>작업기간(시작~종료)<span class="required">*</span></label>
									<div class="date-range-input">
										<input type="text" class="form-control" id="wo_start_end_dt" name="wo_start_end_dt">
										<input type="date" id="wo_start_dt" name="wo_start_dt" />
										<span class="spandt" style="margin:0 5px;">~</span>
										<input type="date" id="wo_end_dt" name="wo_end_dt" />
									</div>
								</div>
								<div class="form-group">
									<label></label>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group">
									<label>작업내역</label>
									<textarea class="form-control" id="wo_work_text" name="wo_work_text"></textarea>
								</div>
							</div>
						</div>
					</form>
					<!-- 작업 인력/자재 탭 컨텐츠 -->
					<div class="tab-pane" id="manpowerInfo">
						<div class="grid-content">
							<div class="grid-header">
								<label data-labelCd="외주업체">외주업체</label>
								<span id="woSupplierCount">(Count: 0)</span>
							</div>
							<div id="woSupplierGrid"></div>
						</div>
						<div class="grid-content">
							<div class="grid-header">
								<label data-labelCd="작업인력 또는 직종 추가">작업인력 또는 직종 추가</label>
								<span id="woManpowerCount">(Count: 0)</span>
							</div>
							<div id="woManpowerGrid"></div>
						</div>
						<div class="grid-content">
							<div class="grid-header">
								<label data-labelCd="작업자재">작업자재</label>
								<span id="woMaterialCount">(Count: 0)</span>
							</div>
							<div id="woMaterialGrid"></div>
						</div>
						<div class="cost-content">
							<div class="cost-header">
								<label data-labelCd="총 작업비용 요약">총 작업비용 요약</label>
							</div>
							<div id="totalCostSummary" name="totalCostSummary">
								<div class="cost-item">
									<div class="cost-label">자재비</div>
									<div id="materialCostValue" name="materialCostValue" class="cost-value">₩ 0</div>
								</div>
								<div class="cost-item">
									<div class="cost-label">인건비</div>
									<div id="laborCostValue" name="laborCostValue" class="cost-value">₩ 0</div>
								</div>
								<div class="cost-item">
									<div class="cost-label">외주비</div>
									<div id="outsourcingCostValue" name="outsourcingCostValue" class="cost-value">₩ 0</div>
								</div>
								<div class="cost-item">
									<div class="cost-label">경비</div>
									<div id="expenseValue" name="expenseValue" class="cost-value">₩ 0</div>
								</div>
								<div class="cost-item total-cost-item">
									<div class="cost-label">전체비용</div>
									<div id="totalCostValue" name="totalCostValue" class="cost-value total-cost-value">₩ 0</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 파일 탭 컨텐츠 -->
					<div class="tab-pane" id="fileInfo">
						{% include 'components/FileUpload.html' with tableName='cm_material' attachName='file' dataPk=cm_material.mtrl_pk|default:'' %}
					</div>
					<!-- 로그 탭 컨텐츠 -->
					<div class="tab-pane" id="logInfo">
						<div id="logInfoGrid"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- 버튼 영역 -->
		<div class="modal-footer">
			<button type="button" class="btn-save" id="btnWoSave">저장</button>
			<button type="button" class="btn-close" id="closeWoModal">닫기</button>
		</div>
	</div>
</div>

<style>
	.form-group {
		flex: 1;
	}

	textarea.form-control {
		min-height: 80px;
		resize: none;
		line-height: 1.4;
	}

	.required {
		color: #e74c3c;
		margin-left: 3px;
	}

	.grid {
		width: 100%;
		margin-bottom: 20px;
	}

	/* 탭 영역 */
	.tab-group {
		display: flex;
		margin-bottom: 10px;
		border-bottom: 1px solid #1e4f88;
	}

	.tab-button {
		padding: 6px 20px;
		border: 1px solid #ccc;
		background: #f5f5f5;
		cursor: pointer;
		font-size: 12px;
	}

		.tab-button.active {
			background: #4682B4;
			color: white;
			border-color: #4682B4;
		}

	/* 탭 컨텐츠 */
	.tab-content {
		min-height: 400px;
	}

	.tab-pane {
		display: none;
	}

		.tab-pane.active {
			display: block;
		}

	/* 모달 */
	#modalWoDetail {
		z-index: 1000;
	}

	.detail-table {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid #ddd;
	}

		.detail-table th,
		.detail-table td {
			border: 1px solid #ddd;
			padding: 5px 8px;
			font-size: 12px;
			height: 28px;
		}

		.detail-table th {
			background-color: #f5f5f5;
			font-weight: normal;
			text-align: left;
		}

	.equipment-section {
		margin-bottom: 20px;
	}

	/* date-range-input 스타일 */
	.date-range-input {
		display: flex;
		align-items: center;
		gap: 5px;
	}
	/* 날짜 입력 필드의 테두리를 항상 유지하려면 */
	.k-datepicker .k-input,
	.k-input {
		border: 1px solid #dee2e6 !important;
		box-sizing: border-box;
		height: 28px !important;
	}

	/* 작업 인력/자재 탭 스타일 */
	.grid-content {
		margin-bottom: 20px;
	}

	.grid-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}

    .cost-content {
        margin-bottom: 20px;
    }

	.cost-header {
		margin-bottom: 10px;
	}

	/* 총 작업비용 요약 컨테이너 */
	#totalCostSummary {
		border: 1px solid #00bcd4;
		border-radius: 4px;
		padding: 10px;
		display: flex;
		color: #555;
	}

	/* 각 비용 항목 (자재비, 인건비 등) */
	.cost-item {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding-left: 10px;
		padding-right: 10px;
		border-right: 0.1px solid #999; /* 마지막 항목 제외는 하위 선택자로 처리 */
	}

		/* 마지막 전체비용 항목 */
		.cost-item.total-cost-item {
			flex: 1.5; /* 다른 항목보다 크기 키움 */
			border-right: none; /* 마지막 항목은 선 제거 */
		}

	/* 비용 항목 내 레이블 (자재비, 인건비 등 텍스트) */
	.cost-label {
		font-size: 12px;
		color: #999;
		text-align: left;
	}

	/* 전체비용 레이블 폰트 크기 조정 */
	.total-cost-item .cost-label {
		font-size: 13px;
	}

	/* 비용 항목 내 값 (숫자) */
	.cost-value {
		font-weight: 600;
		font-size: 16px;
		text-align: right;
	}

	/* 전체비용 값 폰트 스타일 조정 */
	.total-cost-value {
		font-weight: 700;
		font-size: 20px;
		color: #e53935;
	}
</style>

<script type="text/javascript">
	class WorkOrder {
		constructor() {
			this.baseUrl = '/api/kmms/pm_master';

			this.woTypeNm = '';
			this.apprLines = '';
			this.stateCd = '';
			this.classRQ = '';
			this.classOC = '';
			this.classAP = '';
			this.classCM = '';
			this.classCL = '';

			this.init();
		}

		init() {
			let _this = this;
			const modal = $("#modalWoDetail");

			this.bindMergeTabToggle();

			//$("#woSupplierGrid").kendoGrid({
			//	dataSource: new kendo.data.DataSource({
			//		transport: {
			//			read: {
			//				url: this.baseUrl,
			//				dataType: "json",
			//				contentType: "application/json",
			//				data: function () {
			//					return {
			//						action: 'read_work_order_hist',
			//						id: $('#work_order_pk').val()
			//					};
			//				}
			//			}
			//		},
			//	}),
			//	height: 100,
			//	sortable: true,
			//	autoBind: false, // 자동 데이터 바인딩 비활성화
			//	columns: [
			//		{ field: "ex_supplier_pk", title: "id", hidden: true },
			//		{ field: "ex_supplier_nm", title: "외주업체명", width: 6 },
			//		{ field: "cost", title: "비용", width: 4 },
			//	],
			//	noRecords: {
			//		template: "조회된 데이터가 없습니다."
			//	},
			//	dataBound: function (e) {
			//		const count = this.dataSource.total();
			//		$("#woSupplierCount").text(`(Count: ${count})`);
			//	}
			//});

			//$("#woManpowerGrid").kendoGrid({
			//	dataSource: new kendo.data.DataSource({
			//		transport: {
			//			read: {
			//				url: this.baseUrl,
			//				dataType: "json",
			//				contentType: "application/json",
			//				data: function () {
			//					return {
			//						action: 'read_work_order_hist',
			//						id: $('#work_order_pk').val()
			//					};
			//				}
			//			}
			//		},
			//	}),
			//	height: 100,
			//	sortable: true,
			//	autoBind: false, // 자동 데이터 바인딩 비활성화
			//	columns: [
			//		{ field: "work_order_pk", title: "id", hidden: true },
			//		{ field: "job_class_nm", title: "작업인력 또는 직종 추가", width: 120 },
			//		{ field: "worker_nos", title: "인원수", width: 120, },
			//		{ field: "wage_cost", title: "노임단가(시급)", width: 100 },
			//		{ field: "work_hr", title: "예상작업시간", width: 100 },
			//		{ field: "real_work_hr", title: "실제작업시간", width: 100 }
			//	],
			//	noRecords: {
			//		template: "조회된 데이터가 없습니다."
			//	},
			//	dataBound: function (e) {
			//		const count = this.dataSource.total();
			//		$("#woManpowerCount").text(`(Count: ${count})`);
			//	}
			//});

			//$("#woMaterialGrid").kendoGrid({
			//	dataSource: new kendo.data.DataSource({
			//		transport: {
			//			read: {
			//				url: this.baseUrl,
			//				dataType: "json",
			//				contentType: "application/json",
			//				data: function () {
			//					return {
			//						action: 'read_work_order_hist',
			//						id: $('#work_order_pk').val()
			//					};
			//				}
			//			}
			//		},
			//	}),
			//	height: 100,
			//	sortable: true,
			//	autoBind: false, // 자동 데이터 바인딩 비활성화
			//	columns: [
			//		{ field: "work_order_hist_pk", title: "id", hidden: true },
			//		{ field: "mtrl_cd", title: "자재코드", width: 120 },
			//		{ field: "mtrl_nm", title: "자재명", width: 120, },
			//		{ field: "unit_price", title: "자재단가", width: 100 },
			//		{ field: "plan_amt", title: "예상소요량", width: 100 },
			//		{ field: "amtrl_amt", title: "A급 수량", width: 100 },
			//		{ field: "bmtrl_amt", title: "B급 수량", width: 100 }
			//	],
			//	noRecords: {
			//		template: "조회된 데이터가 없습니다."
			//	},
			//	dataBound: function (e) {
			//		const count = this.dataSource.total();
			//		$("#woMaterialCount").text(`(Count: ${count})`);
			//	}
			//});

			//$("#logInfoGrid").kendoGrid({
			//	dataSource: new kendo.data.DataSource({
			//		transport: {
			//			read: {
			//				url: this.baseUrl,
			//				dataType: "json",
			//				contentType: "application/json",
			//				data: function () {
			//					return {
			//						action: 'read_work_order_hist',
			//						id: $('#work_order_pk').val()
			//					};
			//				}
			//			}
			//		},
			//	}),
			//	height: 300,
			//	sortable: true,
			//	autoBind: false, // 자동 데이터 바인딩 비활성화
			//	columns: [
			//		{ field: "work_order_hist_pk", title: "id", hidden: true },
			//		{ field: "after_status_nm", title: "상태", width: 120 },
			//		{ field: "changer_nm", title: "담당자", width: 120, },
			//		{ field: "change_reason", title: "비고", width: 100 },
			//		{ field: "change_ts", title: "일시", width: 100 }
			//	],
			//	noRecords: {
			//		template: "조회된 데이터가 없습니다."
			//	}
			//});

			$('.tab-button').on('click', function () {
				const tabId = $(this).data('tab');

				// 보이는 버튼만 스타일 초기화
				$('.tab-button').each(function () {
					if ($(this).is(':visible')) {
						$(this).removeClass('active').css({
							'background': '',
							'color': '',
							'border-color': ''
						});
					}
				});

                $('#modalWoDetail .tab-pane').removeClass('active').hide();

				$(this).addClass('active').css({
					'background': '#1e4f88',
					'color': 'white',
					'border-color': '#1e4f88'
				});

				if (tabId) {
					$('#' + tabId).addClass('active').show();
					if (tabId === 'mergedWorkInfo') {
						$('#workInfo').show();
						$('#manpowerInfo').show();
						$('#fileInfo').show();
					};
				};

				// 탭 ID 저장 및 트리거
				$(document).trigger(tabId);
				$("#tabId").val(tabId);
			});

			$("#btnWoSave").kendoButton({
				icon: "k-i-save",
				click: function (e) {
					e.preventDefault();
					_this.saveData();
				}
			})

			// 모달 닫기
			$('#closeWoModal').kendoButton({
				click: () => modal.fadeOut()
			});

			// ESC 키로 모달 닫기
			$(document).on('keydown', (e) => {
				if (e.keyCode === 27) modal.fadeOut();
			});

		}

		//작업내역 한 탭에서 보기
		bindMergeTabToggle() {
			const _this = this;

			$('#mergeTabsCheckbox').on('change', function () {
				const isChecked = $(this).is(':checked');
				const $tabGroup = $('#tab-group');
				const $tabContent = $('#tab-content');

				// 모든 탭 버튼과 탭 콘텐츠를 숨김 처리
				$tabGroup.find('.tab-button')
					.removeClass('active')
					.removeAttr('style')
					.hide();

                $tabContent.find('#modalWoDetail .tab-pane')
					.removeClass('active')
					.hide();

				// 요청정보는 항상 표시
				$tabGroup.find('[data-tab="reqInfo"]').show();
				$tabContent.find('#reqInfo').show();

				$('[data-tab="reqInfo"]').addClass('active').css({
					'background': '#1e4f88',
					'color': 'white',
					'border-color': '#1e4f88'
				});

				if (isChecked) {
					$tabGroup.find('[data-tab="mergedWorkInfo"]').show();
				} else {
					$tabGroup.find('[data-tab="workInfo"]').show();
					$tabGroup.find('[data-tab="manpowerInfo"]').show();
					$tabGroup.find('[data-tab="fileInfo"]').show();
				}

				// 로그 탭 항상 표시
				$tabGroup.find('[data-tab="logInfo"]').show();
			});
		}

		// 작업 결과 저장
		saveData() {
			let _this = this;
			let data = FormUtil.extractForm($('#workResultForm'));

			// 유효성 검사
			if (!$('#wo_work_charger_sel').val()) {
				Alert.alert('', '작업담당자를 선택해주세요.');
				return;
			}
			if (!$('#wo_plan_start_dt').val()) {
				Alert.alert('', '작업계획시작일을 입력해주세요.');
				return;
			}
			if (!$('#wo_plan_end_dt').val()) {
				Alert.alert('', '작업계획종료일을 입력해주세요.');
				return;
			}
			if (!$('#wo_problem_sel').val()) {
				Alert.alert('', '현상을 선택해주세요.');
				return;
			}
			if (!$('#wo_cause_sel').val()) {
				Alert.alert('', '원인을 선택해주세요.');
				return;
			}
			if (!$('#wo_remedy_sel').val()) {
				Alert.alert('', '조치를 선택해주세요.');
				return;
			}
			if (!$('#wo_start_dt').val()) {
				Alert.alert('', '작업시작일을 입력해주세요.');
				return;
			}
			if (!$('#wo_end_dt').val()) {
				Alert.alert('', '작업종료일을 입력해주세요.');
				return;
			}

			let funcSucc = function (resp) {
				if (resp.success) {
					// 기본 정보 저장 성공 시 작업 인력 저장 진행
					Notify.success('저장되었습니다.');
				} else {
					Alert.alert('error', resp.message);
				}
			};

			AjaxUtil.postAsyncData(_this.baseUrl + '?action=save_work_order', data, funcSucc);
			$("#modalWoDetail").fadeOut();
		}

		//작업 결과
		show(work_order_pk, idx) {
			let _this = this;

			// work_order_pk 설정
			$('#work_order_pk').val(work_order_pk);

			// WoApprovalLine 동적 로드
			this.loadWoApprovalLine(work_order_pk);

			// 설비 상세 정보 API 호출
			let param = {
				action: 'read_work_order_summary',
				id: work_order_pk,
			};
			let woSummaryData = AjaxUtil.getSyncData(_this.baseUrl, param);

			// 1.1. summary 데이터
			this.bindWoSummaryData(woSummaryData);

			// TODO: 요청정보 데이터 바인딩
			this.getWoRequestData(woSummaryData);

			// TODO: 작업내역 데이터 바인딩
			this.getWoInfoData(woSummaryData);

			if (woSummaryData) {
				$('#mergeTabsCheckbox').trigger('change');
				$("#modalWoDetail").fadeIn();

				// 작업내역 탭을 기본으로 활성화
				switch (idx) {
					case 1:
						$("#tabId").val('reqInfo');
						$('#mergedWorkInfo input, #mergedWorkInfo textarea').prop('readonly', true);
						break;
					case 2:
						$("#tabId").val('mergedWorkInfo');
						// mergedWorkInfo 탭의 모든 input의 readonly 속성 제거
						$('#mergedWorkInfo input, #mergedWorkInfo textarea').prop('readonly', false);
						// 작업부서와 보전유형만 readonly로 설정
						$('#wo_dept_nm, #wo_maint_type_nm').prop('readonly', true);
						break;
					default:
						$("#tabId").val('logInfo');
						break;
				}

				this.activateTab($("#tabId").val(), woSummaryData);

				// 그리드 데이터 리프레시
				//$("#logInfoGrid").data("kendoGrid").dataSource.read();
			}
		}

		// WoApprovalLine 동적 로드 메소드
		loadWoApprovalLine(woNoPk) {
			if (window.approvalLine && typeof window.approvalLine.onWorkOrderClick === 'function') {
				// WoDetail 모달용 기본 ID 사용
				window.approvalLine.onWorkOrderClick(woNoPk, 'WoDetail');
			}
		}

		// 탭 활성화 메서드
		activateTab(tabId, data) {
			//$('.tab-button').removeClass('active').removeAttr('style');
			console.log("tabId: ", tabId);
			$('.tab-button:visible').each(function () {
				$(this).removeClass('active').css({
					'background': '',
					'color': '',
					'border-color': ''
				});
			});

            $('#modalWoDetail .tab-pane').removeClass('active').hide();
			$(`.tab-button[data-tab="${tabId}"]`).addClass('active').css({
				'background': '#1e4f88',
				'color': 'white',
				'border-color': '#1e4f88'
			});
			$(`#${tabId}`).addClass('active').show();

			// 작업담당자 필드 전환
			if (tabId === 'reqInfo') {
				$('#wo_work_charger_nm').show();
				$('#wo_plan_dt').show();
				$('#wo_work_charger_sel').css("display", "none"); // ← 이 부분 추가!

				$('.spandt').css("display", "none");
				$('#wo_plan_start_dt,#wo_plan_end_dt,#wo_start_dt,#wo_end_dt').css({
					'position': 'absolute',
					'left': '-9999px'
				});

				$('#wo_problem_sel').css("display", "none");
				$('#wo_cause_sel').css("display", "none");
				$('#wo_remedy_sel').css("display", "none");
				$('#wo_proj_sel').css("display", "none");
				$('#wo_work_src_sel').css("display", "none");

			} else if (tabId === 'mergedWorkInfo') {
				// 기존 옵션 제거
				$('#wo_work_charger_sel').empty();
				$('#wo_work_src_sel').empty();


				$('#wo_plan_dt,#wo_start_end_dt, #wo_work_charger_nm,#wo_problem_nm,#wo_cause_nm,#wo_remedy_nm,#wo_proj_nm,#wo_work_src_nm').css({
					'position': 'absolute',
					'left': '-9999px'
				});

				AjaxUtil.fillDropDownOptions($('#wo_work_charger_sel'), 'cm_user_info', 'choose', data.work_charger_pk);

				//위치원상복구
				$('#wo_plan_start_dt,#wo_plan_end_dt,#wo_start_dt,#wo_end_dt').css({
					position: '',
					left: ''
				});

				$("#wo_plan_start_dt").kendoDatePicker({
					value: data.plan_start_dt,
					format: "yyyy-MM-dd",
				});

				$("#wo_plan_end_dt").kendoDatePicker({
					value: data.plan_end_dt,
					format: "yyyy-MM-dd",
				});

				AjaxUtil.fillDropDownOptions($('#wo_problem_sel'), 'user_code', 'choose', data.problem_cd, 'PC');
				AjaxUtil.fillDropDownOptions($('#wo_cause_sel'), 'user_code', 'choose', data.cause_cd, 'CC');
				AjaxUtil.fillDropDownOptions($('#wo_remedy_sel'), 'user_code', 'choose', data.remedy_cd, 'RC');

				AjaxUtil.fillDropDownOptions($('#wo_proj_sel'), 'project', 'choose', null);
				AjaxUtil.fillDropDownOptions($('#wo_work_src_sel'), 'user_code', 'choose', data.work_src_cd, 'WORK_SRC');

				$("#wo_start_dt").kendoDatePicker({
					value: data.start_dt,
					format: "yyyy-MM-dd",
				});

				$("#wo_end_dt").kendoDatePicker({
					value: data.end_dt,
					format: "yyyy-MM-dd",
				});

			}
		}

		bindWoSummaryData(data) {
			console.log('bindWoSummaryData:', data);
			//기본 필드 바인딩
			const basicFields = {
				'work_order_pk': data.work_order_pk,
				'sum_work_title': data.work_title,
				'wo_status_nm': data.wo_status_nm,
				'sum_wo_type_nm': data.wo_type_nm,
				'sum_maint_type_nm': data.maint_type_nm,
				'sum__creater_nm': data._creater_nm,
				'sum_want_dt': data.want_dt,
			};

			// 기본 필드 값 설정
			Object.entries(basicFields).forEach(([id, value]) => {
				$(`#${id}`).val(value);
			});
		}

		// 요청정보 데이터 바인딩
		getWoRequestData(data) {

			//기본 필드 바인딩
			const reqFields = {
				'work_order_pk': data.work_order_pk,
				'req_work_title': data.work_title,
				'req_work_order_no': data.work_order_no,
				'req_pm_no': data.pm_no,
				'req_maint_type_nm': data.maint_type_nm,
				'req_wo_type_nm': data.wo_type_nm,
				'req_problem_nm': data.problem_nm,
				'req_proj_nm': data.proj_nm,
				'req_equip_cd_nm': '[' + data.equip_cd + '] ' + data.equip_nm,
				'req_import_rank_cd': data.import_rank_cd,
				'req_equip_category_desc': data.equip_category_desc,
				'req_loc_nm': data.loc_nm,
				'req_up_loc_nm': data.up_loc_nm,
				'req_pm_work_text': data.pm_work_text,
			};

			// 기본 필드 값 설정
			Object.entries(reqFields).forEach(([id, value]) => {
				$(`#${id}`).text(value);
			});
			
			// 작업지시번호 하이퍼링크에 work_order_pk 설정
			$('#workOrderNoLink').data('work-order-pk', data.work_order_pk);
		}
		// 작업내역 데이터 바인딩
		getWoInfoData(data) {
			//console.log('getWoInfoData:', data);
			//기본 필드 바인딩
			const reqFields = {
				'work_order_pk': data.work_order_pk,
				'wo_dept_pk': data.dept_pk,
				'wo_dept_nm': data.dept_nm,
				'wo_work_charger_nm': data.work_charger_nm,
				'wo_plan_dt': data.plan_start_dt + ' ~ ' + data.plan_end_dt,
				'wo_maint_type_cd': data.maint_type_cd,
				'wo_maint_type_nm': data.maint_type_nm,
				'wo_problem_nm': data.problem_nm,
				'wo_cause_nm': data.cause_nm,
				'wo_remedy_nm': data.remedy_nm,
				'wo_proj_nm': data.proj_nm,
				'wo_work_src_nm': data.work_src_nm,
				'wo_start_end_dt': data.start_dt + ' ~ ' + data.end_dt,
				'wo_work_text': data.work_text,
			};

			// 기본 필드 값 설정
			Object.entries(reqFields).forEach(([id, value]) => {
				$(`#${id}`).val(value);
			});

		}
	}

	let woDetailPage = null;

	$(document).ready(function () {
		woDetailPage = new WorkOrder();
	});
</script>