<div id="modalWoStatHist" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4>작업상태이력</h4>
        </div>
        <div class="modal-body">
            <form id="WoStatHistForm">
                <div class="form-section">
                    <!-- 그리드 영역 -->
                    <div class="grid-section">
                        <div id="recentAmtUnitGrid"></div>
                    </div>
                </div>
            </form>
        </div>
        <!-- 버튼 영역 -->
        <div class="modal-footer">
            <button type="button" class="btn-close" id="closemodalWoStatHist">닫기</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    let woStatHistPage = null;
    class WoStatHistPage {
        constructor() {
            this.grid = null;
            this.baseUrl = '/api/kmms/work_order_hist';
            this.workOrderPk = null;
            this.init();
        }

        init() {
            const modal = $("#modalWoStatHist");
            const closeModalBtn = $("#closeModal");

            $("#closemodalWoStatHist").kendoButton({
                themeColor: "base",
                click: (e) => {
                    e.preventDefault();
                    modal.fadeOut();
                }
            });

            // 그리드 초기화
            this.grid = $("#recentAmtUnitGrid").kendoGrid({
                columns: [          
					{ field: 'after_status_nm', title: '상태', width: 120 },
					{ field: 'changer_nm', title: '처리자', width: 100 },
					{ field: 'change_ts', title: '처리일시', width: 150 },
					{ field: 'change_reason', title: '처리비고', width: 150 },
                ],
                selectable: true,
            }).data("kendoGrid");

        }

        searchAmtUnitData() {
            let _this = this;

            let param = {
				action: 'selectWorkOrderHists',
				workOrderPk: _this.workOrderPk,
            };

            let result = AjaxUtil.getSyncData(_this.baseUrl, param);
            _this.grid.setDataSource(new kendo.data.DataSource({
                data: result
            }));
        }

		show(woId) {
            let _this = this;
            _this.workOrderPk = woId;

            $("#modalWoStatHist").fadeIn();
            _this.searchAmtUnitData();
        }

    }

    $(document).ready(function () {
        woStatHistPage = new WoStatHistPage();
    });

</script>